.work-header {
    height: 300px;
    padding: 4px;
    margin-top: 5em;
    background: url('../../../assets/images/contact-us-banner.png') no-repeat center;
		background-size: cover;
		
		.inner-work{
			height: 100%;
			text-align: end;
			justify-content: flex-end;
			vertical-align: bottom;
			align-items: flex-end;
			padding: 1.5rem;
			padding-right: 5rem;

			.col-md-9{
				max-width: 17%;
			}

			 .navigation-values{
					width: 100%;
					background-color: #8390DB;
					text-align: center;
					color: white;
					font-size: 0.7rem;
					letter-spacing: 0.3px;
					padding: 10px 0px 10px 0px;
					font-weight: 800;
					border-radius: 45px;
					box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.45);
						span{
								padding-right: 6%;
								padding-left: 1%;
						}
				}
		}
}

.howItWorks {
    padding: 0;
    border-radius: 8px;
    background: #fff;
		box-shadow: 0 2px 3px 1px rgba(0,0,0,.4);
		display: grid;

		h2::after{
			border-bottom: 0 solid #4f5fbe;
		}

		.howItWork{
			display: flex;
			margin-top: 1rem;
			&::after{
				content: none;
			}
		}

		.first-section{
			width: 50%;
			margin-left: 2rem;

			&::after{
				content: none;
			}

			img {
					vertical-align: middle;
					border-style: none;
					width: 1rem;
			}

			.Contact{
				color: #4f5fbe;
				font-size: 0.9rem;
				font-weight: bold;
				margin-left: 2rem;
			}
		}

		.second-section{
			width: 40%;

			p{
				width:100%;

				input {
					padding: 10px;

					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
						font-weight: 700;
						opacity: 1; /* Firefox */
					}
				}

				textarea{
					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
						font-weight: 700;
						opacity: 1; /* Firefox */
					}
				}


				text-area {
					padding: 10px;

					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
						font-weight: 700;
						opacity: 1; /* Firefox */
					}
				}

				button{
					border-radius: 50px;
					background: #4f5fbe;
					padding: 0.5px 30px;
					color: #fff;
					border: 1px solid #4f5fbe;
					-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3);
					-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3);
					-o-box-shadow: 0 2px 2px rgba(0,0,0,.3);
					box-shadow: 0 2px 2px rgba(0,0,0,.3);
				}
			}

			&::after{
				content: none;
			}
	}

		h2 {
    color: #4f5fbe;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
		font-weight: bold;
		text-decoration: underline;
		}

		h3 {
    color: #4f5fbe;
    font-size: 1.5rem;
    font-weight: bold;
		}

		p {
			margin-top: 25px;
			line-height: 2;
			font-size: 16px;
			font-weight: 600;
		}
}


.inner-faq {
    padding: 5rem;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.4);
}

.inner-holder-map{
	padding: 0rem 4rem;
}

.faq-section{
	background: 
	url("../../../assets/images/partner-row1-2.png") no-repeat left top, 
	url("../../../assets/images/partner-row2-3.png") no-repeat right top,
	url("../../../assets/images/partner-rw.png") no-repeat left bottom;
}

.mapouter{
	width: 100% !important;
	.gmap_canvas{
		width: 100%;

		iframe{
			width: 100%;
			height: 25rem;
		}

	}
}

.section-container{
	background: 
	url("../../../assets/images/partner-row1-2.png") no-repeat left top, 
	url("../../../assets/images/partner-row2-3.png") no-repeat right top,
	url("../../../assets/images/partner-rw.png") no-repeat left bottom;
}