.work-header {
    height: 300px;
    padding: 4px;
    margin-top: 5em;
    background: url('../../../assets/image/contact-us.png') no-repeat center;
		background-size: cover;


		.inner-work{
			height: 100%;
			text-align: end;
			justify-content: flex-end;
			vertical-align: bottom;
			align-items: flex-end;
			padding: 1.5rem;
			padding-right: 5rem;

			.col-md-9{
				display: flex;
				align-items: flex-end;
				text-align: end;
				justify-content: flex-end;
				z-index: 2;

				.invest-header-text{
					width: 15rem;
				}

				.navigation-values{
					background-color: #8390DB;
					text-align: center;
					color: white;
					font-weight: 800;
					letter-spacing: 0.3px;
				   padding: 10px 25px 10px 15px;
					/* box-shadow: 0.1px 1.5px #050333; */
					border-radius: 45px;
					box-shadow: 0px 8px 15px rgba(0, 0, 0,0.45);

					span{
						padding-right: 6%;
						padding-left: 1%;
					}
				}
			}
		}
}

.howItWorks {
    padding: 0;
    border-radius: 8px;
    background: #fff;
		box-shadow: 0 2px 3px 1px rgba(0,0,0,.4);
		display: grid;

		h2::after{
			border-bottom: 0 solid #4f5fbe;
		}

		.howItWork{
			display: flex;
			margin-top: 1rem;
			&::after{
				content: none;
			}
		}

		.first-section{
			width: 50%;
			margin-left: 2rem;

			&::after{
				content: none;
			}

			img {
					vertical-align: middle;
					border-style: none;
					width: 1rem;
			}

			.Contact{
				color: #4f5fbe;
				font-size: 0.9rem;
				font-weight: bold;
				margin-left: 2rem;
			}
		}

		.second-section{
			width: 40%;

			p{
				width:100%;

				input {
					padding: 10px;

					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
						font-weight: 700;
						opacity: 1; /* Firefox */
					}
				}

				textarea{
					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
						font-weight: 700;
						opacity: 1; /* Firefox */
					}
				}


				text-area {
					padding: 10px;

					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
						font-weight: 700;
						opacity: 1; /* Firefox */
					}
				}

				button{
					border-radius: 50px;
					background: #4f5fbe;
					padding: 0.5px 30px;
					color: #fff;
					border: 1px solid #4f5fbe;
					-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3);
					-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3);
					-o-box-shadow: 0 2px 2px rgba(0,0,0,.3);
					box-shadow: 0 2px 2px rgba(0,0,0,.3);
				}
			}

			&::after{
				content: none;
			}
	}

		h2 {
    color: #4f5fbe;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
		font-weight: bold;
		text-decoration: underline;
		}

		h3 {
    color: #4f5fbe;
    font-size: 1.5rem;
    font-weight: bold;
		}

		p {
			margin-top: 25px;
			line-height: 2;
			font-size: 16px;
			font-weight: 600;
		}
}
@media (min-width: 1200px){
    .container {
        max-width: 1240px;
    }
}

.text-header {
    color: #43425d;
    font-size: 25px;
}

.text-text {
    color: #919191;
}

.text-footer {
    color: #43425d;
    font-size: 25px;
}

.input-control {
	height: 300px;
    color: #495057;
    -moz-box-shadow: 0 0 10px rgba(73, 80, 87, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(73, 80, 87, 0.5);
    box-shadow: 0 0 10px rgba(73, 80, 87, 0.5);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.form-control {
    font-size: 16px;
    border-radius: 2px;
	border: 1px solid #ccc;
	height: 50px;
}

.btn {
    border-radius: 15px;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
}

.btn-color {
    background-color: #4f5fbe;
}

.form-control1 {
	height: 100px;
}

.header {
    color: white;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}

.text-sub {
    color: white;
    font-size: 20px;
    text-align: center;
}

.inner-faq {
    padding: 5rem;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.4);
}

.inner-holder-map{
	padding: 0rem 4rem;
}

.faq-section{
	background:
	url("../../../assets/images/partner-row1-2.png") no-repeat left top,
	url("../../../assets/images/partner-row2-3.png") no-repeat right top,
	url("../../../assets/images/partner-rw.png") no-repeat left bottom;
}

.mapouter{
	width: 100% !important;
	.gmap_canvas{
		width: 100%;

		iframe{
			width: 100%;
			height: 25rem;
		}

	}
}

.section-container{
	background:
	url("../../../assets/images/partner-row1-2.png") no-repeat left top,
	url("../../../assets/images/partner-row2-3.png") no-repeat right top,
	url("../../../assets/images/partner-rw.png") no-repeat left bottom;
}

@media (max-width: 1000px) {
	.howItWork{
		display: block !important;
		margin-top: 1rem;
		&::after{
			content: none;
		}
	}

	.first-section{
		width: 80% !important;
		margin-left: 3rem !important;
	}

	.second-section{
		width: 90% !important;
		margin-left: 2rem;
	}
}
