<section class="work-header">
    <div class="inner-work">
        <div class="col-md-9">
            <div class="invest-header-text">
                <div class="navigation-values">Homepage <span> ></span>Contact Us</div>
            </div>
        </div>
    </div>
</section>
<section class="section-container" style="padding-bottom: 8em !important;padding-top: 4em !important;">
    <section class="howItWorks">
        <div class="howItWork">
            <div class="first-section">
                <div class="inner-holder">
                    <div class="row">
                        <div class="row" style="align-items: center">
                            <div class="col-md-2 col-2">
                                <h2>01</h2>
                            </div>
                            <div class="col-md-10 col-10">
                                <h3>Get In Touch</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="first-content">
                                    <p>We would love to speak to you. Feel free to call, send us an
                                        email, tweet us or simply complete the enquiry form.
                                    </p>
                                    <p>
                                        <span><img src="../assets/images/call.png" alt=""></span>
                                        <span class='Contact'>23480123456789</span>
                                    </p>
                                    <p>
                                        <span><img src="../assets/images/message.png" alt=""></span>
                                        <span class='Contact'>info@versa.ng</span>
                                    </p>
                                    <p>
                                        <span><img src="../assets/images/facebook.png" alt=""></span>
                                        <span class='Contact'>versang</span>
                                    </p>
                                    <p>
                                        <span><img src="../assets/images/instagram.png" alt=""></span>
                                        <span class='Contact'>@versang</span>
                                    </p>
                                    <p>
                                        <span><img src="../assets/images/twitter.png" alt=""></span>
                                        <span class='Contact'>@versang</span>
                                    </p>
                                    <p>
                                        <span><img src="../assets/images/whatsapp.png" alt=""></span>
                                        <span class='Contact'>23480123456789</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="second-section">
                <div class="inner-holder">
                    <div class="column">
                        <div class="row" style="align-items: center">
                            <div class="col-md-2 col-2">
                                <h2>02</h2>
                            </div>
                            <div class="col-md-10 col-10">
                                <h3>Send Us A Message</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-left: 0.8rem;">
                                <div class="second-content">
                                    <div>
                                        <div class="input-group">
                                            <p>
                                                <input type="text" name="email"
                                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Your Name"
                                                    class="form-control" id="useremail">
                                            </p>
                                            <p>
                                                <input type="text" name="Email"
                                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email"
                                                    class="form-control" id="useremail">
                                            </p>
                                            <p>
                                                <input type="text" required name="Telephone Number"
                                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                    placeholder="Telephone Number" class="form-control" id="useremail">
                                            </p>
                                            <p>
                                                <textarea type="text-area" required name="email" rows="6"
                                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                    placeholder="Your Message" class="form-control" id="useremail"></textarea>
                                            </p>
                                            <p style="align-items: flex-end; text-align: end">
                                                <button type="submit">Submit</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="inner-holder-map">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=ikoyi&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://www.utilitysavingexpert.com"></a></div>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 600px;
                    }
        
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 600px;
                    }
                </style>
            </div>
        </div>
    </section>
</section>