.header {
  position: fixed;
  z-index:999;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  padding-left: 12%;
  padding-right: 11%;
}

.container {
  max-width: 100%;
}

.sticky {
  position: fixed;
  background-color: white;
}

.header nav li a {
  font-weight: bolder;
}

@media (max-width: 1050px) {

  .mobile-nav .menu-icon .navicon {
      right: 2rem;
  }
}


@media (max-width: 800px){
  .header {
    padding-left: 12%;
  }
}