<div class="pcoded-content">
  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
              <div class="page-body category">
                  <div class="row">
                    <div class="card">
                      <div class="card-title">
                        <p><i class="fa fa-pencil-alt"></i>&nbsp; &nbsp; Edit Investment Group</p>
                        <hr>
                      </div>
                      <br>
                          <mat-form-field>
                              <div class="investment-grp-name form-group">
                                <mat-label for="investmentGroupName">Investment Group Name</mat-label>
                                <mat-select [(value)]="selected" [formControl]="investmentGroupNames" placeholder="Investment Group Name" id="investmentGroupName" class="form-control">
                                  <mat-select-trigger>
                                    {{investmentGroupName}}
                                  </mat-select-trigger>
                                  <mat-option>{{investmentGroupName}}</mat-option>
                                  <mat-option><button class="mat-option-button" (click)="openModal()"><i class="fas fa-plus"></i> &nbsp; Add Investment Group</button></mat-option>
                                </mat-select>
                              </div>
                            </mat-form-field>
                            <mat-form-field>
                              <div class="investments form-group">
                                <mat-label for="investments">Investments</mat-label>
                                <mat-select multiple placeholder="Investments" [(value)]="selected" [formControl]="investmentGroups" id="investments" class="form-control">
                                  <mat-select-trigger>
                                    {{investmentGroups.value ? investmentGroups.value[0] : ''}}
                                    <span *ngIf="investmentGroups.value?.length > 1" class="investmentGroups">
                                      (+{{investmentGroups.value.length - 1}} {{investmentGroups.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                  </mat-select-trigger>
                                  <mat-option *ngFor="let investment of investments;" value="{{investment.title}}">{{investment.title}}</mat-option>
                                </mat-select>
                              </div>
                            </mat-form-field>
                            <mat-form-field>
                              <div class="status form-group">
                                <mat-label>Status</mat-label>
                                <mat-select class="form-control" placeholder="Status">
                                  <mat-option value="Enable">Enable</mat-option>
                                  <mat-option value="Disable">Disable</mat-option>
                                </mat-select>
                              </div>
                          </mat-form-field>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
