<div class="card">
  <div>
    <form>
      <div>
      <label>
        Investment Group Name
        <select>
          <option><img src="src/assets/images/icon/icons/Add-icon.png">Add Investment Group</option>
        </select>
      </label>
      </div>
      <div>
      <label>
        Investments
        <select class="mdb-select md-form" multiple>
          <option>Transport Portfolio - 50000</option>
          <option>Mass Transit (Transport) Portfolio - 750000</option>
          <option>Mass Transit (Transport) Portfolio - 100000</option>
          <option>Agriculture Portfolio - 750000</option>
        </select>
      </label>
      </div>
      <div>
      <label>
        Status
        <select>
          <option>Enable</option>
          <option>Disable</option>
        </select>
      </label>
      </div>
    </form>
  </div>
</div>
