<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="clearfix mb-3">
                    <div class="float-left pt-2">
                        <a class="h4 pr-2">Add Investment</a>
                        <a class=" pl-2">Home / Investment</a>
                    </div>  
                    <div class="float-right">
                        <a (click)="cancelPool()">
                            <img class="" src="../assets/images/icon/icons/Back-icon.png" style="height: 50px;">
                        </a>
                    </div> 
                </div>
                <div *ngIf="isLoading" class="row lds-default" style="width:auto;height:auto;position:absolute">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
                <div class="row" *ngIf="!isLoading">
                    <div class="col">
                        <div class="card">
                            <div class="p-3">
                                <h5 class="head">Add Investment</h5>
                                <hr class="new my-0">
                            </div>

                            <form #addInvestmentForm="ngForm"  class="">
                                <div class="row p-3">
                                    <div class="col-6 pr-5">
                                        <div class="form-group row">
                                            <h6 class="col-sm-2 pr-0 col-form-label">ID</h6>
                                            <div class="col-sm-10">
                                                <input type="type" class=" input-control" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="col-sm-2 pr-0 col-form-label">Title</h6>
                                            <div class="col-sm-10">
                                                <input type="type" autocomplete="off" class="input-control" [(ngModel)]="pool.title" type="text" name="title" id="title">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="col-sm-2 pr-0 col-form-label">Category</h6>
                                            <div class="col-sm-10">
                                                <!-- <input required name="category" [(ngModel)]="pool.category_id" class="input-control"> -->
                                                <select required name="category" [(ngModel)]="pool.category_id" class="input-control">
                                                    <option *ngFor="let category of categories;" [value]="category.id">{{category.category_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="col-sm-2 pr-0 col-form-label">Portfolio</h6>
                                            <div class="col-sm-10">
                                                <select class="input-control" disabled autocomplete="off" type="text" name="portfolio" id="portfolio" >
                                                    <option value="1">based on the selected category</option>
                                                    <option value="2">Yearly</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="col-sm-2 pr-0 col-form-label">Investors</h6>
                                            <div class="col-sm-10">
                                                <input type="number" min="0" class="input-control" autocomplete="off" [(ngModel)]="pool.max_num_of_slots" name="investor" id="investor">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="col-sm-2 pr-0 col-form-label">Tenure</h6>
                                            <div class="col-sm-10">
                                                <input type="number" min="0" class="input-control" autocomplete="off"  [(ngModel)]="pool.duration" name="tenure" id="tenure">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="col-sm-2 pr-0 col-form-label">Cost</h6>
                                            <div class="col-sm-10">
                                                <input type="number" min="0" class="input-control" autocomplete="off"  (keyup)="calculateEstimate()"  name="pricing" id="pricing" [(ngModel)]="pool.investment_amount">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <h6 class="col-sm-2 pr-0 col-form-label">Payback</h6>
                                            <div class="col-sm-10">
                                                <select class="input-control" autocomplete="off" name="period" [(ngModel)]="pool.expected_return_period" (change)="calculateEstimate()" id="period">
                                                    <option value="Weekly">Weekly</option>
                                                    <option value="Monthly">Monthly</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 pr-5">
                                        <div class="form-group row py-3">
                                            <h6 class="col-sm-3 pr-0 col-form-label">Upload Image</h6>
                                            <div class="col-sm-9">
                                                <img [src]="url"  width="100%" height="200"> <br/>
                                                <div class="upload-btn-wrapper pt-1">
                                                    <button class="btn btn-block btn-primary">Click to Upload image</button>
                                                    <input type="file" id="upload-image" accept="image/*" (change)="changeListener($event)"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group pt-3 row">
                                            <h6 class="col-sm-3 pr-0 col-form-label">Show to Public</h6>
                                            <div class="col-sm-9">
                                                <input class="mt-2" type="checkbox" id="payment-report" [(ngModel)]="pool.show_publicly"  name="payment">
                                            </div>
                                        </div>

                                        <div class="form-group pt-1 row">
                                            <h6 class="col-sm-3 pr-0 col-form-label">ROI</h6>
                                            <div class="col-sm-9">
                                                <input type="number" min="0" class="input-control" autocomplete="off" (keyup)="calculateEstimate()" required name="roi" id="roi" placeholder="" [(ngModel)]="roi">
                                            </div>
                                        </div>

                                        <div class="form-group pt-1 row">
                                            <h6 class="col-sm-3 pr-0 col-form-label">Return</h6>
                                            <div class="col-sm-9">
                                                <input type="type" class="input-control" disabled placeholder="Automatically generated" value="" name="returns" [(ngModel)]="pool.expected_return_amount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col pr-5">
                                        
                                        <div class="form-group row">
                                            <h6 class="col-sm-1 pr-0 col-form-label">Description</h6>
                                            <div class="col-sm-11">
                                                <textarea class="input-control" name="description"  [(ngModel)]="pool.description" id="description" cols="10" rows="3" placeholder="Enter the description of the investment"></textarea>
                                            </div>
                                        </div>
                                        
                                        <div class="col px-0">
                                            <button type="button" (click)="addInvestment()"  class="btn btn-primary btn-sm px-5 float-right">{{buttonText}}</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
