[data-href] {
    cursor: pointer;
}

div > a {
  color: #221F72;
  font-weight: bold;
}

.head {
  padding: 0;
  font-weight: bolder;
  color: #221F72;
}

.shadow {
  -moz-box-shadow:    .3px .3px .3px .8px #495057;
  -webkit-box-shadow: .3px .3px .3px .8px #495057;
  box-shadow:         .3px .3px .3px .8px #495057;
}

textarea {
  overflow:hidden;
}

.input-control {
  display: block;
  width: 100%;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.8px solid #221F72;
  border-radius: 2px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
  border: 0.8px solid #221F72;
}

.btn-primary {
  background-color: #5b58bd;
  border-color: #5b58bd;
}

button {
  font-size: 13px;
}

hr.new {
  border: 1px solid #221F72;
}

h6 {
  color: #221F72;
  font-size: 12px;
  font-weight: 600;
}

.upload-btn-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}