<section class="container px-0" style="max-width:100%">
    <section class="about-header mt-0">
        <div class="inner-workingSection mx-sm-4">
            <div class="text-header">Our Team</div>
        </div>
    </section>
    <section class="container mt-lg-5">

        <div class="py-5">
            <div class="row p-4 input-control">
                    <img class="img-fluid round" width="250px" src="../../../assets/images/sunkanbi.jpeg">
                <div class="col-lg-9 col-12 pr-lg-0 pt-2">
                    <a class="header font-weight-bold">Mustapha Olasunkanmi</a>
                    <a class="sub-header font-weight-bold p-0">(Co-Founder)</a>
                    <p class="pt-3 text-justify pl-2">
                        Olasunkanmi is an experienced entrepreneur with a demonstrated history of working in
                        the Information technology industry. He is skilled in Business Planning and strategy,
                        management, and use of technology. This strong business development professional and
                        manager with diverse investments across businesses from tech startups - hospitality –
                        mining – agriculture spanning 20 years is very much a social entrepreneur who believes
                        in building people and culture in the organization. He currently sits on the board
                        of several companies..
                    </p>

                    <div class="col-lg-3 col-6 float-right mt-lg-4 px-0">
                        <a href="" class="btn btn-block btn-color">Linkedln</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="row p-4 input-control">
                    <img class="img-fluid round" width="250px" src="../../../assets/images/Ibrahim.png">
                <div class="col-lg-9 col-12 pr-lg-0 pt-2">
                    <a class="header font-weight-bold">Ibrahim Toyeeb</a>
                    <a class="sub-header font-weight-bold p-0">(Co-Founder)</a>
                    <p class="pt-3 text-justify pl-2">
                        With both International Relations and Law Degrees, Ibrahim has applied his skills
                        working in the Marketing and Strategy divisions of various firms across different
                        sectors. A Tech enthusiast with a keen interest in innovation, he is committed to
                        further exploring the frontiers of Investech in Africa.
                    </p>

                    <div class="col-lg-3 col-6 float-right mt-lg-5 px-0">
                        <a href="" class="btn btn-block btn-color mt-lg-4">Linkedln</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="row p-4 input-control">
                    <img class="img-fluid round" width="250px" src="../../../assets/images/judy.jpg">
                <div class="col-lg-9 col-12 pr-lg-0 pt-2">
                    <a class="header font-weight-bold">Kuyoro, Oluwatoyin Judy</a>
                    <a class="sub-header font-weight-bold p-0">(Head of Business Development)</a>
                    <p class="pt-3 text-justify pl-2">
                        Judy has a B.A in English Language and an MSc. in Organizational Behaviour both from
                        the University of Lagos. She is a highly skilled, hands-on, goal-getting, target-oriented
                        value-adding professional with about 13 years' experience in Investment Management,
                        Business Development, Customer Relationship Management and Business Administration and
                        an extensive exposure in Human Resources and Organisational Development cutting across
                        diverse sectors of the Nigerian economy especially in the Capital Market, Financial Services
                        and Oil and Gas where she has displayed exemplary leadership and professionalism.
                        She has attended various related courses locally.
                    </p>

                    <div class="col-lg-3 col-6 float-right px-0">
                        <a href="" class="btn btn-block btn-color">Linkedln</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="row p-4 input-control">
                    <img class="img-fluid round" width="250px" src="../../../assets/image/place-img.jpg">
                <div class="col-lg-9 col-12 pr-lg-0 pt-2">
                    <a class="header font-weight-bold">Jemila Umar</a>
                    <a class="sub-header font-weight-bold p-0">(Team Lead, Investment & Business Development)</a>
                    <p class="pt-3 text-justify pl-2">
                        Jemila is the Team Lead, Investment & Business Development Unit at Versa Haven Nigeria Limited, a proprietary investment company.
                        She is charged with responsibility of designing and implementing the company’s strategy and all its investee companies. Prior to joining,
                        she worked with Anchoria Asset Management Limited as a Portfolio Manager. Jemila is adept in key competences from investment management and analysis to Marketing and Administration.
                        She holds a BSc in information resources management from Babcock University
                    </p>

                    <div class="col-lg-3 col-6 float-right mt-lg-4 px-0">
                        <a href="" class="btn btn-block btn-color">Linkedln</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="row p-4 input-control">
                    <img class="img-fluid round" width="250px" src="../../../assets/images/yusuf_53.jpg">
                <div class="col-lg-9 col-12 pr-lg-0 pt-2">
                    <a class="header font-weight-bold ">Moyosore Yusuf</a>
                    <a class="sub-header font-weight-bold p-0">(Product Manager)</a>
                    <p class="pt-3 text-justify pl-2">
                        With over 10years hands-on experience in the Tech space working across various IT units and a wealth of experience in Customer's Service, Sales and Software Development,
                        Moyosore is a seasoned Product Manager with experience in product introduction and the overall management of product's life cycle from conception to fruition.
                        A very analytical thinker, he takes pleasure in assessing customer's desires to generate a product that successfully meets those standards.
                        Moyosore holds a Master's Degree in Computer Science and a Bachelor's Degree in Information and Communication Science both from the University of Ilorin after having obtained a Higher National Diploma(HND) in Computer Science.
                    </p>

                    <div class="col-lg-3 col-6 float-right px-0">
                        <a href="" class="btn btn-block btn-color">Linkedln</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
