.container {
	max-width: 80%;
    padding-right: 30px;
    padding-left: 30px;
}

.about-us .inner-about .our-team .team-card-holder .team-card .card-details {
    padding: 3em 0 10px;
}
.team-detail p {
    padding: 15px;
    line-height: 25px;
    font-size: 1.1em;
}
.team-detail {
    height: auto;
    /*overflow: scroll;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.about-us .inner-about .our-team .team-card-holder .team-card .card-details h4 {
    font-size: 1.2em;
}

.about-us .inner-about .our-team .team-card-holder .team-card .card-details h5 {
    font-size: .9em;
    font-weight: bold;
    margin: 5px 0 0;
    color: #0a568c;
}

.about-us .inner-about .our-team .team-card-holder .team-card .card-details h4:after {
    margin: 2px auto;
}

.about-us .inner-about .our-team .team-card-holder .team-card .card-details .team-image img {
    filter: grayscale(100%);
}

.modal-about .team-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-about .team-image img {
    width: 200px;
    height: inherit;
    border-radius: 50pc;
}
.modal-about p {
    line-height: 30px;
    font-size: 1.1em;
}
.modal-content {
    border: none;
    border-radius: 0;
}

.input-control {
    color: #495057;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(237,237,237,1);
    -moz-box-shadow: 0px 0px 15px 3px rgba(237,237,237,1);
    box-shadow: 0px 0px 15px 3px rgba(237,237,237,1);
    background-color: #f5f2f5;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.text-header {
    color: white;
    font-size: 40px;
    padding-top: 150px;
    text-align: center;
    font-family: roboto;
    font-weight: bold;
}

.round {
    border-radius: 1rem;
}

.btn-color {
    background-color: #4f5fbe;
}

.header {
    color: #43425d;
    font-size: 20px;
    font-family: roboto;
    font-weight: bold;
}

.sub-header {
    color: #7b7b7c;
    font-size: 15px;
    font-family: roboto;
    font-weight: bold;
}
p {
    line-height: 31px;
}

.btn {
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    padding: 9px 50px;
    cursor: pointer;
}

@media (min-width: 500px) {
    .modal-dialog {
        min-width: 800px !important;
    }
}

@media (min-width: 1200px){
    .row {
        max-height: auto;
        background-color: #f9f9fa;
    }
    .row1 {
        max-height: 370px;
    }
}

@media (min-width: 992px) {
    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 79%;
        flex: 0 0 79%;
        max-width: 80%;
    }
}
@media (max-width: 600px) {
    .text-header {
        padding-top: 100px !important;
    }
    .input-control {
       margin-left: 0.5rem;
       margin-right: 0.5rem;
       justify-content: center;
    }
    .input-control img {
        margin-left: 0.125rem;
        margin-right: 0.125rem;
        width: 100%;
     }
     .input-control p{
         font-size: 15px;
     }
     .input-control .header{
        text-align: center;
    }
    .about-header {
        height: 250px !important;
    }
}

@media (max-width: 1300px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
}
