<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="clearfix mb-3">
                        <div class="float-left pt-3">
                            <a class="h4 pr-2">Investments</a>
                            <a class=" pl-2">Home / Investments</a>
                        </div>
                        <div class="float-right">
                            <a class="pointer" (click)="cancelPool()">
                                <img class="pointer" src="../../../../assets/images/icon/icons/Add-icon.png">
                            </a>
                            <a class="pointer">
                                <img  src="../../../../assets/images/icon/icons/Delete-icon.png">
                            </a>
                        </div>
                    </div>

                    <div class="container-fluid bg_filter border border-dark rounded mb-5">
                        <div class="row p-1 py-4">
                            <div class="col-sm-4 col-lg-4 pl-sm-2 pl-lg-2">
                                <div class="form-group">
                                    <label class="h7">Investment ID</label>
                                    <input type="text" class="input-control shadow" placeholder="Investment ID" name="id" (keyup)="filterTable('id', $event)"
                                    (blur)="filterTable('id', $event)">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pt-lg-0 pt-sm-0 pt-2 px-sm-1 px-lg-1">
                                <div class="form-group">
                                    <label class="h7">Investment Title</label>
                                    <input type="text" class="input-control shadow" placeholder="Investment Title" name="search" (keyup)="filterTable('title', $event)"
                                    (blur)="filterTable('title', $event)">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pt-lg-0 pt-sm-0 pt-2 pr-sm-2 pr-lg-2 status">
                                <div class="form-group">
                                    <mat-label class="h7 mb-2" for="category">Category</mat-label>
                                    <mat-select id="category" class="form-control" placeholder="Category" name="category" [formControl]="Category">
                                        <mat-select-trigger>
                                            {{ Category.value === 'All' ? 'Category' : Category.value }}
                                        </mat-select-trigger>
                                        <mat-option value="All" (click)="filterCategory('category_name', Category.value)">All</mat-option>
                                        <mat-option [value]="category.category_name" (click)="filterCategory('category_name', Category.value)" *ngFor="let category of categories">
                                            {{category.category_name}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pl-sm-2 pl-lg-2">
                                <div class="form-group">
                                    <label class="h7">Amount</label>
                                    <input type="number" min="0" class="input-control shadow" placeholder="Amount" name="investment_amount" (keyup)="filterTable('investment_amount', $event)"
                                    (blur)="filterTable('investment_amount', $event)">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pt-lg-0 pt-sm-0 pt-2 px-sm-1 px-lg-1">
                                <div class="form-group">
                                    <label class="h7">No of Investors</label>
                                    <input type="number" min="0" class="input-control shadow" placeholder="No of Investors" name="max_num_of_slots" (keyup)="filterTable('max_num_of_slots', $event)"
                                    (blur)="filterTable('max_num_of_slots', $event)">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pt-lg-0 pt-sm-0 pt-2 pr-sm-2 pr-lg-2 status">
                                <div class="form-group">
                                    <mat-label class="h7 mb-2" for="status">Status</mat-label>
                                    <mat-select id="status" class="form-control" placeholder="Status" name="status" [formControl]="status">
                                        <mat-select-trigger>
                                            {{ status.value === 'All' ? 'Status' : status.value }}
                                        </mat-select-trigger>
                                        <mat-option value="All" (click)="filterStatus('is_investment_started', status.value)">All</mat-option>
                                        <mat-option value="Active" (click)="filterStatus('is_investment_started', status.value)">Active</mat-option>
                                        <mat-option value="InActive" (click)="filterStatus('is_investment_started', status.value)">InActive</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block pt-2 p-0 px-3" *ngIf="!isLoading && pools?.length > 0">
                                    <table datatable class="table appTable nowrap">
                                        <thead>
                                            <tr class="">
                                                <th class="mr-3">
                                                    <input type="checkbox">
                                                </th>
                                                <th class="mr-3">ID</th>
                                                <th class="">Investment Title</th>
                                                <th class="">Category</th>
                                                <th class="">No of Investors</th>
                                                <th class="">Tenure</th>
                                                <th class="">ROI</th>
                                                <th class="">Payback</th>
                                                <th class="">Cost</th>
                                                <th class="">Status</th>
                                                <th class="">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let pool of pools | paginate: { itemsPerPage: pageValue, currentPage:p2, id: 'second'};let i = index;">
                                                <td class="mr-3"><input type="checkbox"></td>
                                                <td class="mr-3">{{pool?.id}}</td>
                                                <td class="">{{pool?.title}}</td>
                                                <td class="">{{getCategoryName(pool?.category_id)}}</td>
                                                <td class="">{{pool?.max_num_of_slots}}({{pool?.max_num_of_slots - pool?.num_of_pools_taken}} left)</td>
                                                <td class="">{{pool?.duration}} Months</td>
                                                <td class="">{{pool?.estimated_percentage_profit}}%</td>
                                                <td class="">{{pool?.expected_return_period}}</td>
                                                <td class="">{{pool?.investment_amount}}</td>
                                                <td class="" [style.color]="pool?.is_investment_started === 1 ? 'green' : 'red'">
                                                    {{ pool?.is_investment_started === 1 ? 'Active' : 'InActive' }}
                                                </td>
                                                <td class="">
                                                    <a routerLink="./{{pool?.id}}"><img class="pr-2" src="../../../../assets/images/icon/icons/view-icon.png"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                              <td [colSpan]="6" class="pb-0 mr-5">
                                                <pagination-controls
                                                  (pageChange)="p2=$event" id='second'>
                                                </pagination-controls>
                                              </td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td [colSpan]="6" class="pb-0">
                                                <select class="input-control" data-type="items-per-page" (change) = setItemsPerPage(page.value) #page>
                                                    <option value="10"> 10 rows </option>
                                                    <option value="20"> 20 rows </option>
                                                    <option value="30"> 30 rows </option>
                                                    <option value="0"> view all </option>
                                                </select>
                                              </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div *ngIf="isLoading" >
                                    <br><br>
                                    <div  class="lds-default">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
