<div class="pcoded-content">

  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
              <div class="page-body pools">
                  <div class="row mb-4">
                      <div class="col-xl-4 col-md-6 offset-8">
                          <a href="../views/investment-plans.html" class="btn2 btn-update-profile more">Join New
                              Pool</a>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-xl-4">
                          <a routerLink="./2" routerLinkActive="active">
                              <div class="superb-container m-b20">
                                  <div class="img-holder">
                                      <img src="../assets/images/notcard.png" alt="image">
                                  </div>
                                  <div class="content-holder">
                                      <h2><a href="pool-details.html">Uber Fleet Investment</a></h2>
                                      <p>110 Pools</p>
                                      <a href="pool-details.html" class="btn2 btn-login view">View Pool</a>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-xl-4">
                          <a href="pool-details.html">
                              <div class="superb-container m-b20">
                                  <div class="img-holder">
                                      <img src="../assets/images/notcard.png" alt="image">
                                  </div>
                                  <div class="content-holder">
                                      <h2><a href="pool-details.html">Okota Farms</a></h2>
                                      <p>200 Pools</p>
                                      <a href="pool-details.html" class="btn2 btn-login view">View Pool</a>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-xl-4">
                          <a href="pool-details.html">
                              <div class="superb-container m-b20">
                                  <div class="img-holder">
                                      <img src="../assets/images/notcard.png" alt="image">
                                  </div>
                                  <div class="content-holder">
                                      <h2><a href="pool-details.html">Olorioko Fish Farm</a></h2>
                                      <p>110 Pools</p>
                                      <a href="pool-details.html" class="btn2 btn-login view">View Pool</a>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-4">
                          <a href="pool-details.html">
                              <div class="superb-container m-b20">
                                  <div class="img-holder">
                                      <img src="../assets/images/notcard.png" alt="image">
                                  </div>
                                  <div class="content-holder">
                                      <h2><a href="pool-details.html">Uber Fleet Investment</a></h2>
                                      <p>110 Pools</p>
                                      <a href="pool-details.html" class="btn2 btn-login view">View Pool</a>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-xl-4">
                          <a href="pool-details.html">
                              <div class="superb-container m-b20">
                                  <div class="img-holder">
                                      <img src="../assets/images/notcard.png" alt="image">
                                  </div>
                                  <div class="content-holder">
                                      <h2><a href="pool-details.html">Okota Farms</a></h2>
                                      <p>200 Pools</p>
                                      <a href="pool-details.html" class="btn2 btn-login view">View Pool</a>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-xl-4">
                          <a href="pool-details.html">
                              <div class="superb-container m-b20">
                                  <div class="img-holder">
                                      <img src="../assets/images/notcard.png" alt="image">
                                  </div>
                                  <div class="content-holder">
                                      <h2><a href="pool-details.html">Olorioko Fish Farm</a></h2>
                                      <p>110 Pools</p>
                                      <a href="pool-details.html" class="btn2 btn-login view">View Pool</a>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>