
.shadow {
    -moz-box-shadow:    -1px -1px 3px 1px #495057;
    -webkit-box-shadow: -1px -1px 3px 1px #495057;
    box-shadow: -1px -1px 3px 1px #495057;
}

.bg_filter{
    background-color: #D0D0D5;
}

.custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.card {
	height: 600px;
}

.input-control {
    display: block;
    width: 100%;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.3px solid #221F72;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label,th {
    color: #221F72;
    font-size: 14px;
    font-weight: bold;
}

div > a {
    color: #221F72;
    font-weight: bold;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom-width: 2px;
    border-bottom-color: #221F72
}

td {
    border-color: #221F72
}
.category-body > div:nth-of-type(odd) {
    background: #e1f8ff;
  }
  
  .category-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-style: solid;
    border-color: #221f72;
    border-width: 0.5px;
    margin: 0px 19px;
    padding: 0px;
    box-shadow: -1px -1px 3px 1px #888888a6;
    p {
      flex: 1 1 20em;
      /* margin-left: 10px; */
      margin-bottom: 0px;
      padding: 15px 15px;
      /* padding-left: 10px;*/
    }
  }
  
  .category-body .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
  }
  
  .s-n, .action, .category-name {
      flex: 1 1 20em;
      margin-left: 10px;
      padding-left: 10px;
  }
  
.action, .category-name {
    /*border-left: solid 1px black;*/
}
