
.shadow {
    -moz-box-shadow:    .5px .5px 2px 1px #495057;
    -webkit-box-shadow: .5px .5px 2px 1px #495057;
    box-shadow:         .5px .5px 2px 1px #495057;
  }

.bg_filter{
    background-color: #D0D0D5;
}

.custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.input-control {
    display: block;
    width: 100%;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.3px solid #221F72;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label,th {
    color: #221F72;
    font-size: 14px;
    font-weight: bold;
}

div > a {
    color: #221F72;
    font-weight: bold;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom-width: 2px;
    border-bottom-color: #221F72
}
td {
    border-color: #221F72
}
