
.shadow {
    -moz-box-shadow:    -1px -1px 1px 1px #495057;
    -webkit-box-shadow: -1px -1px 1px 1px #495057;
    box-shadow: -1px -1px 1px 1px #495057;
}

.bg_filter{
    background-color: #D0D0D5;
}

.custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.pointer {
    cursor: pointer;
}


th {
    color: #221F72;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.input-control {
    display: block;
    width: 100%;
    padding: .5rem .5rem;
    color: #495057;
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

td {
    font-size: 12px;
    padding: 13px;
}

label {
    color: #221F72;
    font-size: 14px;
    font-weight: bold;
}

.status {

    mat-label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: #221F72;
        line-height: 22px;
    }
    
    mat-select {
        display: block;
        font-size: 14px;
        width: 100%;
        height: 38px;
        padding: .5rem .5rem;
        color: #495057;
        box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
        background-color: #fff;
        background-clip: padding-box;
        border: 0px solid ;
        border-radius: 2px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

div > a {
    color: #221F72;
    font-weight: bold;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom-width: 2px;
    border-bottom-color: #221F72
}

td {
    border-color: #221F72
}

.card {
	height: 600px;
}

.col-md-12 {
	display: flex;
	flex-flow: column;
	width: 100%;
}
.col-md-12 .card {
	padding: 0px;
}
.col-md-12 .card-block {
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;  //Safari and Chrome
	}
}


.card .card-block p {
	margin-bottom: 0px;
	line-height: 3;
}

.col-md-12 .card-header {
	margin: 10px 15rem 0px 1rem;
	padding: 10px 0px 0px 0px;
	font-size: 20px;

	::after{
		background-color: transparent;
	}
}

p{
    font-size: 12px;
}

::ng-deep{

	.mat-option {
		width: 75%;
	}

	.mat-select-panel {
		max-height: 150px !important;
		background-color: white;
		color: grey;
      } 
      
    .mat-select-placeholder {
        color: grey !important;
		-webkit-text-fill-color: inherit !important;
		transition: none;
		display: block;
		font-size: 14px;
	}

	span.mat-option-text {
		color: grey;
    }
    
    .mat-select-trigger {
        color: grey;
    }

	.mat-select-value {
        color: grey;
	}

	.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
		background: #00000024;
	}
}
