<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="clearfix mb-3">
                        <div class="float-left pt-3">
                            <a class="h4 pr-2">Customers</a>
                            <a class=" pl-2">Home / Customers</a>
                        </div>
                        <div class="float-right">
                            <a>
                                <img class="settings" src="../../../../assets/images/icon/icons/Add-icon.png"  routerLink="./new" routerLinkActive="active">
                            </a>
                            <a (click)="delete()" id="delCat">
                                <img class="settings" src="../../../../assets/images/icon/icons/Delete-icon.png">
                            </a>
                        </div>
                    </div>

                    <div class="container-fluid bg_filter border border-dark rounded mb-5">
                        <div class="row p-1 py-4" style="padding-bottom: 1rem !important;">
                            <div class="col-sm-4 col-lg-4 pl-sm-2 pl-lg-2">
                                <label class="h7">Fullname</label>
                                <div class="col px-0">
                                    <a><input class=" p-2" type="text" style="width: 100%;" placeholder="Fullname" (keyup)="filterTable1('first_name', 'last_name', $event)"
                                        (blur)="filterTable1('first_name','last_name', $event)"></a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pt-lg-0 pt-sm-0 pt-2 px-sm-1 px-lg-1">
                                <label class="h7">Email</label>
                                <div class="col px-0">
                                    <a><input class=" p-2" type="text" style="width: 100%;" placeholder="Email" (keyup)="filterTable('email', $event)"
                                        (blur)="filterTable('first_name', $event)"></a>
                               </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pt-lg-0 pt-sm-0 pt-2 pr-sm-2 pr-lg-2">
                                <label class="h7">Phone Number</label>
                                <div class="col px-0">
                                    <a><input class="p-2" type="text" style="width: 100%;" placeholder="Phone Number" (keyup)="filterTable('phone_number', $event)"
                                        (blur)="filterTable('first_name', $event)"></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div *ngIf="!isLoading" class="card-block card-flex p-1 px-2">
                                    <table datatable class="table appTable nowrap">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%;">
                                                    <input type="checkbox" value="" [(ngModel)]="selectedAll" (change)="selectAll()">
                                                </th>
                                                <th style="width: 30%;">Fullname</th>
                                                <th style="width: 30%;">Email</th>
                                                <th style="width: 20%;">Phone Number</th>
                                                <th style="width: 15%;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-href="#viewUserProfile" *ngFor="let user of users| paginate: { itemsPerPage: pageValue, currentPage:p2, id: 'second'};index as i">
                                                <td><input value="" [(ngModel)]="user.selected" type="checkbox" (click)='deleteUserDetail(i)' (change)="checkIfAllSelected()"></td>
                                                <td>{{user.last_name}} {{user.first_name}}</td>
                                                <td >{{user.email}}</td>
                                                <td >{{user.phone_number}}</td>
                                                <td >
                                                    <a  routerLink="./{{user?.email}}"><img class="pr-2" src="../../../../assets/images/icon/icons/view-icon.png"></a>
                                                    <a routerLink="./{{user?.email}}/edit"><img class="pl-2" src="../../../../assets/images/icon/icons/Edit-icon.png"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="pb-0">
                                                <td [colSpan]="2" class="pb-0 mr-5">
                                                    <pagination-controls
                                                        (pageChange)="p2=$event" id='second'>
                                                    </pagination-controls>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td class="pb-0">
                                                    <select class="input-control" data-type="items-per-page" (change) = setItemsPerPage(page.value) #page>
                                                        <option value="10"> 10 rows </option>
                                                        <option value="20"> 20 rows </option>
                                                        <option value="30"> 30 rows </option>
                                                        <option value="0"> view all </option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div *ngIf="isLoading" class="lds-default">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
