<nav class="pcoded-navbar bgColor">
    <div class="nav-list navMenu">
        <div class="pcoded-inner-navbar main-menu">
            <ul class="pcoded-item pcoded-left-item">
                <li  *ngIf="userInfo" class="header">
                    <a routerLink="./" class="waves-effect waves-dark user-info">
                        <span class="pcoded-micon header-icon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">
                            <div class="users">
                                {{userInfo.first_name}}

                            </div>
                            <div class="users-in">
                                <p *ngIf="userInfo.user_category === 'Admin'">Administrator</p>
                            </div>
                        </span>
                    </a>
                </li>
                <li [ngClass]="{'user-header': isUser}">
                    <a routerLink="./" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li [hidden]="!isUser" class="pcoded">
                    <a routerLink="./userPools" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Investment</span>
                    </a>
                </li>
                <li [hidden]="!isUser" class="pcoded">
                    <a routerLink="./settings" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Settings</span>
                    </a>
                </li>
                <li [hidden]="!isUser" class="pcoded">
                    <a routerLink="#" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Help Center</span>
                    </a>
                </li>
                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a routerLink="./pools" class="dropdown-btn waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                          <span class="pcoded-mtext">Investments</span>
                     </a>
                     <ul class="dropdown-container">
                         <li>
                             <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                                 <span class="pcoded-mtext">Manage Investments</span>
                             </a>
                         </li>
                         <li>
                            <a routerLink="./manage-category" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Investment Category</span>
                            </a>
                        </li>
                         <li>
                             <a routerLink="./investment-group" routerLinkActive="active" class="waves-effect waves-dark">
                                 <span class="pcoded-mtext">Investment Group</span>
                             </a>
                         </li>
                     </ul>
              </li>

                <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-users"  class="waves-effect waves-dark">
                      <span class="pcoded-micon">
                      <i class="feather icon-user"></i>
                      </span>
                        <span class="pcoded-mtext">Customers</span>
                    </a>
                </li>
                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a routerLink="./user-group" class="dropdown-btn waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                          <span class="pcoded-mtext">UserGroup</span>
                     </a>
                     <ul class="dropdown-container">
                         <li>
                             <a routerLink="./user-group/view-users" routerLinkActive="active" class="waves-effect waves-dark">
                                 <span class="pcoded-mtext">Users</span>
                             </a>
                         </li>
                         <li>
                             <a routerLink="./user-group" routerLinkActive="active" class="waves-effect waves-dark">
                                 <span class="pcoded-mtext">User Group</span>
                             </a>
                         </li>
                     </ul>
                 </li>
                <!--<li>
                    <a routerLink="./manage-users" routerLinkActive="active" class="dropdown dropbtn">
                         <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                        </span>
                            <span class="pcoded-mtext">Customers</span>
                        <ul class="dropdown-content">
                            <li>
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </li>
                        </ul>
                    </a>

                </li> -->
                <!-- <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-category" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Categories</span>
                    </a>
                </li> -->
                <li [hidden]="isUser" class="pcoded-hasmenu">
                   <a routerLink="./manage-career" class="dropdown-btn waves-effect waves-dark">
                         <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Careers</span>
                    </a>
                    <ul class="dropdown-container">
                        <li>
                            <a routerLink="./manage-career/" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Job Placements</span>
                            </a>
                            
                        </li>
                         <li>
                            <a routerLink="./manage-career/applicants" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Applicants</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li [hidden]="isUser" class="pcoded-hasmenu">
                   <a class="dropdown-btn waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Reports</span>
                    </a>
                    <ul class="dropdown-container">
                        <li>
                            <a routerLink="./userReport" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Customer Report</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./poolReport" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Investment Report</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./activityReport" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">User Activity Report</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./purchasedReport" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Investments Purchased</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./viewedReport" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Investments Viewed</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- <li class="">
                    <a routerLink="./profile" routerLinkActive="active"  class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Profile</span>
                    </a>
                </li> -->
                <!-- <li class="">
                    <a (click)="logout()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-log-out"></i>
                        </span>
                        <span class="pcoded-mtext">Logout</span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
