<nav class="pcoded-navbar bgColor">
    <div class="nav-list navMenu">
        <div class="pcoded-inner-navbar main-menu">
            <ul class="pcoded-item pcoded-left-item">
                <li  *ngIf="userInfo?.user_category === 'Admin'" class="header">
                    <a routerLink="./" class="waves-effect waves-dark user-info">
                        <span class="pcoded-micon header-icon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">
                            <div class="users">
                                {{userInfo.first_name}}

                            </div>
                            <div class="users-in">
                                <p *ngIf="userInfo.user_category === 'Admin'">Administrator</p>
                            </div>
                        </span>
                    </a>
                </li>
                <li [ngClass]="{'user-header': isUser}">
                    <a routerLink="./" class="waves-effect waves-dark" (click)="sidebar(false)">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li [hidden]="!isUser" class="pcoded">
                    <a routerLink="./userPools" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar(false)">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Investment</span>
                    </a>
                </li>
                <li [hidden]="!isUser" class="pcoded">
                    <a routerLink="./settings" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar(false)">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Settings</span>
                    </a>
                </li>
                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a routerLink="./pools" class="dropdown-btn waves-effect waves-dark" #investments1 (click)="dropdown(investments1, investments2)">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Investments</span>
                        <span><i class="feather icon-chevron-down" style="padding: 0rem 0.7rem;"></i></span>
                    </a>
                    <ul class="dropdown-container" #investments2>
                        <li>
                            <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Manage Investments</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./manage-category" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Investment Category</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./investment-group" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Investment Group</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-users"  class="waves-effect waves-dark" (click)="sidebar(false)">
                      <span class="pcoded-micon">
                      <i class="feather icon-user"></i>
                      </span>
                        <span class="pcoded-mtext">Customers</span>
                    </a>
                </li>
                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a routerLink="./user-group" class="dropdown-btn waves-effect waves-dark" #usergroup1 (click)="dropdown(usergroup1, usergroup2)">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">UserGroup</span>
                        <span><i class="feather icon-chevron-down" style="padding: 0rem 0.7rem;"></i></span>
                    </a>
                    <ul class="dropdown-container" #usergroup2>
                        <li>
                            <a routerLink="./user-group/view-users" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Users</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./user-group" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">User Group</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a routerLink="./manage-career" class="dropdown-btn waves-effect waves-dark" #career1 (click)="dropdown(career1, career2)">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Careers</span>
                        <span><i class="feather icon-chevron-down" style="padding: 0rem 0.7rem;"></i></span>
                    </a>
                    <ul class="dropdown-container" #career2>
                        <li>
                            <a routerLink="./manage-career/" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Job Placements</span>
                            </a>

                        </li>
                        <li>
                            <a routerLink="./manage-career/applicants" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Applicants</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a class="dropdown-btn waves-effect waves-dark" #reports1 (click)="dropdown(reports1, reports2)">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Reports</span>
                        <span><i class="feather icon-chevron-down" style="padding: 0rem 0.7rem;"></i></span>
                    </a>
                    <ul class="dropdown-container" #reports2>
                        <li>
                            <a routerLink="./userReport" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Customer Report</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./poolReport" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Investment Report</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./activityReport" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">User Activity Report</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./purchasedReport" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Investments Purchased</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./viewedReport" routerLinkActive="active" class="waves-effect waves-dark" (click)="sidebar()">
                                <span class="pcoded-mtext">Investments Viewed</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
