.navMenu {
    padding-top: 0px;

    li > a {
        background-color: #221F72;
        font-size: 11px !important;
        padding: 15px 10px 15px 20px !important;
        margin: 5px 0 0;
    }

    li.pcoded-hasmenu > a:after {
        display: none;
    }

    .pcoded-mtext {
        top: 20px !important;
    }

    .pcoded-item > li > a > span > .icon-chevron-down {
        float: right;
        padding-top: 2px;
        font-size: 20px;
        margin-right: 0;
        border-radius: 4px;
        width: 30px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 30px;
        text-align: center;
    }

    .user-info{
        margin-top: 0px !important;
    }

    .header{
        background-color: #4F5FBE;
        padding: 10px !important;

        a {
            background-color: #4F5FBE;
            padding-left: 10px !important;
            .pcoded-micon {
                padding-top: 17px;
            }
        }

        .pcoded-mtext {
            top: 10px !important;
            padding-left: 7px;
            line-height: 18px;
            position: absolute;
        }

        .users {
            font-size: 17px;
            font-weight: 600;
        }

        .user-info{
            margin-top: 0px !important;
            padding-top: 10px !important;
            padding-bottom: 9px !important;
        }

        .users-in {
            font-size: 10px;
            font-weight: 600;
            p {
                font-size: 11px;
                font-style: roboto;
                opacity: 0.6;
            }
        }
        .header-icon{
            top: 23px;
            height: auto;
            padding: 15px;
            padding-right: 20px;
            padding-left: 0px;
            border-radius: 50%;

            i{
                color: black;
                background-color: white;
                border-radius: 50%;
                padding: 5px;
                margin-right: 20px;
                border: 1px solid #77aaff;
                box-shadow: -1px 1px #77aaff, -2
            }
        }
    }
}

.pcoded-item > li > a > .pcoded-micon {
    padding-top: 2px;
    font-size: 14px;
    margin-right: 0;
    border-radius: 4px;
    width: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    text-align: center;
}

.pcoded-navbar {
    width: 220px !important;
}

.pcoded-submenu {
    padding: 0 !important;
}

.user-header{
    margin-top: 1.3rem !important;
}

a.waves-effect.waves-dark:hover{
    background-color: #6c69c0 !important;
    border-left-style: solid !important;
    border-left-width: 5px !important;
    border-color: #fbeca0 !important
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom-width: 0px !important;;
  }

  .pcoded-hasmenu{
    .dropdown-container a{
        background-color: #221F72;
        font-size: 11px !important;
        padding: 15px 10px 15px 20px !important;
      }
  }

  /* On mouse-over */
  a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    padding: 0 !important;
    width: 100%;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }