<nav class="pcoded-navbar bgColor">
    <div class="nav-list navMenu">
        <div class="pcoded-inner-navbar main-menu">
            <ul class="pcoded-item pcoded-left-item">
                <li  *ngIf="userInfo" [hidden]="isUser" class="header">
                    <a routerLink="./" class="waves-effect waves-dark user-info">
                        <span class="pcoded-micon header-icon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">
                            <div class="users">
                                {{userInfo.first_name}}

                            </div>
                            <div class="users-in">
                                <p *ngIf="userInfo.user_category === 'Admin'">Administrator</p>
                            </div>
                        </span>
                    </a>
                </li>
                <li [ngClass]="{'user-header': isUser}">
                    <a routerLink="./" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li [hidden]="!isUser" class="pcoded">
                    <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Investment</span>
                    </a>
                </li>
                <li [hidden]="!isUser" class="pcoded">
                    <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Settings</span>
                    </a>
                </li>
                <li [hidden]="!isUser" class="pcoded">
                    <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Help Center</span>
                    </a>
                </li>
                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a routerLink="./investments" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Investments</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a routerLink="./manage-admins" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Investment Category</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./investments" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Manage Investments</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Investment Group</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-users" routerLinkActive="active" class="waves-effect waves-dark">
                      <span class="pcoded-micon">
                      <i class="feather icon-user"></i>
                      </span>
                        <span class="pcoded-mtext">Customers</span>
                    </a>
                </li>


                <!-- <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-category" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Categories</span>
                    </a>
                </li> -->


                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">User Group</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a routerLink="./manage-admins" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Admins</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./manage-admins" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Super Admins</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li  [hidden]="isUser" class="pcoded-hasmenu">
                    <a class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Careers</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a routerLink="./manage-career" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Job Placements</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./manage-career/applicants" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Applicants</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li  [hidden]="isUser" class="pcoded-hasmenu">
                    <a class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Reports</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a routerLink="./manage-career" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Investment Purchased</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./manage-career/applicants" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Investment Viewed</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- <li class="">
                    <a routerLink="./profile" routerLinkActive="active"  class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Profile</span>
                    </a>
                </li> -->
                <!-- <li class="">
                    <a (click)="logout()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-log-out"></i>
                        </span>
                        <span class="pcoded-mtext">Logout</span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
