<div class="pcoded-content">

  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
              <div class="page-body">
                  <div class="row">
                      <div class="col-md-12">
                          <div *ngIf="!isLoading" class="card">
                              <div class="card-header">
                                  <h5>Manage Users</h5>
                              </div>
                              <div class="card-block">
                                  <div class="dt-responsive table-responsive">
                                        
                                      <table id="order-table"
                                             class="table table-striped table-bordered nowrap">
                                          <thead>
                                          <tr>
                                              <th>Name</th>
                                              <th>Email</th>
                                              <th>Phone Number</th>
                                              <th>User Category</th>
                                              <th>Account Status</th>
                                              <th>Action</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                            <tr (click)="viewUserDetail(user)" *ngFor="let user of users" >
                                                <td>{{user.first_name}} {{user.last_name}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.phone_number}}</td>
                                                <td>{{user.user_category}}</td>
                                                <td *ngIf="user.email_is_verified =='1' ">Active</td>
                                                <td *ngIf="user.email_is_verified =='1' "><button (click)="updateUser(user,'disable')" class="btn btn-success">Disable</button></td>
                                                
                                                <td *ngIf="user.email_is_verified =='0' ">In-active</td>                                                
                                                <td *ngIf="user.email_is_verified =='0' "><button (click)="updateUser(user,'enable')" class="btn btn-success">Enable</button></td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>

                          <div *ngIf="isLoading" class="lds-default">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>