<div *ngIf="!selectedUser" class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Manage Users</h5>
                                </div>

                                <div *ngIf="!isLoading" class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="userTable"
                                                class="table table-striped nowrap">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>User Category</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let user of users;let i = index;">
                                                <td data-href="#viewUserProfile" (click)="viewUserDetail(i)">
                                                    {{user.first_name}} {{user.last_name}}
                                                </td>
                                                <td data-href="#viewUserProfile" (click)="viewUserDetail(i)">{{user.email}}</td>
                                                <td data-href="#viewUserProfile" (click)="viewUserDetail(i)">{{user.phone_number}}</td>
                                                <td data-href="#viewUserProfile" (click)="viewUserDetail(i)">{{user.user_category}}</td>
                                                <!-- <td>2019/04/05</td> -->
                                                <td *ngIf="user.email_is_verified =='1' "><button (click)="updateUser(i,'disable')" class="btn btn-success">Disable</button></td>
                                                <td *ngIf="user.email_is_verified =='0' "><button (click)="updateUser(i,'enable')" class="btn btn-success">Enable</button></td>
                                        
                                                <!-- <td><a href ="view-users-details.html">view</a></td> -->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div *ngIf="isLoading" class="lds-default">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<app-user-dashboard *ngIf="selectedUser"></app-user-dashboard>
<app-profile-summary *ngIf="selectedUser" [user]="selectedUser"></app-profile-summary>