<div class="pcoded-content">

  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
              <div class="page-body">
                  <div class="row">
                      <div class="col-xl-12 p-0">
                          <div class="col-xl-12 col-md-12">
                              <div class="card latest-update-card">
                                  <div class="card-header">
                                      <h5>Report</h5>
                                  </div>
                                  <div class="card-block">

                                      <div class="flex">
                                          <div class="flex-item">
                                            <div style="display: block;">
                                            <canvas baseChart width="200" height="100"
                                              [datasets]="lineChartData"
                                              [labels]="lineChartLabels"
                                              [options]="lineChartOptions"
                                              [colors]="lineChartColors"
                                              [legend]="lineChartLegend"
                                              [chartType]="lineChartType">
                                            </canvas>
                                            </div>
                                          </div>
                                        </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

          </div>
      </div>
  </div>
</div>