* {
	box-sizing: border-box;
}

.card {
	height: 660px;
	width: 100%;

	.card-block {
		display: flex;
		flex-flow: column;

		p {
			margin-left: 14rem;
			cursor: pointer;
			margin-bottom: 0;
			padding-bottom: 5px;
		}
	}

	.card-title {
		margin: 5px;
		padding: 5px;
		font-size: 20px;

		p {
			font-size: 16px;
		}
	}

	mat-label {
		display: block;
		font-size: 14px;
		margin: 10px;
		padding: 10px;
		color: black;
		line-height: 3px;
		width: 250px;
	}
	
	mat-select, input {
		display: block;
		font-size: 12px;
		width: 100%;
		box-shadow: 1px 1px 1px 1px #888888a6;
		opacity: 50%;
		border: 1px solid black;
		padding: 1em;
	}
}

.selected-permissions {
	opacity: 0.75;
	font-size: 0.75em;
} 

mat-form-field {
	display: flex;
}

mat-form-field > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

div > a {
    color: #221F72;
    font-weight: bold;
}

::ng-deep{
	.mat-form-field-wrapper {
		line-height: normal;
		width: 100%;
		height: 5em;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	.mat-form-field-flex .mat-form-field-infix {
		height: 3em;
		color: black;
	}

	.mat-form-field-underline {
		display: none;
	}

	.mat-option {
		width: 75%;

		span {
			float: right;

			a {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}

	.mat-select-panel {
		max-height: 150px !important;
		background-color: white;
		color: grey;
	  }

	  .mat-form-field-hide-placeholder .mat-select-placeholder {
		color: black !important;
		-webkit-text-fill-color: inherit !important;
		transition: none;
		display: block;
		font-size: 12px;
	}

	span.mat-option-text {
		color: grey;
	}

	.mat-select-value {
		color: black;
	}

	.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
		background: #00000024;
	}
}

@media screen and (max-width: 690px) {

	.card {
		height: 500px;
	}

	.card-block {
		p {
			margin-top: 15px;
			margin-left: 0.75rem !important;
			padding-left: 0;
		}
	}
	
	.form-group.d-flex {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}

	mat-form-field {
		margin: 5px;
		padding: 5px;
	}
}

@media screen and (min-width: 1560px) {

	hr {
		width: 98.9% !important;
	}

	.card-block {
		p {
			margin-left: 15rem !important;
			padding-left: 2 rem;
		}
	}
}