<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <div *ngIf="isLoading" class="lds-default">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div *ngIf="!isLoading">
            <div class="clearfix mb-2 pb-2">
              <div class="float-left pt-2 mt-2">
                <a class="h4 pr-2" style="font-size: 24px; font-weight: bold;">UserGroup</a>
                <a class="pl-2">Home/User Group</a>
              </div>
              <div class="float-right">
                <a style="cursor: pointer; height: 50px;"><img src="../../../../../assets/images/icon/icons/save-64.png"></a>
                <a (click)="goBack()" style="cursor: pointer;"><img src="../../../../../assets/images/icon/icons/Back-icon.png"></a>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <mat-form-field>
                  <div class="form-group d-flex">
                    <mat-label for="userName"><span style="color: red;">*</span>User Name</mat-label>
                    <input matInput type="text" id="userName" value="{{user?.user[0]?.first_name}}">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="form-group d-flex">
                    <mat-label for="userGroup"><span style="color: red;">*</span>User Group</mat-label>
                    <mat-select placeholder="Select User Group" id="userGroup" class="form-control">
                      <mat-option *ngFor="let usergroup of usergroups;" [value]="usergroup.value">{{usergroup.value}}</mat-option>
                    </mat-select>
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="form-group d-flex">
                    <mat-label for="firstName"><span style="color: red;">*</span>First Name</mat-label>
                    <input matInput type="text" id="firstName" value="{{user?.user[0]?.first_name}}">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="investment-grp-name form-group d-flex">
                    <mat-label for="lastName"><span style="color: red;">*</span>Last Name</mat-label>
                    <input matInput type="text" id="lastName" value="{{user?.user[0]?.last_name}}">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="investment-grp-name form-group d-flex">
                    <mat-label for="email"><span style="color: red;">*</span>E-mail</mat-label>
                    <input matInput type="email" id="email" value="{{user?.user[0]?.email}}">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="investment-grp-name form-group d-flex">
                    <mat-label for="password"><span style="color: red;">*</span>Password</mat-label>
                    <input matInput type="password" id="password">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="investment-grp-name form-group d-flex">
                    <mat-label for="confirm"><span style="color: red;">*</span>confirm</mat-label>
                    <input matInput type="password" id="confirm">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="investment-grp-name form-group d-flex">
                    <mat-label for="status"><span style="color: red;">*</span>Status</mat-label>
                    <mat-select placeholder="Status" id="status" class="form-control" [(ngModel)]="selectedStatus">
                      <mat-option value="Enabled">Enable</mat-option>
                      <mat-option value="Disabled">Disable</mat-option>
                    </mat-select>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
