<div id="pcoded" class="pcoded">
    <div class="pcoded-container navbar-wrapper">
        <app-dashboard-header [isUser]=false [userDetails]="user" (sidebar)="sidebarToggle(drawer.toggle())"></app-dashboard-header>
        <mat-drawer-container>
            <mat-drawer #drawer [opened]="mobileQuery?.matches ? false : true" [mode]="mobileQuery?.matches ? 'over' : 'side'">
                <app-side-bar [isUser]=false></app-side-bar>
            </mat-drawer>
            <mat-drawer-content>
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <app-manage-investment [modalData]="modalData" [categories]="categories" [modalButtonTitle]="modalButtonTitle" [modaltitle]="modaltitle"  (submit)="callBack($event)"></app-manage-investment>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
