
.shadow {
    -moz-box-shadow:    -1px -1px 1px 1px #495057;
    -webkit-box-shadow: -1px -1px 1px 1px #495057;
    box-shadow: -1px -1px 1px 1px #495057;
}

.bg_filter{
    background-color: #D0D0D5;
}

.custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

a .setting {
    width: 35px;
    height: 33px;
}

a .settings {
    width: 50px;
    height: 50px;
    padding-top: 0.135rem;
}

.table-wrapper-scroll-y {
    display: block;
}


.input-control {
    display: block;
    width: 100%;
    color: #495057;
    padding: 0.35rem 0.5rem;
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

label,th {
    color: #221F72;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

div > a {
    color: #221F72;
    font-weight: bold;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom-width: 2px;
    border-bottom-color: #221F72
}

td {
    border-color: #221F72
}

label,th {
    color: #221F72;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

label,td {
    font-family: roboto, sans-serif;
    font-size: 12px;
}

.table td, .table th {
    padding: 20px;
}

.card-flex {
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;  //Safari and Chrome
	}
}
.status {

    mat-select-trigger{
        color: grey;
    }


    mat-label {
        margin-top: 0;
        display: block;
        font-family: roboto, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #221F72;
        line-height: 22px;
    }

    mat-select {
        display: block;
        font-size: 12px;
        width: 100%;
        height: 30px;
        padding: .5rem .5rem;
        color:black;
        box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
        background-clip: padding-box;
        border: 0px solid ;
        border-radius: 2px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

::ng-deep{

	.mat-option {
		width: 75%;
	}

	.mat-select-panel {
		max-height: 150px !important;
		background-color: white;
		color: grey;
      }

    .mat-select-placeholder {
        color: grey !important;
		-webkit-text-fill-color: inherit !important;
		transition: none;
		display: block;
		font-size: 14px;
	}

	span.mat-option-text {
		color: grey;
    }

    .mat-select-trigger {
        color: grey;
    }

	.mat-select-value {
        color: grey;
	}

	.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
		background: #00000024;
	}
}

