[data-href] {
    cursor: pointer;
}

border_shadow{
    border: 1px solid;
    box-shadow: 1px 1px 5px 5px rgb(5, 2, 2);
    opacity: 10%;
  }

.bg_filter{
    background-color: #CCCCD1;
}

.custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
