<section class="landing">
    <div class="land-overlay"></div>
    <div class="inner-landing">
        <div class="row">
            <div class="col-md-7">
                <h2 class=" animated fadeInDown" data-wow-delay=".5s" data-wow-duration="2.5s">
                    The <span>smarter</span> way<br>
                    to invest?
                </h2>
                <div class="lower-content  animated slideInLeft" data-wow-delay=".8s" data-wow-duration="2.5s">
                    VERSA is an investment platform built to help increase your <br>
                    earning potential. We invest in innovative and well researched <br>
                    alternative investment portfolios to help grow your funds.
                </div>
                <div class="get-started wow animated fadeIn" data-wow-delay=".9s" data-wow-duration="2.5s">
                    <a href="" class="btn btn-investment">Get Started</a>
                </div>
            </div>
            <!--<div class="col-md-4 hide-sm">-->
            <!--<div class="circle">-->

            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>
<section class="versa-plan">
    <div class="inner-plan">
        <div class="row">
            <div class="col-md-6">
                <div class="leftDisplay">
                    <h3>At VERSA, We have come to recognize that middle income earners find it hard to invest their
                        minimal
                        savings, we provide viable
                        opportunities that can grow their funds exponentially.</h3>

                    <div class="list-plan">
                        <div class="media">
                            <img class="mr-3" src="assets/images/arrow.svg" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Plan your financial target</h5>
                                Determine your <span>financial goal</span>
                            </div>
                        </div>
                        <div class="media mt-5">
                            <img class="mr-3" src="assets/images/arrow.svg" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Choose your Investment</h5>
                                Gain access to numerous portfolios, providing different opportunities that fits your
                                financial goals.
                            </div>
                        </div>
                        <div class="media mt-5">
                            <img class="mr-3" src="assets/images/arrow.svg" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Real-Time insights on Investment activity</h5>
                                Our cutting-edge technology monitors your investments, and provides real-time insights
                                to
                                monitor your gains.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="side-display">
                    <div class="dashboardShow wow animated fadeInRight" data-wow-delay=".6s" data-wow-duration="1.5s">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="superbOffers">
    <!--<h3 class="title-head">Superb Investment Offers</h3>-->
    <div class="inner-superb">
        <h3>Choose your investment portfolio</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="superb-container-home">
                    <div class="img-holder">
                        <img src="assets/images/invest-pic.png" alt="invest">
                    </div>
                    <div class="content-holder">
                        <h2><a href="">Real Estate</a></h2>
                        <div class="span-profit">Lorem Ipsum dolor sit meet Lorem Ipsum dolor sit meet Lorem Ipsum dolor
                            sit meet Lorem Ipsum dolor sit meet Lorem Ipsum dolor sit meet
                        </div>
                        <h3><a href="">Invest Now <img src="assets/images/investnowicon.svg" alt=""></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="superb-container-home">
                    <div class="img-holder">
                        <img src="assets/images/invest-pic.png" alt="invest">
                    </div>
                    <div class="content-holder">
                        <h2><a href="">Transportation</a></h2>
                        <div class="span-profit">Lorem Ipsum dolor sit meet Lorem Ipsum dolor sit meet Lorem Ipsum dolor
                            sit meet Lorem Ipsum dolor sit meet Lorem Ipsum dolor sit meet
                        </div>
                        <h3><a href="">Invest Now <img src="assets/images/investnowicon.svg" alt=""></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="superb-container-home">
                    <div class="img-holder">
                        <img src="assets/images/invest-pic.png" alt="invest">
                    </div>
                    <div class="content-holder">
                        <h2><a href="">Agriculture</a></h2>
                        <div class="span-profit">Lorem Ipsum dolor sit meet Lorem Ipsum dolor sit meet Lorem Ipsum dolor
                            sit meet Lorem Ipsum dolor sit meet Lorem Ipsum dolor sit meet
                        </div>
                        <h3><a href="">Invest Now <img src="assets/images/investnowicon.svg" alt=""></a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="down-offer-content">
                    <!--<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>-->
                    <!--<p>-->
                    <!--consequuntur quis non praesentium! Unde, harum. corporis pariatur totam fuga eligendi quo-->
                    <!--</p>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="" class="view-more">View more <img src="assets/images/arrow.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>

<section class="ourServices">
    <div class="inner-ourServices">
        <h5>What we do</h5>
        <h4>
            On versa, our average investment opportunity guarantees a 70% <br> return and here's how we do it
        </h4>
        <div class="row mt-4">
            <div class="col-md-12 wow animated zoomIn" data-wow-delay=".7s" data-wow-duration="2.5s">
                <div>
                    <img style="width: 100%; margin: auto" src="assets/images/Whatwedo.svg" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-5 wow animated fadeInUp" data-wow-delay="1.2s" data-wow-duration="2.5s">
            <div class="col-md-12">
                <div class="get-started">
                    <a href="" class="btn btn-investment">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="workingSection">
    <div class="back-plate animated wow fadeInLeft" data-wow-delay="1.4s" data-wow-duration="2.5s">

    </div>
    <div class="inner-workingSection">
        <div class="row">
            <div class="col-md-6">
                <div class="circle-section animated wow fadeInDown" data-wow-delay="2.5s" data-wow-duration="2.5s">
                    <img src="assets/images/Workwithus.png" alt="work-with-us">
                </div>
            </div>
            <div class="col-md-6">

                <div class="working-content animated wow fadeInRight" data-wow-delay="2.7s" data-wow-duration="2.5">
                    <h3>Why work with us?</h3>
                    <p>
                        We have a team of seasoned investment analysts committed to exploring and providing you with
                        alternative investment opportunities.</p>
                    <p>Every portfolio is well researched and your funds diligently managed in a way that provides a
                        balanced investment mix that suits your financial goal.
                    </p>
                    <div class="btn-holder">
                        <a href="" class="btn btn-invest">Join Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>