
.subtitle {
    font-size: 20px;
}


h2 {
    color: #4f5fbe;
    font-size: 30px;
    position: relative;
    letter-spacing: 2px;
    font-weight: bold;
}

.wall {
    background-color: #f4f4fe;
}

.wall2 {
    background-color: #4f5fbe;
}

.btn {
    border-radius: 15px;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    padding: 9px 50px;
    cursor: pointer;
}

hr {
    height:4px !important;
    border:none;
    color:#4f5fbe;
    background-color:#4f5fbe;
    width:30%;
    text-align:center;
    margin: auto;
}

.lowest-content{
    color: #979797;
    font-size: 14px !important;
    line-height: 29px !important;
    text-align: justify;
}

.lower-content{
    color: #979797;
    font-size: 15px !important;
    line-height: 35px !important;
    text-align: justify;
}

.text-title {
    color: #4f5fbe;
    font-size: 18px;
}

.font-one {
    color: #4f5fbe;
    font-size: 30px !important;
    line-height: 42px !important;
}

.text-sub {
    font-size: 24px;
    color: #4f5fbe;
    line-height: 42px !important;
    letter-spacing: 1px;
}

.sub-text {
    font-size: 20px;
}

.text-header {
    color: #4f5fbe;
    font-size: 18px;
}

.text-footer {
    color: #4f5fbe;
    font-size: 15px;
}

.big-text {
    color: #fff;
    font-size: 2.5rem !important;
}

.med-text {
    color: #fff;
    font-size: 1.3rem !important;
}

.test {
    color: #919191;
    font-size: 13px !important;
    line-height: 22px !important;
}

.text-text {
    color: #919191;
    font-size: 14px !important;
    line-height: 25px !important;
}

.text {
    color: #919191;
    font-size: 14px !important;
    line-height: 35px !important;
    letter-spacing: 1px;
    text-align: justify;
}

.input-control[_ngcontent-c4] {
    height: 300px;
    color: #495057;
    box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-control {
	height: 300px;
    color: #495057;
    -moz-box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    -webkit-box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div .input-control:hover {
    background-color: #f9f9fa;
}
div .invest-control:hover {
    background-color: #f9f9fa;
}

.invest-control {
    color: #f1efef;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0px;
    border-left: 1.5px solid ;
    border-right: 1.5px solid ;
    border-bottom: 1.5px solid ;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.slide-control {
    -moz-box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    -webkit-box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    color: #545658;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid ;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.small-control {
    color: #f1efef;
    -moz-box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    -webkit-box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    box-shadow: 0 0 5px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 7px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

span {
    color: #707070;
}

.btn-color {
    background-color: #4f5fbe;
}

.container1 {
    max-width: 940px;
}

@media (min-width: 1200px){
    .container {
        max-width: 80.000em;
    }

}

@media screen and (width: 768px) {

    .card-pad {
        height: 780px;
    }
}

@media screen and (max-width: 992px) {

    .font-one {
        font-size: 2.5rem !important;
        line-height: 42px !important;
    }

    .text {
        line-height: 30px !important;
    }
    
    .hide{
        display: none;
    }

    .img-fluid {
        max-width: 100%;
        height: 150px;
    }

    .text-header {
        font-size: 15px;
    }
}
  
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .font-one {
        color: #4f5fbe;
        font-size: 2rem !important;
        line-height: 42px !important;
    }

    .text {
        line-height: 30px !important;
    }

    .padding{
        height:430px;
    }

    .hide{
        display: none;
    }
}

@media (min-width: 1000px) {
    .invest-control {
        height: 43rem;
    }
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 20px;
    height: 20px;
    border: 1.5px solid;
    color: #4f5fbe;
    border-radius: 100% !important;
    background: transparent;
}

ol.carousel-indicators li.active {
  background: #4f5fbe;
}

ol.carousel-indicators li:active {
  background: #4f5fbe;
}

