<section class="landing">
    <!--<div class="land-overlay"></div>-->
    <div class="inner-landing">
        <div class="row">
            <div class="col-md-6">
                <h2 class="wow animated fadeInDown" data-wow-delay=".5s" data-wow-duration="2.5s">
                    The <span>smarter</span> way<br>
                    to invest?
                </h2>
                <div class="lower-content wow animated slideInLeft" data-wow-delay=".8s" data-wow-duration="2.5s">
                    <article>VERSA is an investment platform built to help increase <br>
                        earning potential. We invest in innovative and <br>well researched
                        alternative investment portfolios <br>to help grow your funds.
                    </article>
                </div>
                <div class="get-started wow animated fadeIn" data-wow-delay=".9s" data-wow-duration="2.5s">
                    <a routerLink="investments" class="btn btn-investment">Get Started</a>
                </div>
            </div>
            <div class="col-md-5 hide-sm">
                <div class="circle">

                </div>
                <div class="circle2">
                
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-container">
    <section class="versa-plan"  id="versaplan">
        <div class="inner-plan wow animated fadeInUp" data-wow-delay=".5s" data-wow-duration="2s">
            <h4>Why Versa?</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="leftDisplay" style="padding: 0 4em;width: 86%;margin: auto;">
                        <h3>At VERSA, We have come to recognize that middle income earners find it hard to invest their
                            minimal
                            savings, we provide viable
                            opportunities that can grow their funds exponentially.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row _3_steps mt-5">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/icon/target-icon.png"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plan your Financial Target</h5>
                            <p class="card-text">Gain access to numerous portfolios, <br>
                                providing different opportunities<br>
                                that fits your financial goals..</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/icon/invest-icon.png"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Choose your Investment</h5>
                            <p class="card-text">Gain access to numerous portfolios, <br>
                                providing different opportunities<br>
                                that fits your financial goals.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/icon/icon-realtime.png"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Real-Time Insights on Investment activity</h5>
                            <p class="card-text">Our cutting-edge technology monitors<br>
                                your investments, and provides real-time<br>
                                insights to monitor your gains..</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="step-investment">
        <div class="row">
            <div class="col-md-6">
                <div class="list-plan">
                    <h3>Start investing in no time</h3>
                    <div class="media">
                        <img class="mr-3" src="assets/images/icon/circle-icon.svg" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Sign up</h5>
                            Sign up for free! No hidden fees and enjoy<br>
                            unlimited investment opportunities.
                        </div>
                    </div>
                    <div class="media mt-5">
                        <img class="mr-3" src="assets/images/icon/circle-icon.svg" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Start your investment plan</h5>
                            Select preferred investment portfolios that<br>
                            fits your financial goals..
                        </div>
                    </div>
                    <div class="media mt-5">
                        <img class="mr-3" src="assets/images/icon/circle-icon.svg" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Monitor Funds</h5>
                            Track your investments and monitor your<br>
                            funds growth in real time.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="step-image">
                    <!--<img src="../../../assets/images/presentation.png" alt="">-->
                </div>
            </div>
        </div>
    </section>

    <section class="superbOffers" id="superoffers">
        <h3 style="padding: 2rem 0 2rem 0 !important;">Choose your investment portfolio</h3>
        <div class="inner-superb">
            <div class="row">
                <div class="col-md-4 wow animated fadeIn mpt-4" data-wow-delay=".71s" data-wow-duration="1.5s">
                    <div class="superb-container-home">
                        <div class="img-holder">
                            <img src="assets/images/real-estate.jpeg" alt="invest">
                        </div>
                        <div class="content-holder">
                            <h2><a routerLink="/investments/Real Estate/list">Real Estate</a></h2>
                            <div class="span-profit">The current economic situation requires you to have a minimum of
                                $20,000 before you can invest in Real Estate portfolios. Our unique real-estate
                                portfolios
                                don&#39;t require you to commit such huge capital before owning a stake in viable and
                                high-yielding real estate opportunities across Africa. We are committed to providing
                                cheap
                                and affordable housing to middle-income earners within Africa.
                            </div>
                            <h3 style="text-align: right; color: #fff;"><a routerLink="/investments/Real Estate/list" class="btn btn-invest2">Invest Now</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow animated zoomIn mpt-4" data-wow-delay=".751s" data-wow-duration="1.5s">
                    <div class="superb-container-home">
                        <div class="img-holder">
                            <img src="assets/images/transportation.jpeg" alt="invest">
                        </div>
                        <div class="content-holder">
                            <h2><a routerLink="/investments/Transportation/list">Transportation</a></h2>
                            <div class="span-profit">With a population of almost 200 million people and very limited
                                transportation options to move from one place to another, the transport segment is
                                largely
                                untapped with opportunities rife enough to ease the dire movement situation across the
                                country while also creating jobs. Join our list of growing transportpreneurs by
                                investing in
                                high-yielding land, air and water transport portfolios.
                            </div>
                            <h3 style="text-align: right; color: #fff;"><a routerLink="/investments/Transportation/list" class="btn btn-invest2">Invest Now </a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow animated fadeInRight mpt-4" data-wow-delay="0.80s" data-wow-duration="1.5s">
                    <div class="superb-container-home">
                        <div class="img-holder">
                            <img src="assets/images/agriculture.jpeg" alt="invest">
                        </div>
                        <div class="content-holder">
                            <h2><a routerLink="/investments/Agriculture/list">Agriculture</a></h2>
                            <div class="span-profit">Agriculture is Nigeria's fastest growing sector with both
                                individuals
                                and large corporations making investment stakes in available cash-crop, food-crop,
                                plantation-crop, fisheries, animal husbandry, food production and processing
                                opportunities.
                                At versa.ng, you are just a click away from gaining access to a wide range of
                                agriculture
                                portfolios to invest your funds and sit back to reap substantial returns.
                            </div>
                            <h3 style="text-align: right; color: #fff;"><a routerLink="/investments/Agriculture/list" class="btn btn-invest2">Invest Now </a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="workingSection" id="workingsection">
        <div class="inner-workingSection">
            <div class="row">
                <div class="col-md-6 hidingImage">

                    <div class="working-content animated wow zoomIn" data-wow-delay="0.79s" data-wow-duration="1.5s">
                        <h3>Why partner with us?</h3>
                        <article>
                            We have a team of seasoned investment analysts
                            committed to exploring and providing you with alternative
                            investment opportunities.
                        </article>
                        <article>Every portfolio is well researched and your funds diligently
                            managed in a way that provides a balanced investment mix
                            that suits your financial goal.
                        </article>
                        <div class="btn-holder">
                            <a routerLink="/investments" class="btn btn-invest">Join Us</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="circle-section animated wow fadeInRight" data-wow-delay="0.75s" data-wow-duration="1.5s">
                        <img src="assets/images/partner01.svg" alt="work-with-us">
                        <div class="mobile-overlay"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>

