<section class="landing">
    <div class="inner-landing">
        <div class="row">
            <div class="col-md-7">
                <h2>
                    The Intelligent decision <br>
                    for your Investment
                </h2>
                <span class="lower-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Cumque repellat commodi eveniet maximem blanda id sed?
                    </span>
                <div class="get-started">
                    <a href="" class="btn btn-investment">Get Started</a>
                </div>
            </div>
            <div class="col-md-4 hide-sm">
                <div class="circle">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="ourServices">
    <h3 class="title-head">What we do</h3>
    <h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi, <br>
        voluptas vitae perferendis quis tempora suscipit optio accusamus sint ratione <br>
        provident commodi ullam? Tenetur, tempore sed quos et optio assumenda.
    </h4>
    <div class="inner-ourServices">
        <div class="row">
            <div class="col-md-4">
                <div class="holder-container">
                    <div class="img-holder">

                    </div>
                    <div class="content-holder">
                        <h3>What we do <br>Lorem</h3>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi, </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="holder-container effect">
                    <div class="img-holder">

                    </div>
                    <div class="content-holder">
                        <h3>What we do <br>Lorem</h3>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi, </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="holder-container">
                    <div class="img-holder">

                    </div>
                    <div class="content-holder">
                        <h3>What we do <br>Lorem</h3>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi, </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="superbOffers">
    <h3 class="title-head">Superb Investment Offers</h3>
    <div class="inner-superb">
        <div class="row">
            <div class="col-md-3">
                <div class="superb-container">
                    <div class="img-holder">

                    </div>
                    <div class="content-holder">
                        <h2><a href="">Uber Car Investment</a></h2>
                        <h3>₦30,000</h3>
                        <span class="span-profit">11 - 15% Profit <br> (Estimated)</span>
                        <p>12 Months</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="superb-container">
                    <div class="img-holder">

                    </div>
                    <div class="content-holder">
                        <h2><a href="">Uber Car Investment</a></h2>
                        <h3>₦30,000</h3>
                        <span class="span-profit">11 - 15% Profit <br> (Estimated)</span>
                        <p>12 Months</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="superb-container">
                    <div class="img-holder">

                    </div>
                    <div class="content-holder">
                        <h2><a href="">Uber Car Investment</a></h2>
                        <h3>₦30,000</h3>
                        <span class="span-profit">11 - 15% Profit <br> (Estimated)</span>
                        <p>12 Months</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="superb-container">
                    <div class="img-holder">

                    </div>
                    <div class="content-holder">
                        <h2><a href="">Uber Car Investment</a></h2>
                        <h3>₦30,000</h3>
                        <span class="span-profit">11 - 15% Profit <br> (Estimated)</span>
                        <p>12 Months</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="down-offer-content">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p>
                        consequuntur quis non praesentium! Unde, harum. corporis pariatur totam fuga eligendi quo
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="" class="btn btn-superb">View more</a>
            </div>
        </div>
    </div>
</section>
<section class="workingSection">
    <div class="inner-workingSection">
        <div class="row">
            <div class="col-md-7">
                <div class="working-content">
                    <h3>Why work with us?</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum error doloribus non sed cum
                        illum quos, dicta neque esse laborum sunt perferendis consectetur delectus voluptate obcaecati
                        tempora id ullam.
                    </p>
                    <div class="btn-holder">
                        <a href="" class="btn btn-work-green">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="circle-section">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials">
    <h3 class="title-head">Testimonials</h3>
    <div class="inner-testimonial ">

    </div>
</section>