[data-href] {
    cursor: pointer;
}

.image-holder {
  width:auto;
  height: 230px;
  text-align:center;
  padding:20px;
}

div > a {
  color: #221F72;
  font-weight: bold;
}

.btn-primary {
  background-color: #5b58bd;
  border-color: #5b58bd;
}


hr.new {
  border: 1px solid #221F72;
}

.summary-card {
	height: 200px;
}

textarea {
  overflow:hidden;
}


img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.input-control {
  display: block;
  width: 100%;
  padding: .5rem .5rem;
  color: #495057;
  box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid ;
  border-radius: 2px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button {
  font-size: 13px;
}
.form-control {
  background-color: transparent;
}


h4,h5,p,a {
  color: #221F72;
  font-weight: 600;
}

.form-group {
  margin-bottom: 0;
}

h6 {
  color: #221F72;
  font-size: 12px;
  font-weight: 600;
}

.col-7, .col-5 a {
  font-size: 12px;
}

.summary-font {
  color: #221F72;
  font-size: 14px;
  font-weight: 600;
}


.table > thead > tr > th {
  border-bottom-width: 2px;
  border-bottom-color: #221F72;
  color: #221F72;
  font-size: 14px;
  font-weight: bold;
}

.upload-btn-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

td,th,tr {
  border-color: #221F72
}

.row .col-6 {
  color: red;
  font-weight: bolder;

}

.displayStatus {
  color: red;
  justify-content: center;
  text-align: center;
  font-family: roboto;
  letter-spacing: .04rem;
  font-weight: 500;
  padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: roboto, sans-serif
}

.my-pagination /deep/ .ngx-pagination {
  display: block;
  width: 100%;
  padding: 50px;
}

.table td {
  font-size: 12px;
}
