<div *ngIf="!selectedUser" class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div *ngIf="isLoading" class="pool-details lds-default">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                        
                    <div *ngIf="!isLoading" class="">
                        <div class="clearfix mb-3">
                            <div class="float-left pt-2">
                                <a class="h4 pr-2">Investment</a>
                                <a class=" pl-2">Home / Investments</a>
                            </div>  
                            <div class="float-right">
                                <a (click)="cancelPool()">
                                    <img class="" src="../assets/images/icon/icons/Back-icon.png" style="height: 50px;">
                                </a>
                            </div>
                        </div>
                        <div class="row p-0">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="row p-3">
                                        <div class="col-12">
                                            <h5 class="head pb-2">Investment Details</h5>

                                            <hr class="new my-0">
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-6 pt-2 pr-4">

                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Title</h6>
                                                <div class="col-sm-9">
                                                    <input type="type" readonly class="form-control form-control-sm" [(ngModel)]="pool.title" value={{pool?.investment?.title}}>
                                                </div>
                                            </div>

                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Investors</h6>
                                                <div class="col-sm-9">
                                                    <input type="type" readonly class="form-control form-control-sm" [(ngModel)]="pool.max_num_of_slots" value={{pool?.investment?.max_num_of_slots}}>
                                                </div>
                                            </div>

                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Pricing</h6>
                                                <div class="col-sm-9">
                                                    <input type="type" readonly class="form-control form-control-sm" name="pricing" id="pricing"  value={{pool?.investment?.investment_amount}}>
                                                </div>
                                            </div>

                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Invested Amount</h6>
                                                <div class="col-sm-9">
                                                    <input type="type" readonly class="form-control form-control-sm" name="pricing" id="pricing"  value={{pool?.investment?.investment_amount}}>
                                                </div>
                                            </div>

                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Total Return</h6>
                                                <div class="col-sm-9">
                                                    <input type="type" readonly class="form-control form-control-sm" name="return" id="return"  value={{pool?.investment?.max_num_of_slots*pool?.investment?.investment_amount}}>
                                                </div>
                                            </div>

                                            <div class="form-group pb-2 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Monthly Return</h6>
                                                <div class="col-sm-9">
                                                    <input type="type" readonly class="form-control form-control-sm" name="pricing" id="pricing"  value={{pool?.investment?.investment_amount}}>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 pt-2 pr-4">
                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Category</h6>
                                                <div class="col-sm-9">
                                                    <input name="category" class="form-control form-control-sm" readonly value={{getCategoryName(pool?.investment?.category_id)}}>
                                                </div>
                                            </div>

                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Tenure</h6>
                                                <div class="col-sm-9">
                                                    <input type="type" readonly class="form-control form-control-sm" [(ngModel)]="pool.duration" value={{pool?.investment?.duration}}>
                                                </div>
                                            </div>

                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Slots Purchased</h6>
                                                <div class="col-sm-9">
                                                    <input type="type" readonly class="form-control form-control-sm" [(ngModel)]="pool.duration" value={{pool?.investment?.num_of_pools_taken}}>
                                                </div>
                                            </div>
    
                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">ROI</h6>
                                                <div class="col-sm-9">
                                                    <input type="number" readonly class="form-control form-control-sm" required name="roi" id="roi" placeholder="" value={{pool?.investment?.expected_return_amount}}>
                                                </div>
                                            </div>

                                            <div class="form-group pb-5 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Payback Frequency</h6>
                                                <div class="col-sm-9">
                                                    <input class="form-control form-control-sm" name="period" (change)="calculateEstimate()" id="period" readonly value={{pool?.investment?.expected_return_period}}>
                                                </div>
                                            </div>


                                            <div class="form-group pb-2 row">
                                                <h6 class="col-sm-3 pr-0 col-form-label">Status</h6>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm" value={{getPoolstatus(pool?.investment?.is_investment_started)}} [(ngModel)]="returns">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-block summary-card">
                                        <div class="row p-0">
                                            <div class="col-12">
                                                <h5 class="">Investment Summary</h5>
                                                <hr class="new my-0">
                                            </div>
                                        </div>

                                        <div class="row mt-5">
                                            
                                            <div class="col-xl-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="row">
                                                            <div class="col-5 summary-font">
                                                                <a class="">Payback</a>
                                                            </div>
                                                            <div class="col-7 summary-font">
                                                                <a class="pr-2">-</a>
                                                                <a class="pl-5">{{ dashboardInvestment[0].investment_report.length }} of   {{ divisorFunc(pool?.investment?.expected_return_period) }}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="row">
                                                            <div class="col-5 summary-font">
                                                                <a class="">Last Payment</a>
                                                            </div>
                                                            <div class="col-7 summary-font">
                                                                <a class="pr-2">-</a>
                                                                <a class="pl-5">
                                                                    {{ dashboardInvestment[0].investment_report[dashboardInvestment[0].investment_report.length -1].created_at | date :  "dd.MM.y"}}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <a class="">Next Payment</a>
                                                            </div>
                                                            <div class="col-7">
                                                                <a class="pr-2">-</a>
                                                                <a class="pl-5">
                                                                    {{ addMonth(dashboardInvestment[0].investment_report[dashboardInvestment[0].investment_report.length -1].created_at, 1)  | date:  "dd.MM.y" }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 pt-4">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <a class="">Amount Paid</a>
                                                            </div>
                                                            <div class="col-7">
                                                                <a class="pr-2">-</a>
                                                                <a class="pl-5 text-success">{{pool?.investment?.expected_return_amount * dashboardInvestment[0].investment_report.length }}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 pt-4">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <a class="">Amount Pending</a>
                                                            </div>
                                                            <div class="col-7">
                                                                <a class="pr-2">-</a>
                                                                <a class="pl-5 text-danger">{{ ((((pool?.investment?.investment_amount *dashboardInvestment[0].number_of_pools) * (calculateEstimate(pool?.investment?.expected_return_amount,pool?.investment?.investment_amount, pool?.investment?.expected_return_period)))/100)) - (pool?.investment?.expected_return_amount * dashboardInvestment[0].investment_report.length) }}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 pt-4">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <a class="">Termination Date</a>
                                                            </div>
                                                            <div class="col-7">
                                                                <a class="pr-2">-</a>
                                                                <a class="pl-5">{{pool?.investment?.investment_close_date}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-sm-12">
                                <div class="card">
                                    <h5 class="card-header">Investment Report</h5>
    
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="investmentTable" *ngFor="let investments of dashboardInvestment;index as i" class="table appTable nowrap">
                                                <thead>
                                                <tr>
                                                    <th>S/N</th>  
                                                    <th>Investment Title</th>
                                                    <th>Payback Frequency</th>
                                                    <th>Amount Credited</th>
                                                    <th>Yield Amount</th>
                                                    <th>Balance</th>
                                                    <th>Status</th>
                                                    <th>Date Paid</th>
                                                </tr>
                                                </thead>
                                                <tbody >
                                                    <tr  *ngFor="let report of investments.investment_report| paginate: { itemsPerPage: 5, currentPage:p2, id: 'second'};index as i">
                                                        <td style="width: 5%">{{(i+1) + (p2 - 1) * 5}}</td>
                                                        <td style="width: 15%">{{report.title}}</td>
                                                        <td style="width: 15%"></td>
                                                        <td style="width: 15%">{{report.returned_amount}}</td>
                                                        <td style="width: 15%">{{report.returned_amount * ((i+1) + (p2 - 1) * 5 ) | number:'1.1-2'}}</td>
                                                        <td style="width: 10%"></td>
                                                        <td style="width: 15%"> On-going </td>
                                                        <td style="width: 10%">{{report.created_at | date :  "dd.MM.y"}}</td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                      <td [colSpan]="99" class="pb-0">
                                                        <pagination-controls
                                                          (pageChange)="p2=$event" id='second'>
                                                        </pagination-controls>
                                                      </td>
                                                    </tr>
                                                  </tfoot>
                                                
                                            </table>
                                            <div *ngIf="dashboardInvestment.length == 0" >
                                                <p class="displayStatus">"No records found."</p>
                                           </div>
                                            
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>              
                </div>

            </div>
        </div>
    </div>
</div>
<app-profile-summary  *ngIf="selectedUser" [user]="selectedUser"></app-profile-summary>
<app-user-dashboard   *ngIf="selectedUser" [overiddenUser]="selectedUser" ></app-user-dashboard>
