.card {
	min-height: 400px;
}

.card-block {
	padding: 0px;
	overflow: auto;

	.paging {
		padding-left: 10px;
	}
}

.usergroup-header {
    font-weight: bold;
    font-size: 14px;
    color: #07075f;
    font-family: roboto, sans-serif
}

.usergroup-body {
    font-weight: 500;
    font-size: 12px;
}

.s-n, .checkbox {
	flex: 1;
}

.username, .role, .status, .date-added {
	flex: 2;
}

.email {
	flex: 4;
}

.action {
	border-left: 1px solid black;
	flex: 2;
}

.d-flex {
	justify-content: center;
	align-items: center;

	p {
		align-self: center;
		text-align: center;
		text-align: justify;
		height: 60px;
		line-height: 4;
		margin-bottom: 0px;
		padding-left: 10px;
		border-bottom: 1px solid black;
	}
}

div > a {
    color: #221F72;
    font-weight: bold;
}

.input-control {
    display: block;
    width: 70%;
    color: #495057;
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .controls {
      text-align: center;
  }


@media screen and (max-width: 1024px) {
	.s-n, .checkbox {
		flex: 0.5;
	}

	.username, .role, .status {
		flex: 1;
	}

	.date-added {
		flex: 2
	}

	.email {
		flex: 4;
	}

	.action {
		border-left: 1px solid black;
		flex: 1;
	}
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked {
    width: 20px;
    height: 20px;
}
