<div *ngIf="!selectedUser" class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div *ngIf="isLoading" class="lds-default">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div *ngIf="!isLoading" class="">
                        <div class="clearfix mb-3">
                            <div class="float-left pt-2">
                                <a class="h4 pr-2">UserGroup</a>
                                <a class="pl-2">Home / users</a>
                            </div>
                            <div class="float-right">
                                <a routerLink="../add-users">
                                    <img
                                        class=""
                                        src="../../../../../assets/images/icon/icons/Add-icon.png"
                                        style="cursor: pointer; height: 50px;"
                                    />
                                </a>
                                <a (click)="deleteSelected()">
                                    <img
                                        class=""
                                        src="../../../../../assets/images/icon/icons/Delete-icon.png"
                                        style="cursor: pointer; height: 50px;"
                                    />
                                </a>
                            </div>
                        </div>
                        <div class="card" *ngIf="!isLoading">
                            <div class="card-block dt-responsive usergroup-header d-flex">
                              <p class="checkbox"><input type="checkbox" value="" [(ngModel)]="selectedAll" (change)="selectAll()"></p>
                              <p class="s-n">S/N</p>
                              <p class="username">Username</p>
                              <p class="email">Email</p>
                              <p class="role">Role</p>
                              <p class="status">Status</p>
                              <p class="date-added">Date Added</p>
                              <p class="action">Action</p>
                            </div>
                            <div class="card-block dt-responsive usergroup-body">
                              <div *ngFor="let user of adminUsers | paginate: { itemsPerPage: pageValue, currentPage:p2, id: 'second'}; index as i;" class="d-flex">
                                <p class="checkbox"><input type="checkbox" value="" [(ngModel)]="user.selected" (change)="checkIfAllSelected()"></p>
                                <p class="s-n">{{user?.index}}</p>
                                <p class="username">{{user?.first_name}}</p>
                                <p class="email">{{user?.email}}</p>
                                <p class="role">{{user?.user_category}}</p>
                                <p class="status">Enabled</p>
                                <p class="date-added">{{user?.created_at | date}}</p>
                                <p class="action" routerLink="./{{user?.email}}" style="cursor: pointer;">
                                    <img src="../../../../assets/images/icon/icons/Edit-icon.png">
                                </p>
                              </div>
                              <div  class="col-12 d-flex flex-row mt-3">
                                <pagination-controls class="col-md-10 col-xs-10 px-0" (pageChange)="p2 = $event" id='second'></pagination-controls>
                                <span class="col-md-2 col-xs-2 controls">
                                    <select class="py-2 input-control" data-type="items-per-page" (change) = setItemsPerPage(page.value) #page>
                                        <option value="5"> 5 rows </option>
                                        <option value="10"> 10 rows </option>
                                        <option value="20"> 20 rows </option>
                                        <option value="0"> view all </option>
                                    </select>
                                </span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
