.filled{
    border-width: 0;
    width: 70%;
    background-color: #8080801a;
    padding: 5px 2px;
}

input:disabled {
    color: rgb(16, 2, 2);
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: white;
    width: 100%;
    padding: 0;
}