<section class="about-us">
    <div class="inner-about">
       <div class="inner-content-story">
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste totam reprehenderit similique
               qui eum esse repudiandae, quis fuga dolores autem porro ex quasi magnam facilis accusamus,
               itaque modi architecto!
           </p>
           <div class="part-content">
               <p>
                   fuga dolores autem porro ex quasi magnam facilis accusamus,
                   itaque modi architecto! fuga dolores autem porro ex quasi magnam facilis accusamus,
                   itaque modi architecto!
               </p>

           </div>
       </div>
        <div class="our-team">
            <h5>Meet out Team</h5>
            <div class="team-card-holder">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="team-card">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../assets/images/notcard.png" alt="image">
                                </div>
                                <h4>Lorem Ipsum</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../assets/images/notcard.png" alt="image">
                                </div>
                                <h4>Lorem Ipsum</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../assets/images/notcard.png" alt="image">
                                </div>
                                <h4>Lorem Ipsum</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-card">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../assets/images/notcard.png" alt="image">
                                </div>
                                <h4>Lorem Ipsum</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../assets/images/notcard.png" alt="image">
                                </div>
                                <h4>Lorem Ipsum</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../assets/images/notcard.png" alt="image">
                                </div>
                                <h4>Lorem Ipsum</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="join-team-section">
   <div class="inner-team-section">
       <h3>Join Our Team</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste totam reprehenderit
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste totam reprehenderit s
       </p>

       <div class="action">
           <a href="" class="btn btn-send">Send us a mail</a>
       </div>
   </div>
</section>