<section class="about-us">
    <div class="inner-about">
        <!--<div class="inner-content-story">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste totam reprehenderit similique
                qui eum esse repudiandae, quis fuga dolores autem porro ex quasi magnam facilis accusamus,
                itaque modi architecto!
            </p>
            <div class="part-content">
                <p>
                    fuga dolores autem porro ex quasi magnam facilis accusamus,
                    itaque modi architecto! fuga dolores autem porro ex quasi magnam facilis accusamus,
                    itaque modi architecto!
                </p>

            </div>
        </div>-->
        <div class="our-team">
            <h5>Meet out Team</h5>
            <div class="team-card-holder">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="team-card">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../../../assets/images/default-profile.png" alt="image">
                                </div>
                                <h4>Mustapha Olasunkanmi </h4>
                                <h5>(Co-Founder)</h5>
                            </div>
                            <div class="team-detail">
                                <p>
                                    Olasunkanmi is an experienced entrepreneur with a demonstrated history of working in
                                    the Information technology industry. He is skilled in Business Planning and strategy,
                                    management, and use of technology. This strong business development professional and
                                    manager with diverse investments across businesses from tech startups - hospitality –
                                    mining – agriculture spanning 20 years is very much a social entrepreneur who believes
                                    in building people and culture in the organization. He currently sits on the board
                                    of several companies.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../../../assets/images/Ibrahim.png" alt="image">
                                </div>
                                <h4>Ibrahim Toyeeb</h4>
                                <h5>(Co-Founder)</h5>
                            </div>
                            <div class="team-detail">
                                <p>
                                    With both International Relations and Law Degrees, Ibrahim has applied his skills
                                    working in the Marketing and Strategy divisions of various firms across different
                                    sectors. A Tech enthusiast with a keen interest in innovation, he is committed to
                                    further exploring the frontiers of Investech in Africa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="join-team-section">
    <div class="inner-team-section">
        <h3>Join Our Team</h3>
        <p>We are looking for exceptional talents who already have a deep understanding of the investment tech market. We are looking to hire people who are willing to adapt and learn on the job.
        </p>

        <div class="action">
            <a routerLink="/career" class="btn btn-send">Send us a mail</a>
        </div>
    </div>
</section>
