<section class="about-header">
    <!--<div class="inner-work">-->
    <!--<h3 class="animated wow fadeInDown" data-wow-delay=".5s" data-wow-duration="2s">[ How it Works ]</h3>-->
    <!--</div>-->
</section>
<section class="section-container" style="padding-bottom: 4em !important;">
    <h5 class="team-title">Meet our Team</h5>
    <section class="about-us">
        <div class="inner-about">
            <div class="our-team">

                <!--F I R S T - M E M B E R -->
                <div class="member">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../../../assets/images/sunkanbi.jpeg" alt="image">
                                </div>
                                <h4>Mustapha Olasunkanmi</h4>
                                <h5>(Co-Founder)</h5>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <article>
                                Olasunkanmi is an experienced entrepreneur with a demonstrated history of working in
                                the Information technology industry. He is skilled in Business Planning and strategy,
                                management, and use of technology. This strong business development professional and
                                manager with diverse investments across businesses from tech startups - hospitality –
                                mining – agriculture spanning 20 years is very much a social entrepreneur who believes
                                in building people and culture in the organization. He currently sits on the board
                                of several companies..
                            </article>
                            <div class="contact-buttons">
                                <div><a href="" class="btn btn-contact">Linkedln</a></div>
                                <div><a href="" class="btn btn-contact">Mail</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--S E C O N D - M E M B E R -->
                <div class="member" style="padding-top: 0">
                    <div class="row" style="padding-bottom: 2%">
                        <div class="col-md-8">
                            <article>
                                With both International Relations and Law Degrees, Ibrahim has applied his skills
                                working in the Marketing and Strategy divisions of various firms across different
                                sectors. A Tech enthusiast with a keen interest in innovation, he is committed to
                                further exploring the frontiers of Investech in Africa.
                            </article>
                            <div class="contact-buttons">
                                <div><a href="" class="btn btn-contact">Linkedln</a></div>
                                <div><a href="" class="btn btn-contact">Mail</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../../../assets/images/Ibrahim.png" alt="image">
                                </div>
                                <h4>Ibrahim Toyeeb</h4>
                                <h5>(Co-Founder)</h5>
                            </div>

                        </div>
                    </div>
                </div>

                <!--T H I R D - M E M B E R -->
                <div class="member" style="padding-top: 0">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../../../assets/images/judy.jpg" alt="image">
                                </div>
                                <h4>Kuyoro, Oluwatoyin Judy</h4>
                                <h5>(Head of Business Development)</h5>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <article>
                                Judy has a B.A in English Language and an MSc. in Organizational Behaviour both from
                                the University of Lagos. She is a highly skilled, hands-on, goal-getting, target-oriented
                                value-adding professional with about 13 years' experience in Investment Management,
                                Business Development, Customer Relationship Management and Business Administration and
                                an extensive exposure in Human Resources and Organisational Development cutting across
                                diverse sectors of the Nigerian economy especially in the Capital Market, Financial Services
                                and Oil and Gas where she has displayed exemplary leadership and professionalism.
                                She has attended various related courses locally.
                            </article>
                            <div class="contact-buttons">
                                <div><a href="" class="btn btn-contact">Linkedln</a></div>
                                <div><a href="" class="btn btn-contact">Mail</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--F O U R T H - M E M B E R -->
                <div class="member" style="padding-top: 0">
                    <div class="row">
                        <div class="col-md-8">
                            <article>
                                Matthew Olatoke is an Investment Banking Professional with years of experience in Financial
                                Advisory,Mergers and Acquisitions,Capital Raising,Securities Trading and Asset Management.
                                He is an associate member of Chartered Institute of Stockbroking,with a program membership
                                of
                                Chartered Financial Analyst Institute (CFA),Financial Risk Manager(GARP-FRM,UK),and
                                Association
                                of Chartered Certified Accountant (ACCA).He has BSc. in Chemistry from University of Ilorin,
                                MBA with Finance Option,and Postgraduate Diploma in Economics,both from Obafemi Awolowo
                                University (OAU),and Professional training in Master of Financial Mathematics(MFM) from
                                University of Ibadan(UI) and Masters of Financial Engineering (MscFE) at WorldQuant
                                University,
                                Louisiana.He has keen interest in Market Development and Financial Inclusion,Financial Risk
                                Management and Financial Technology (FINTECH) in Emerging and Frontier Markets.
                            </article>
                            <div class="contact-buttons">
                                <div><a href="" class="btn btn-contact">Linkedln</a></div>
                                <div><a href="" class="btn btn-contact">Mail</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-details">
                                <div class="team-image">
                                    <img src="../../../assets/images/lekan.jpg" alt="image">
                                </div>
                                <h4>Lekan Olatoke</h4>
                                <h5>(Chief Financial Officer)</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section class="join-team-section">
        <div class="inner-team-section">
            <h3>Join Our Team</h3>
            <p>We are looking for exceptional talents who already have a deep understanding of the investment tech
                market. We are looking to hire people who are willing to adapt and learn on the job.
            </p>

            <div class="action">
                <a routerLink="/career" class="btn btn-send">Join Us</a>
            </div>
        </div>
    </section>-->
</section>
