<ul class="ml-auto">
    <li>
      <a routerLink="/investments" routerLinkActive="active">Investment</a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="active">Services</a>
    </li>
    <li>
      <a routerLink="/about-us" routerLinkActive="active">About Us</a>
    </li>
    <li>
      <a routerLink="/career" routerLinkActive="active">Career</a>
    </li>
    <li>
      <a routerLink="/signin" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
    </li>
</ul>