<div class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body list-vacancy">
                    <div class="row mb-4">
                        <div class="col-xl-9 col-md-6 title-list">
                            <h3>Profile of {{user?.first_name}} {{user?.last_name}}
                            </h3>
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <a >
                                    <img class="" src="../../../../assets/images/icon/icons/Back-icon.png" routerLink="./search" routerLinkActive="active">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-7">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Personal Information
                                    </h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table">
                                            <tr>
                                                <td class="table-font">Full Name:</td>
                                                <td>{{user?.first_name}} {{user?.last_name}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Email:</td>

                                                <td> {{user?.email}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Phone Number:</td>
                                                <td>{{user?.phone_number}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Date of Birth:</td>
                                                <td>{{user?.day_of_birth}} /  {{user?.month_of_birth}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Gender:</td>
                                                <td>{{user?.gender}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Address:</td>
                                                <td>{{user?.home_address}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Country:</td>
                                                <td>{{user?.country}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Place of Work:</td>
                                                <td>{{user?.where_you_work}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Average <br>Monthly Income:</td>
                                                <td style="text-align: center;">{{user?.average_monthly_income | currency:'NGN':'symbol-narrow'}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Account Information</h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table">
                                            <tr>
                                                <td  class="table-font">Account Name:</td>
                                                <td>{{user?.account_name}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Account Number:</td>
                                                <td>{{user?.account_number}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Bank:</td>
                                                <td>{{user?.bank_name}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header">
                                    <h5>Settings Information</h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table">
                                            <tr>
                                                <td  class="table-font">Receive updates on new Plans?</td>
                                                <td *ngIf="user?.updates_on_new_plans==1"><label class="label label-primary">Yes</label></td>
                                                <td *ngIf="user?.updates_on_new_plans==0"><label class="label label-danger">No</label></td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Send E-mail updates on investment?</td>
                                                <td *ngIf="user?.email_updates_on_investment_process==0"><label class="label label-danger">No</label></td>
                                                <td *ngIf="user?.email_updates_on_investment_process==1"><label class="label label-primary">Yes</label></td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">User's Status:</td>
                                                <td *ngIf="user?.email_is_verified==1"><label class="label label-success">User is Active</label></td>
                                                <td *ngIf="user?.email_is_verified==0"><label class="label label-danger">User is not Active</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-4">
                        <div class="col-7">
                            <span class="card d-flex flex-row">
                                <span class="information">Principal: </span>
                                <span>  {{ investment?.investment_amount }}</span>
                                <span class="information">ROI: </span>
                                <span>  {{investment?.category_id}}</span>
                                <span class="information">Expected Returns: </span>
                                <span>  {{investment?.expected_return_amount}}</span>
                            </span>
                        </div>

                        <div class="col-5 d-flex flex-row">
                            <span class="text-center">
                                <a *ngIf="user?.email_is_verified==0" (click)="updateUser('enable')" class="btn-lg btn-success">Activate User</a>
                                <a *ngIf="user?.email_is_verified==1" (click)="updateUser('')" class="btn-lg btn-danger">Deactivate User</a>
                            </span>
                            <span class="buttons text-center">
                                <a  (click)="delete(user)" class="btn-lg btn-danger">Delete User</a>
                            </span>
                        </div>

                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-12">


                            <div class="card">
                                <h5 class="card-header" >Current Investment</h5>

                                <div class=" card-block d-flex flex-row">
                                    <div class="col-4">
                                           <div class="dt-responsive table-responsive">
                                                <table class="table reduced-font">
                                                    <tr>
                                                        <td class="highlighted">Investment Title</td>
                                                        <td>{{investment?.title}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td  class="highlighted">Payback</td>
                                                        <td>{{investment?.category_id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td  class="highlighted">Amount Paid</td>
                                                        <td>{{investment?.category_id}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                    </div>
                                     <div class="col-4">
                                           <div class="dt-responsive table-responsive">
                                                <table class="table reduced-font">
                                                    <tr>
                                                        <td  class="highlighted">Cost</td>
                                                        <td>{{investment?.category_id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td  class="highlighted">Last Payment</td>
                                                        <td>{{investment?.category_id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td  class="highlighted">Amount Pending</td>
                                                        <td>{{investment?.category_id}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                    </div>
                                     <div class="col-md-4">
                                           <div class="dt-responsive table-responsive">
                                                <table class="table reduced-font">
                                                    <tr>
                                                        <td  class="highlighted">Slot(s)</td>
                                                        <td>{{investment?.num_of_pools_taken}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td  class="highlighted">Next Payment</td>
                                                        <td>{{investment?.category_id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td  class="highlighted">Termination Date</td>
                                                        <td>{{investment?.investment_ended_date}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row mb-4">
                        <div class="card col-md-12">
                            <div class="card-header">
                                <h5>Investment Report</h5>
                            </div>


                            <div class="card-block">
                                <div class="dt-responsive table-responsive table-wrapper-scroll-y custom-scrollbar">
                                    <table class="table appTable table-striped nowrap">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%">S/N</th>
                                            <th style="width: 15%">Investment Title</th>
                                            <th style="width: 10%">Payback Frequency</th>
                                            <th style="width: 10%">Amount Credited</th>
                                            <th style="width: 10%">Yield Amount</th>
                                            <th style="width: 10%">Balance</th>
                                            <th style="width: 10%">Status</th>
                                            <th style="width: 10%">Date Paid</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  *ngFor="let investments of userInvestment | paginate: { itemsPerPage: 5, currentPage: p}">
                                            <td> </td>
                                            <td >{{investments.title}}</td>
                                            <td >{{investments.expected_return_amount}}</td>
                                            <td >{{investments.category_id}}</td>
                                            <td>{{investments.category_id}}</td>
                                            <td >{{investments.category_id}}</td>
                                            <td >{{investments.category_id}}</td>
                                            <td >{{investments.category_id}}</td>
                                        </tr>
                                        </tbody>
                                        <span class="pagination">
                                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                        </span>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="card col-md-12">
                             <div class="card-header">
                                <h5>Investment History</h5>
                            </div>

                            <div class="card-block">
                                <div class="dt-responsive table-responsive table-wrapper-scroll-y custom-scrollbar">
                                    <table class="table appTable table-striped nowrap">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%">S/N</th>
                                            <th style="width: 15%">Investment Title</th>
                                            <th style="width: 10%">Category</th>
                                            <th style="width: 10%">Cost</th>
                                            <th style="width: 10%">No of Slots</th>
                                            <th style="width: 10%">Duration</th>
                                            <th style="width: 10%">Returns</th>
                                            <th style="width: 10%">Period</th>
                                            <th style="width: 10%">Amount</th>
                                            <th style="width: 10%">Status</th>
                                            <th style="width: 10%">Date Added</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr  *ngFor="let investments of userInvestment | paginate: { itemsPerPage: 5, currentPage: p}">
                                                <td> </td>
                                                <td >{{investments.title}}</td>
                                                <td >{{investments.category_id}}</td>
                                                <td >{{investments.category_id}}</td>
                                                <td >{{investments.num_of_pools_taken}}</td>
                                                <td >{{investments.duration}}</td>
                                                <td >{{investments.category_id}}</td>
                                                <td >{{investments.category_id}}</td>
                                                <td >{{investments.investment_amount}}</td>
                                                <td >{{investments.category_id}}</td>
                                                <td >{{investments.created_at}}</td>
                                            </tr>
                                        </tbody>
                                        <span class="pagination">
                                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                        </span>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
