input:disabled {
    color: rgb(16, 2, 2);
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: white;
    width: 100%;
    padding: 0;
}

img {
    cursor: pointer;
}

.table-font {
    font-weight: bold;
}

.row .buttons {
    display: inline;
}

.title-list h3 {
    color: #221F72;
    font-weight: 600;
}

.card-header h5 {
    color: #221F72;
    font-size: 0.80rem;
    letter-spacing: .04rem;
}


.col-7 .card {
    background-color:whitesmoke;
}

h5 {
    font-size: 0.80rem;
    letter-spacing: .04rem;
    font-family: roboto;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    color: #221F72;
}

th {
    font-size: 0.80rem;
    letter-spacing: .04rem;
    font-family: roboto;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    color: #221F72;

}

.highlighted {
    font-size: 0.80rem;
    color: #221F72;
    font-family: roboto;
    letter-spacing: .04rem;
    font-weight: 800;
    cursor: pointer;
    border: none;
    padding: 4px;
}


.card .information {
    margin: 3.60rem;
    font-size: 0.75rem;
    font-family: roboto;
    letter-spacing: .04rem;
    font-weight: 800;
    cursor: pointer;
    border: none;
    padding: 2px;
}

.btn-danger {
    background-color: #F2533A;
}
