input:disabled {
    color: rgb(16, 2, 2);
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: white;
    width: 100%;
    padding: 0;
}

.row .buttons {
    display: inline;
    padding-left:0px;
}

.row .updates {
    margin-right: 40px;
}

.card .information {
    margin: 3.85rem;
    line-height: 1.5rem;
    font-size: bold;
}
