.modal{
    overflow: none;
}

div > a {
    color: #221F72;
    font-weight: bold;
}
  
.head {
    padding: 0;
    font-weight: bolder;
    color: #221F72;
}
  
.shadow {
    -moz-box-shadow:    .3px .3px .3px .8px #495057;
    -webkit-box-shadow: .3px .3px .3px .8px #495057;
    box-shadow:         .3px .3px .3px .8px #495057;
}
  
.input-control {
    display: block;
    width: 100%;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.3px solid #221F72;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
.btn-primary {
    background-color: #5b58bd;
    border-color: #5b58bd;
}
  
button {
    font-size: 13px;
}
  
hr.new {
    border: 1px solid #221F72;
}
  
h6 {
    color: #221F72;
    font-size: 12px;
    font-weight: 600;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> cleaning up
}

.category-header {
    display: flex;
    font-weight: bold;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #221f72;
    border-width: 1.5px;
    margin: 0px;
    padding: 0px;
}

.category-body .row1 {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 0.5px;
    border-bottom-color: #221F72;
    margin: 0px;
    padding: 0px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> new
=======
>>>>>>> cleaning up
=======
}

p {
    color: #221f72;
    font-weight: 600;
>>>>>>> little Adjustment
}