<section class="login-section">
    <div class="inner-login">
        <div class="row">
            <div class="col-md-6 col-xs-3 col-lg-6 offset-md-3 divider">
                <div class="login-form">
                    <h3>Recover Password, </h3>
                    <p>Provide below with your E-mail</p>
                    <form action="">
                        <div class="form-group">
                            <label for="regemail" class="sr-only">Email Address</label>
                            <input type="email" placeholder="E-mail" class="form-control" id="regemail">
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-login" value="Submit" id="">
                        </div>
                    </form>
                    <div class="otherInfo">
                        <p>Don't have an account? Sign up <a routerLink="/signup" routerLinkActive="active">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>