<section class="login-section">
    <div class="inner-login">
        <div class="row">
            <div class="col-md-6 col-xs-3 col-lg-6 offset-md-3">
                <div class="login-form">
                    <h3>Recover Password, </h3>
                    <p>Provide below with your E-mail</p>
                    <form (ngSubmit)="recover()" #recoverForm="ngForm">
                        <div class="form-group">
                            <label for="regemail" class="sr-only">Email Address</label>
                            <input required [(ngModel)]="email" type="email" placeholder="E-mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="regemail">
                        </div>
                        <div class="form-group">
                            <button class="btn2 btn btn-raised btn-login" [disabled]="!recoverForm.form.valid" [promiseBtn]="isSubmitting">{{recoverText}}</button>
                        </div>
                    </form>
                    <div class="otherInfo">
                        <p>Don't have an account? Sign up <a routerLink="/signup" routerLinkActive="active">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>