.login-form{
    width: 100% !important
}

.container{
    min-width: 100% !important;
    h3{
        margin: 1.3em 0 2.5em;
        font-size: 0.85rem;
    }

    .fill{
        margin-bottom: 4.5rem;
    }
}