<section class="login-section">
    <div class="inner-login">
        <div class="row">
            <div class="col-md-6 col-xs-3 col-lg-6 offset-md-3">
                <div class="login-form">
                    <h3>Recover Password, </h3>
                    <p>Provide below with your E-mail</p>
                    <form (ngSubmit)="recover()" #recoverForm="ngForm">
                        <div class="form-group">
                            <label for="regemail" class="sr-only">Email Address</label>
                            <input required [(ngModel)]="email" type="email" placeholder="E-mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="regemail">
                        </div>
                        <!-- <div class="form-group">
                                [disabled]="!signInForm.form.valid" [promiseBtn]="isSubmitting"
                            <input type="button" class="btn2 btn-login" value="Submit" id="">
                        </div> -->
                        <div class="form-group">
                            <button class="btn2 btn btn-raised btn-login" [disabled]="!recoverForm.form.valid" [promiseBtn]="isSubmitting">{{recoverText}}</button>
                        </div>
                    </form>
                    <div class="otherInfo">
                        <p>Don't have an account? Sign up <a routerLink="/signup" routerLinkActive="active">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="login-section">
    <div class="inner-login">
        <div class="row">
            <div class="col-md-6 col-xs-3 col-lg-6 offset-md-3 divider">
                <div class="login-form">
                    <h3>Reset Password, </h3>
                    <p>Enter your new password</p>
                    <form action="">
                        <div class="form-group">
                            <label for="resetPwd" class="sr-only">Password</label>
                            <input type="password" placeholder="New Password" class="form-control" id="resetPwd">
                        </div>
                        <div class="form-group">
                            <label for="confResetPwd" class="sr-only">Confirm Password</label>
                            <input type="password" placeholder="Confirm New Password" class="form-control" id="confResetPwd">
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-login" value="Submit" id="">
                        </div>
                    </form>
                    <div class="otherInfo">
                        <p>Don't have an account? Sign up <a routerLink="/signup" routerLinkActive="active">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->