input:disabled {
    color: rgb(16, 2, 2);
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: white;
    width: 100%;
    padding: 0;
}



img {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.table-font {
    font-weight: bold;
}

.title-list h3 {
    color: #221F72;
    font-weight: 600;
}

.card-header h5 {
    color: #221F72;
    font-size: 0.80rem;
    letter-spacing: .04rem;
}


h5 {
    font-size: 0.80rem;
    letter-spacing: .04rem;
    font-family: roboto;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    color: #221F72;
}

th {
    font-size: 0.80rem;
    letter-spacing: .04rem;
    font-family: roboto;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    color: #221F72;

}

.table-striped td {
    font-size: bold;
    text-align: center;
}

.table-striped th {
    font-size: bold;
    text-align: center;
}

.col-5 span .buttons {
    margin-left: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.my_pagination /deep/ .ngx-pagination {
    display: inline-flex;
    flex: content;
}

.displayStatus {
    justify-content: center;
    text-align: center;
    font-family: roboto;
    letter-spacing: .04rem;
    font-weight: 500;
    padding: 0.5rem;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom-width: 2px;
    border-bottom-color: #221F72;
    font-size: 14px;
}

.table td {
    font-size: 13px;
    padding: 20px 10px !important;
    vertical-align: middle;
    border-top: 1px solid #221F72;
}





