<div class="pcoded-content">
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body category">
                <div class="clearfix mt-2">
                    <div class="float-left pt-2">
                      <a class="h4 pr-4" style="font-size: 24px; font-weight: bold;">Investment Category</a>
                      &nbsp; &nbsp;
                      <a class="pl-4">Home/Investment Category</a>
                    </div>
                    <div class="float-right">
                      <a (click)="goBack()"><img src="../../../../assets/images/icon/icons/Back-icon.png"></a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                          <div class="card">
                              <div class="card-header">
                                  <h5>Add New Category</h5>
                              </div>
                              <div class="card-block">
                                 <!-- <div class="alert alert-warning">
                                      <span>Error while adding category</span>
                                  </div>-->
                                  <form (ngSubmit)="addCategory()" #addCategoryForm="ngForm" class="">
                                      <div class="form-group">
                                          <label for="CategoryName">Category Name</label>
                                          <br>
                                          <input [(ngModel)] ="category.category_name" required type="text" name='categoryName'
                                                 class="form-control" id="CategoryName"
                                                 placeholder="Enter name of Category">
                                      </div>
                                      <br>
                                      <div class="form-group">
                                          <input  type="submit" [disabled]="!addCategoryForm.form.valid" id="actionBtn " value="{{buttonText}}" class="btn btn-success addCategory">
                                      </div>
                                  </form>
                              </div>
                          </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                              <h5>Investment Profile</h5>
                              <div id="category_filter" class="categories_filter">
                                <input type="text" placeholder="&nbsp; Search.." name="search" #search (keyup)="filterTable('category_name', search.value)"
                                (blur)="filterTable('category_name', search.value)">
                              </div>
                            </div>
                            <div class="card-block dt-responsive category-header">
                                    <p class="s-n" scope="col">S/N</p>
                                    <p class="category-name" scope="col">Category Name</p>
                                    <p class="action" scope="col">Action</p>
                            </div>
                            <div class="card-block dt-responsive category-body">
                                <div *ngIf="isLoading">
                                    <div  class="lds-default mt-5 pt-5">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div *ngIf="!isLoading">
                                    <div class="row1" *ngFor="let category of categories;let i=index">
                                        <p class="s-n">{{i+1}}</p>
                                        <p class="category-name">
                                            <input *ngIf="category.inEditMode" type="text" [(ngModel)]="category.category_name">
                                            <button (click)="updateCategory(category)" *ngIf="category.inEditMode">{{updateButtonText}}</button>
                                            <a *ngIf="!category.inEditMode" href='#'>{{category.category_name}}</a>
                                        </p>
                                        <p class="action">
                                            <a *ngIf="category.inEditMode" (click)="category.inEditMode=!category.inEditMode" href="#" data-toggle="modal" data-target="#nullModal"><i class="fa fa-check"></i></a>&nbsp;
                                            <a *ngIf="!category.inEditMode" (click)="category.inEditMode=!category.inEditMode" href="#" data-toggle="modal" data-target="#nullModal">
                                                <img src="../../../../assets/images/icon/icons/Edit-icon.png"></a>&nbsp;
                                            <a (click)="deleteCategory(category)" id="delCat"><i style="font-size: larger;" class="fa fa-trash"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="styleSelector">
            </div>
        </div>
    </div>
</div>
