.pcoded-content {
	margin: 40px 0;
	padding: 40px 0;
}

.row {
	display: flex;
	flex-flow: row nowrap;
}

.card {
	height: 400px;
}

.col-sm-8 {
	display: flex;
	flex-flow: column;
	width: 33.33%;
}

.col-sm-8 .card {
	margin: 0 20px;
	padding: 0 20px;
}

.col-sm-8 .card-block {
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;
}

.card .card-block p {
	margin-bottom: 0px;
	line-height: 4;
	color: #6c69c0;
}

.category-top {
  margin: 10px;
  padding: 10px;
}

.col-sm-4 .card-header {
	border-bottom: 1px solid black;
	margin: 10px 10px 15px 10px;
	padding: 10px 10px 15px 10px;
}

.categories_length, .categories_filter {
  display: inline-block;
}

.categories_filter {
  float: right;
}


.category-body > div:nth-of-type(odd) {
  background: #e1f8ff;
}

.category-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  margin: 0px;
  padding: 0px;
}

.category-body .row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  margin: 0px;
  padding: 0px;
}

.s-n, .action, .category-name {
	flex: 1 1 20em;
	margin-left: 10px;
	padding-left: 10px;
}

.action, .category-name {
	border-left: solid 1px black;
}

.categories_length label, .categories_filter label {
	font-size: 16px;
}

.categories_filter input[type=search] {
	border: none;
	padding: 6px;
	margin-top: 8px;
	font-size: 20px;
	background: #D0D0D5;
}

.col-sm-4 .card-block .form-group label {
	font-size: 16px;
	margin: 10px 0;
	padding: 10px 0;
	font-weight: bold;
	color: #007bff;
}

.addCategory {
	float: right;
	font-size: 14px;
	height: 40px;
	background: #4F5FBE;
}
