.pcoded-content {
	margin: 40px 0;
	padding: 0 0 40px 0;
}

.row {
	display: flex;
	flex-flow: row nowrap;
}

.card {
	height: 350px;
}

.col-sm-8 {
	display: flex;
	flex-flow: column;
	width: 33.33%;
}

div a .settings {
    width: 50px;
    height: 50px;
}

.col-sm-8 .card {
	margin: 0 20px;
	padding: 0 20px;
}

div > a {
    color: #221F72;
    font-weight: bold;
}

.card-header .constant {
    color: #221F72;
    margin-bottom: 2px;
}

.new {
    border:#221F72 0.25px solid;
    margin: 0px;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.col-sm-4{
	.card{
		.card-block {
			display: flex;
			padding: 0rem 1.25rem;
			margin: 0;
			flex-flow: column nowrap;
			overflow: auto;

			&::-webkit-scrollbar {
				display: none;  // Safari and Chrome
			}

		 }

		 .card-block::-webkit-scrollbar{
				display: none;  // Safari and Chrome
		 }
	}
}

.col-sm-8 .card-block.category-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	font-weight: bold;
	border-style: solid;
	border-color: #221f72;
	border-width: 0.5px;
	margin: 0px;
	padding: 0px;
	box-shadow: -1px -1px 3px 1px #888888a6;

	&::-webkit-scrollbar {
		display: none;  // Safari and Chrome
	}

	p {
		font-weight: bolder;
		font-size: 14px;
	}
}

.col-sm-8 .card-block.category-body {
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;
	margin: 0px;
	padding: 0px;

	&::-webkit-scrollbar {
		display: none;  // Safari and Chrome
	}

	p {
		font-size: 12px;
	}
}



.card .card-block p {
	margin-bottom: 0px;
	line-height: 4;
	color: #43425d;
}


.category-body .row1:nth-of-type(odd) {
	background: #e1f8ff;
}

.category-body > div {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.category-body .row1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	border-style: solid;
	border-color: black;
	border-width: 0.5px;
}

.s-n, .action, .category-name {
	  flex: 1 1 20em;
	  margin-left: 10px;
	  padding-left: 10px;
}

.action, .category-name {
	  border-left: solid 1px black;
}

p.category-name {
	font-weight: bolder;
}

.col-sm-4 .card-header {
	border-bottom: 0.5px solid #221F72;
    margin: 10px 20px 0px 20px;
	padding: 10px 10px 5px 0px;

	::after{
		background-color: transparent;
	}
}

.col-sm-8 .card-header {
	width: 100%;
	margin: 10px 15rem 10px 0px;
	padding: 10px 0px 10px 5px;
	font-size: 20px;

	::after{
		background-color: transparent;
	}
}

.categories_filter {
	font-size: 16px;
	display: block;
    width: 100%;
    padding: .25rem;
    line-height: 1.5;
    color: #495057;
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.5);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.col-sm-4 .card-block .form-group label {
	font-size: 16px;
	margin: 10px 0;
	padding: 10px 0;
	font-weight: bold;
	color: #221f72;
}

.addCategory {
	float: right;
	font-size: 14px;
	height: 40px;
	background: #4F5FBE;
}

@media screen and (max-width: 690px) {

	.row {
		display: flex;
		flex-flow: column nowrap;
	}

	.col-sm-8 {
		display: flex;
		flex-flow: column;
		width: 100%;
	}

	.col-sm-8 .card {
		margin: 0;
		padding: 0;
		height: 450px;
	}

	.col-sm-4 .card {
		height: 300px;
	}

	.categories_filter {
		margin-top: 10px;
		float: none;
	  }

	  .col-sm-8 .card-block.category-header {
		height: 60px;
		flex-flow: row;
		justify-content: space-between;

		p {
			line-height: 2;
		}
	}

}
