<div class="pcoded-content">

  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
              <div class="page-body pool-details">
                  <div class="row mb-2">
                      <div class="col-xl-12 col-md-12">
                          <h4 class="dash-title"></h4>
                      </div>
                  </div>
                  <div class="row p-0">
                      <div class="col-xl-4">
                          <div class="card latest-update-card">
                              <div class="card-block">
                                  <h5>Details</h5>
                                  <a href="">
                                      <div class="superb-container no-effects m-b20">
                                          <div class="img-holder">
                                              <img src="../assets/images/notcard.png" alt="image">
                                          </div>
                                          <div class="content-holder pool-card-details">
                                              <h4>Status: <p class="active">Active</p></h4>

                                              <h4>Number of Investors: <br>
                                                  <p class="count">{{pool?.max_num_of_slots}} ({{pool?.max_num_of_slots - pool?.num_of_pools_taken}} left)</p></h4>

                                              <a href="pool-details.html"
                                                 class="btn2 btn-login view mt-2">Join Investment</a>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-8">
                          <div class="card latest-update-card">
                              <div class="card-block">
                                  <div class="row p-0">
                                      <div class="col-md-8"><h5>Report</h5></div>
                                      <div class="col-md-4">
                                          <a href="#" data-toggle="modal"
                                             data-target="#exampleModalCenter"
                                             class="btn btn-add plus-btn float-right"><span><i
                                                  class="fa fa-plus"></i></span></a>
                                      </div>
                                  </div>
                                  <div class="report-card">
                                      <h4>Lorem Ipsum</h4>
                                      <div>Lorem Ipsum is a content I have here</div>
                                      <small class="date">22/07/2019 - 9:48PM</small>
                                  </div>
                                  <div class="report-card">
                                      <h4>Lorem Ipsum</h4>
                                      <div>Lorem Ipsum is a content I have here</div>
                                      <small class="date">22/07/2019 - 9:48PM</small>
                                  </div>
                                  <div class="report-card">
                                      <h4>Lorem Ipsum</h4>
                                      <div>Lorem Ipsum is a content I have here</div>
                                      <small class="date">22/07/2019 - 9:48PM</small>
                                  </div>
                                  <div class="report-card">
                                      <h4>Lorem Ipsum</h4>
                                      <div>Lorem Ipsum is a content I have here</div>
                                      <small class="date">22/07/2019 - 9:48PM</small>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="card latest-update-card">
                              <div class="card-block">
                                  <h5>Profile</h5>
                                  <div class="dt-responsive table-responsive">
                                      <table id="order-table"
                                             class="table table-striped table-bordered nowrap">
                                          <thead>
                                          <tr>
                                              <th>Name</th>
                                              <th>Email</th>
                                              <th>Slots Taken</th>
                                              <th>Date</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                              <td>Adekoya Francis</td>
                                              <td>adekoya.francis@gmail.com</td>
                                              <td>2</td>
                                              <td>23/03/2019</td>
                                          </tr>
                                          <tr>
                                              <td>Adekoya Francis</td>
                                              <td>adekoya.francis@gmail.com</td>
                                              <td>2</td>
                                              <td>23/03/2019</td>
                                          </tr>
                                          <tr>
                                              <td>Adekoya Francis</td>
                                              <td>adekoya.francis@gmail.com</td>
                                              <td>2</td>
                                              <td>23/03/2019</td>
                                          </tr>
                                          <tr>
                                              <td>Adekoya Francis</td>
                                              <td>adekoya.francis@gmail.com</td>
                                              <td>2</td>
                                              <td>23/03/2019</td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>