[data-href] {
    cursor: pointer;
}

.image-holder { 
  width:auto; 
  text-align:center; 
  padding:20px; 
}

div > a {
  color: #221F72;
  font-weight: bold;
}

.btn-primary {
  background-color: #5b58bd;
  border-color: #5b58bd;
}

.latest-update-card {
	height: 550px;
}


img { 
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

button {
  font-size: 13px;
}

hr.new {
  border: 1px solid #221F72;
}

h4,h5,p {
  color: #221F72;
  font-weight: 600;
}

h6 {
  color: #221F72;
  font-size: 12px;
  font-weight: 600;
}

.table > thead > tr > th {
  border-bottom-width: 2px;
  border-bottom-color: #221F72
}

.upload-btn-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

td,th,tr {
  border-color: #221F72
}