<div class="pcoded-content">

  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
                <div *ngIf=" pool==null " class="page-body pool-details lds-default">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                </div>

              <div *ngIf=" pool!=null " class="page-body pool-details">
                  <div class="row mb-2">
                      <div class="col-xl-12 col-md-12">
                          <h4 class="dash-title">{{pool?.investment?.title}}</h4>
                      </div>
                  </div>
                  <div class="row p-0">
                      <div class="col-xl-4">
                          <div class="card latest-update-card">
                              <div class="card-block">
                                  <h5>Details</h5>
                                  <a href="">
                                      <div class="superb-container no-effects m-b20">
                                          <div class="img-holder">
                                              <img src="../assets/images/notcard.png" alt="image">
                                          </div>
                                          <div class="content-holder pool-card-details">
                                                
                                              <h4>Status: 
                                                  <p *ngIf="pool?.investment?.is_investment_started == '1' " class="active">Active</p> 
                                                  <p *ngIf="pool?.investment?.is_investment_started == '0' " class="active">In-Active</p> 
                                              </h4>

                                              <h4>Number of Investors: <br>
                                                  <p class="count">{{pool?.investment?.max_num_of_slots}} ({{pool?.investment?.max_num_of_slots - pool?.investment?.num_of_pools_taken}} left)</p></h4>

                                              <a href="pool-details.html" class="btn2 btn-login view mt-2">Pull out</a>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-8">
                          <div class="card latest-update-card">
                              <div class="card-block">
                                  <div class="row p-0">
                                      <div class="col-md-8"><h5>Report</h5></div>
                                      <div class="col-md-4">
                                          <a href="#" data-toggle="modal"
                                             data-target="#exampleModalCenter"
                                             class="btn btn-add plus-btn float-right"><span><i
                                                  class="fa fa-plus"></i></span></a>
                                      </div>
                                  </div>
                                  <div *ngFor="let report of pool?.report "c lass="report-card">
                                      <h4>{{report?.title}}</h4>
                                      <div>{{report?.description}}</div>
                                      <small class="date">{{report?.updated_at}}</small>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="card latest-update-card">
                              <div class="card-block">
                                  <h5>Profile</h5>
                                  <div class="dt-responsive table-responsive">
                                      <table id="order-table"
                                             class="table table-striped table-bordered nowrap">
                                          <thead>
                                          <tr>
                                              <th>Name</th>
                                              <th>Email</th>
                                              <th>Slots Taken</th>
                                              <th>Date</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr *ngFor="let user of pool?.investment_user">
                                              <td>{{user?.user_investment_info?.number_of_pools}}</td>
                                              <td>adekoya.francis@gmail.com</td>
                                              <td>{{user?.user_investment_info?.number_of_pools}}</td>
                                              <td>23/03/2019</td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" data-backdrop="static" style="margin-top: 3em !important;"
                     id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content create-investment create-report">
                            <div class="modal-header">
                                <h5>Create Report</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" [(ngModel)]="reportData.title" name="title" class="form-control" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea [(ngModel)]="reportData.description"  name="description" id="description" cols="10" rows="5" class="form-control"
                                              placeholder="Enter the description of the investment"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-6">
                                            <label for="payment-report">Payment Report</label>
                                            <input type="checkbox" id="payment-report" class="form-check-input" name="payment">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="payment-field" style="display: block;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="amount" class="sr-only">Amount</label>
                                            <input [(ngModel)]="reportData.returned_amount" type="text" id="amount" placeholder="Amount" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="pay-type" class="sr-only">Payment Type</label>
                                            <select [(ngModel)]="reportData.payment_type" name="p-type" id="pay-type" class="form-control">
                                                <option value="" hidden>Select</option>
                                                <option value="Card">Credit</option>
                                                <option value="Card">Debit</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="button" (click)="addReport()" class="btn2 add-invest" value="Create Report">
                                </div>
                            </div>
                        </div>
                    </div>
</div>