.side-details{
  padding-right: 0
}

.section-container{
  background: url("../../../assets/images/partner-row2-3.png") no-repeat right top, 
  url("../../../assets/images/partner-row1-2.png") no-repeat left top,
  url("../../../assets/images/partner-rw.png") no-repeat left bottom;


}

.inner-investment{
  :nth-child(3){
    justify-content: flex-start;
  }
}

.invest-header{
  .col-md-9{
    display: flex;
    justify-content: flex-end;

    .invest-header-text {
      padding: 1px 20px;
      width: 15rem;
    }
  }
 
} 

.superb-container {
  margin: 0px !important;

  .content-holder {
    a {
      color: #444;
      font-weight: 400;
      font-size: 1.1rem;
      font-weight: 600;
      text-decoration: none;
      line-height: 25px;
      font-family: roboto;
      padding-top: 0;
      font-size: 1.2rem;
      letter-spacing: 1.5px;
    }

    h3 {
      color: #4f5fbe;
      font-weight: 700;
      font-size: 1.3rem;
      padding: 1.5rem 0 10px;
      position: relative;
      font-family: roboto;
      letter-spacing: .2rem;

      &:after {
        content: none;
      }
    }

    .span-profit {
      padding: 12px 0;
      color: #555;
      font-weight: bold;
      font-family: roboto;
      letter-spacing: .1rem;
    }

    p {
      font-family: roboto;
    }
  }

  .img-holder {
    height: 190px;
    width: 90%;
    overflow: hidden;
    background: transparent;
    margin: auto;
    border-radius: inherit;

    img{
      object-fit: contain;
    }
  }
}

  .sold_out {
    top: 2.5em;
    left: -2em;
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    padding: 0.5em 4em 0.4em 4em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg) scale(0.75, 1);
    z-index: 10;
}

  .sold_out:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -2em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
  }

  .overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }