<div *ngIf="!selectedUser" class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="clearfix mb-3">
                        <div class="float-left pt-3">
                            <a class="h4 pr-2">Customers</a>
                            <a class=" pl-2">Home / Customers</a>
                        </div>  
                        <div class="float-right">
                            <a>
                                <img class="" src="../../../../assets/images/icon/icons/Add-icon.png">
                            </a>
                            <a (click)="deleteUser(user)" id="delCat">
                                <img class="" src="../../../../assets/images/icon/icons/Delete-icon.png">
                            </a>
                        </div>
                    </div>

                    <div class="container-fluid bg_filter border border-dark rounded mb-5">
                        <div class="row p-1 py-4">
                            <div class="col-sm-4 col-lg-4 pl-sm-2 pl-lg-2">
                                <div class="form-group">
                                    <label class="h7">Fullname</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="Fullname" (keyup)="filterTable('first_name', $event)">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pt-lg-0 pt-sm-0 pt-2 px-sm-1 px-lg-1">
                                <div class="form-group">
                                    <label class="h7">Email</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="Email"
                                    (keyup)="filterTable('email', $event)">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 pt-lg-0 pt-sm-0 pt-2 pr-sm-2 pr-lg-2">
                                <div class="form-group">
                                    <label class="h7">Phone Number</label>
                                    <input type="number" class="form-control form-control-sm" placeholder="Phone Number" (keyup)="filterTable('phone_number', $event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div *ngIf="!isLoading" class="card-block">
                                    <div class="table-wrapper-scroll-y custom-scrollbar">
                                        <table datatable class="table appTable nowrap">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%;"><input type="checkbox"></th>
                                                    <th style="width: 30%;">Fullname</th>
                                                    <th style="width: 30%;">Email</th>
                                                    <th style="width: 20%;">Phone Number</th>
                                                    <th style="width: 15%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-href="#viewUserProfile" *ngFor="let user of users;let i = index;">
                                                <td><input type="checkbox"></td>
                                                <td>{{user.first_name}} {{user.last_name}}</td>
                                                <td >{{user.email}}</td>
                                                <td >{{user.phone_number}}</td>
                                                <td  (click)="viewUserDetail(i)">
                                                    <a *ngIf="!user.inViewMode" (click)="user.inViewMode=!user.inViewMode" href="#" data-toggle="modal" data-target="#nullModal"><img class="pr-2" src="../../../../assets/images/icon/icons/view-icon.png"></a>
                                                    <a *ngIf="!user.inEditMode" (click)="user.inEditMode=!user.inEditMode" href="#" data-toggle="modal" data-target="#nullModal"><img class="pl-2" src="../../../../assets/images/icon/icons/Edit-icon.png"></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div *ngIf="isLoading" class="lds-default">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<section class="invest-header">
    <div class="row">
        <div class="col-md-3">
            <div class="invest-header-thumb">
                <img src="../../../../assets/images/volkswagen_volks.png">
            </div>
        </div>
        <div class="col-md-9">
            <div class="invest-header-text">
                <div class="navigation-values">Homepage<span> </span>Invest</div>
            </div>
        </div>
    </div>
    <div class="row cover">
    </div>
</section>
<section class="section-container">
    <section class="investment-plans">
        <div class="inner-investment">
            <div class="row">
                <div class="column">
                    <h3 class="title-head-inv">INVESTMENTS</h3>
                    <hr style="margin-top: 0.5px; width: 80%;"/>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h5 *ngIf="!isLoading" class="title-head-inv" (click)="filterInvestmentsById(0)"><span>All</span></h5>
                    <h5  *ngFor="let category of categories" class="title-head-inv" (click)="filterInvestmentsById(category)">|<span>{{category.category_name}}</span></h5>
                </div>
            </div>

            <div *ngIf="isLoading" class="display: flex">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-2">
                            <div class="superb-container m-b20">
                                <div class="img-holder">

                                </div>
                               <div> <ngx-skeleton-loader count="5" appearance="line"></ngx-skeleton-loader></div>
                            </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-2">
                        <div class="superb-container m-b20">
                            <div class="img-holder">

                            </div>
                            <div>
                                <ngx-skeleton-loader count="5" appearance="line"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-2">
                        <div class="superb-container m-b20">
                            <div class="img-holder">

                            </div>
                            <div>
                                <ngx-skeleton-loader count="5" appearance="line"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!isLoading && investments.length > 0 " class="row mb-5">
                <div *ngFor="let x of investments" class="col-sm-12 col-md-6 col-lg-3 pb-2">
                    <a [routerLink]="['/investments', x.id]" routerLinkActive="active">
                        <div class="superb-container m-b20">
                            <div class="img-holder">
                                <img *ngIf="x.investment_image=='' " src="../assets/images/notcard.png" alt="image">
                                <img *ngIf="x.investment_image!=''" src="{{x.investment_image}}" alt="image">
                            </div>
                            <div class="content-holder">
                                <h2><a href="investment-details.html">{{x.title}}</a></h2>
                                <h3>{{x.investment_amount | currency:'NGN':'symbol-narrow'}}</h3>
                                <span *ngIf="x?.estimated_percentage_profit"
                                    class="span-profit">{{calculateEstimate(x?.expected_return_amount,x?.investment_amount)}}% Profit
                                    (Estimated)</span>
                                <!--<span *ngIf="x?.estimated_percentage_profit" class="span-profit">25% Profit <br> (Estimated)</span>-->
                                <p>{{x.duration}} Month(s)</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <section *ngIf="!isLoading && investments.length == 0" style="border-radius: 30px;" class="workingSection">
                <div class="inner-workingSection">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="working-content" style="text-align: center; width: 100%">
                                <h3>Sorry there are no investments available now in this category</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
