.side-details{
  padding-right: 0
}

// .section-container{
//   background: url("../../../assets/images/partner-row2-3.png") no-repeat right top,
//   url("../../../assets/images/partner-row1-2.png") no-repeat left top,
//   url("../../../assets/images/partner-rw.png") no-repeat left bottom;


// }

.navigation-values{
  background-color: #8390DB;
  text-align: center;
  color: white;
  font-weight: 800;
  letter-spacing: 0.3px;
  padding: 10px 25px 10px 15px;
  /* box-shadow: 0.1px 1.5px #050333; */
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0,0.45);

  span{
     padding-right: 6%;
     padding-left: 1%;
  }
}

.row1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.header-padding{
  padding-top: 170px !important;
}

@media screen and (max-width: 992px) {
  .invest-header {
     height: auto;
     padding: 2em 24px;
  }

  .hidden {
     display: none;
   }

  .header-center {
     -webkit-box-pack: center !important;
     -ms-flex-pack: center !important;
     justify-content: center !important;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .invest-header {
     height: auto;
     padding: 2em 24px;
  }
  .header-padding{
     padding-top: 30px !important;
  }
}

.inner-investment{
  :nth-child(3){
    justify-content: flex-start;
  }
}

.invest-header {
  height: 300px;
  padding: 4px;
  margin-top: 5em;
  background: url('../../../assets/image/slide3.png') no-repeat center;
  background-size: cover;
}

.header {
  color: white;
  font-size: 50px;
  padding-top: 130px;
  text-align: center;
}

.text {
  color: #858585;
  font-size: 18px;
}

.text-footer {
  color: #444;
  font-size: 18px;
}

.text-header {
  font-size: 27px !important;
}

.superb-container {
  margin: 0px !important;
  background-color: #f9f9fa !important;

  .content-holder {
    a {
      color: #444;
      font-weight: 400;
      font-weight: 600;
      text-decoration: none;
      line-height: 25px;
      font-family: roboto;
      padding-top: 0;
      letter-spacing: 1.5px;
    }

    h3 {
      color: #4f5fbe;
      font-weight: 700;
      font-size: 1.3rem;
      padding: 1.5rem 0 10px;
      position: relative;
      font-family: roboto;
      letter-spacing: .2rem;

      &:after {
        content: none;
      }
    }

    .span-profit {
      padding: 12px 0;
      color: #555;
      font-weight: bold;
      font-family: roboto;
      letter-spacing: .1rem;
    }

    p {
      font-family: roboto;
    }
  }

  .img-holder {
    height: 190px;
    width: 90%;
    overflow: hidden;
    background: transparent;
    margin: auto;
    border-radius: inherit;

    img{
      object-fit: contain;
    }
  }
}

  .coming{
   
    top: 2.5em;
    left: -2em;
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color:  #4f5fbe;
    padding: 0.5em 4em 0.4em 4em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg) scale(0.75, 1);
    z-index: 10;
  }

  .sold_out {
    top: 2.5em;
    left: -2em;
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    padding: 0.5em 4em 0.4em 4em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg) scale(0.75, 1);
    z-index: 10;
}

  .sold_out:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -2em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
  }

  .overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  @import url(https://fonts.googleapis.com/css?family=Lato:700);
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
}
.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
}
.ribbon::before{
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}

.inactive{
  background-color: #33333324 !important;
}

.ribbon .sps{
  position: absolute;
    display: block;
    width: 95%;
    padding: 15px 0;
    background-color: #2a8ed2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon .sp {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-center{
      /* left: 380px; */
      top: 60%;
      -webkit-transform: rotate(45deg);
      transform: rotate(0deg);
      z-index: 100;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: -1.5%;
  left: 67.8%;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left .sp {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: -2%;
  left: 68.7%;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right .sp {
  left: 390px;
  top: 6.7%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 450;
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left .sp {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right .sp {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

.column2 mat-select {
  display: block;
  font-size: 14px;
  font-weight: bold;
  width: 40%;
  height: 38px;
  padding: .5rem .5rem;
  color: white;
  background-color: rgb(107, 141, 235);
  background-clip: padding-box;
  box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
  border: 0px solid ;
  border-radius: 2px;
}

::ng-deep{

	.mat-option {
		width: 75%;
	}

	.mat-select-panel {
		max-height: 150px !important;
		background-color: white;
		color: white;
  }

    .mat-select-placeholder {
      color:white !important;
      -webkit-text-fill-color: inherit !important;
      transition: none;
      display: block;
      font-size: 14px;
      font-weight: bold;
	  }

    span.mat-option-text {
      color: grey;
    }

    .mat-select-trigger {
        color: white;
    }

	.mat-select-value {
        color: white;
	}

	.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
		background: #00000024;
	}
}

@media (max-width: 600px) {

  .section-container .investment-plans .inner-investment .superb-container {
    margin: 0 auto !important;
  }
  .column2 mat-select {
    font-size: 14px;
    width: 50%;
    height: 35px;
  }

  .investment-plans .inner-investment .superb-container {
    max-height: 300px;
    width: 90%;
  }

  .superb-container .img-holder {
    height: 150px;
    width: 90%;
  }

  .section-container .investment-plans .inner-investment .superb-container .content-holder {
    padding-top: 5px;
  }

  .superb-container .content-holder h3 {
    padding: .5rem 0 5px;
  }

  .investment-plans .inner-investment {
    padding: 0 2px;
  }

  .coming, .sold_out {
    font: bold 12px/1em Arial, Sans-Serif;
  }
}