.side-details{
  padding-right: 0
}

// .section-container{
//   background: url("../../../assets/images/partner-row2-3.png") no-repeat right top,
//   url("../../../assets/images/partner-row1-2.png") no-repeat left top,
//   url("../../../assets/images/partner-rw.png") no-repeat left bottom;


// }

.inner-investment{
  :nth-child(3){
    justify-content: flex-start;
  }
}

.invest-header {
  height: 300px;
  padding: 4px;
  margin-top: 5em;
  background: url('../../../assets/image/slide3.png') no-repeat center;
  background-size: cover;
}

.header {
  color: white;
  font-size: 50px;
  padding-top: 130px;
  text-align: center;
}

.text {
  color: #858585;
  font-size: 18px;
}

.text-footer {
  color: #444;
  font-size: 18px;
}

.text-header {
  font-size: 27px !important;
}

.superb-container {
  margin: 0px !important;
  background-color: #f9f9fa !important;

  .content-holder {
    a {
      color: #444;
      font-weight: 400;
      font-weight: 600;
      text-decoration: none;
      line-height: 25px;
      font-family: roboto;
      padding-top: 0;
      letter-spacing: 1.5px;
    }

    h3 {
      color: #4f5fbe;
      font-weight: 700;
      font-size: 1.3rem;
      padding: 1.5rem 0 10px;
      position: relative;
      font-family: roboto;
      letter-spacing: .2rem;

      &:after {
        content: none;
      }
    }

    .span-profit {
      padding: 12px 0;
      color: #555;
      font-weight: bold;
      font-family: roboto;
      letter-spacing: .1rem;
    }

    p {
      font-family: roboto;
    }
  }

  .img-holder {
    height: 190px;
    width: 90%;
    overflow: hidden;
    background: transparent;
    margin: auto;
    border-radius: inherit;

    img{
      object-fit: contain;
    }
  }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: roboto, sans-serif
}
