<section class="landing">
    <div class="inner-landing">
        <div class="row">
            <div class="col-md-7">
                <h2>
                    Investment Page<br>
                    for your Investment
                </h2>
                <span class="lower-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Cumque repellat commodi eveniet maximem blanda id sed?
                    </span>
                <div class="get-started">
                    <a href="" class="btn btn-investment">Get Started</a>
                </div>
            </div>
            <div class="col-md-4 hide-sm">
                <div class="circle">

                </div>
            </div>
        </div>
    </div>
</section>