<section class="login-section">
    <div class="inner-login">
        <div class="row">
            <div class="col-md-6 col-xs-3 col-lg-6 offset-md-3 ">
                <div class="login-form">
                    <h3>Reset Password, </h3>
                    <p>Enter your new password</p>
                    <form (ngSubmit)="resetpassword()" #resetPassForm="ngForm">
                        <div class="form-group">
                            <label for="resetPwd" class="sr-only">Password</label>
                            <input required [(ngModel)]="password" type="password" placeholder="New Password" class="form-control" name="resetPwd">
                        </div>
                        <div class="form-group">
                            <label for="confResetPwd" class="sr-only">Confirm Password</label>
                            <input required [(ngModel)]="passwordConfirm" type="password" placeholder="Confirm New Password" class="form-control" name="confResetPwd">
                        </div>
                        <div class="form-group">
                                <button class="btn2 btn btn-raised btn-login" [disabled]="!resetPassForm.form.valid" [promiseBtn]="isSubmitting">{{resetText}}</button>
                        </div>
                    </form>
                    <div class="otherInfo">
                        <p>Don't have an account? Sign up <a routerLink="/signup" routerLinkActive="active">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>