.work-header {
    height: 300px;
    padding: 4px;
    margin-top: 5em;
    background: url('../../../assets/images/how-it-works-banner.jpg') no-repeat center;
		background-size: cover;
		
		.inner-work h3 {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			bottom: 0;
			font-size: 4em;
			font-weight: bold;
			color: #ffffff;
			margin: 0;
			text-shadow: 0 1px 0 rgba(0,0,0,.9);
		}

}

.inner-faq {
    padding: 5rem;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.4);
}

.section-container{
	background: 
	url("../../../assets/images/partner-row1-2.png") no-repeat left top, 
	url("../../../assets/images/partner-row2-3.png") no-repeat right top,
	url("../../../assets/images/partner-rw.png") no-repeat left bottom;
}