<section class="howItWorks">
  <section class="first-section">
      <div class="inner-holder">
          <div class="row">
              <div class="col-md-1">
                  <h2>01</h2>
              </div>
              <div class="col-md-5">
                  <div class="first-content">
                      <h3>We ask about you</h3>
                      <p>We require general information about you. We will inquire about where you work? Means of
                          identification and other related details. We will want to know what you are planning
                          towards, whether to buy a house, a car or saving towards your retirement. We will ask you
                          what your minimum contribution will be and for how long are you willing to invest.
                      </p>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="img-how">
                      <img src="../assets/images/first_section.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="second-section">
      <div class="inner-holder">
          <div class="row">
              <div class="col-md-6">
                  <div class="img-how img-how-mobile">
                      <img src="../assets/images/second_section.svg" alt="">
                  </div>
              </div>
              <div class="col-md-1 pt-2">
                  <h2>02</h2>
              </div>
              <div class="col-md-5 pt-2">
                  <div class="first-content">
                      <h3>Choose your investment</h3>
                      <p>
                          Once you have met the required investment criteria, you can choose an investment portfolio of
                          your choice and proceed to activate investment plan. You can also create an investment mix to maximize your potential earnings.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="third-section">
      <div class="inner-holder p-t">
          <div class="row">
              <div class="col-md-1">
                  <h2>03</h2>
              </div>
              <div class="col-md-5">
                  <div class="first-content">
                      <h3>Our Technology will manage
                          your funds</h3>
                      <p>
                          We will evaluate your contribution and give you real time insights into your potential earnings on selected investment plan.
                          You will be able to monitor progress on a daily basis and also watch your funds grow.
                      </p>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="img-how">
                      <img class="ani" src="../assets/images/Techicon.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>
</section>