<section class="work-header">
    <div class="inner-work">
        <!--<h3 class="animated wow fadeInDown" data-wow-delay=".5s" data-wow-duration="2s">[ How it Works ]</h3>-->
    </div>
</section>
<section class="section-container" style="padding-bottom: 8em !important;padding-top: 4em !important;">
    <section class="howItWorks">
        <div class="first-section">
            <div class="inner-holder">
                <div class="row">

                    <div class="col-md-6">
                        <div class="row" style="align-items: center">
                            <div class="col-md-2 col-2"><h2>01</h2></div>
                            <div class="col-md-10 col-10"><h3>We ask about you</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="first-content">
                                    <p>We require general information about you. We will inquire about where you work? Means of
                                        identification and other related details. We will want to know what you are planning
                                        towards, whether to buy a house, a car or saving towards your retirement. We will ask
                                        you
                                        what your minimum contribution will be and for how long are you willing to invest.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-how">
                            <img src="../assets/images/first_section.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-section">
            <div class="inner-holder">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-how img-how-mobile">
                            <img src="../assets/images/second_section.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 pt-2">
                        <div class="row" style="align-items: center">
                            <div class="col-md-2 col-2"><h2>02</h2></div>
                            <div class="col-md-10 col-10"><h3>Choose your investment</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pt-2">
                                <div class="first-content">
                                    <p>
                                        Once you have met the required investment criteria, you can choose an investment
                                        portfolio of
                                        your choice and proceed to activate investment plan. You can also create an investment
                                        mix to maximize your potential earnings.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="third-section">
            <div class="inner-holder p-t">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="align-items: flex-start">
                            <div class="col-md-2 col-2"><h2>03</h2></div>
                            <div class="col-md-10 col-10"><h3>Our Technology will manage your funds</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="first-content">
                                    <p>
                                        We will evaluate your contribution and give you real time insights into your potential
                                        earnings on selected investment plan.
                                        You will be able to monitor progress on a daily basis and also watch your funds grow.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-how">
                            <img class="ani" src="../assets/images/Techicon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
