<section class="container investment px-0" style="max-width:100%">
    <section class="work-header mt-0">
        <div class="row justify-content-center">
            <div class="header font-weight-bold">How it Works</div>
        </div>
            <!--<h3 class="animated wow fadeInDown" data-wow-delay=".5s" data-wow-duration="2s">[ How it Works ]</h3>-->
    </section>

    <section class="container pb-5">
        <div class="py-5" >
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12 text-center py-4 wow jackInTheBox" data-wow-duration="5s" data-wow-delay="2s">
                    <p class="text-header font-weight-bold">Our Process is Simple</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-12 pt-lg-0 pt-4">
                    <div class="invest-control card-height">
                        <div class="p-4">
                            <div class="row justify-content-center">
                                <div class="col-10 text-center">
                                    <img class="img-fluid" src="../../../assets/image/step1.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-2 sub-text1 text-center font-weight-bold">01
                                    <hr/>
                                </div>
                                <div class="col-10 sub-text font-weight-bold pt-1">We ask about you</div>
                            </div>
                            <div class="text pt-3">
                                We require general information about you. We will inquire about where you work? Means of
                                identification and other related details. We will want to know what you are planning
                                towards, whether to buy a house, a car or saving towards your retirement. We will ask
                                you what your minimum contribution will be and for how long are you willing to invest.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 pt-lg-0 pt-4">
                    <div class="invest-control card-height">
                        <div class="p-4">
                            <div class="row justify-content-center">
                                <div class="col-10 text-center">
                                    <img class="img-fluid" src="../../../assets/image/step2.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-2 sub-text1 text-center font-weight-bold">02
                                    <hr/>
                                </div>
                                <div class="col-10 sub-text font-weight-bold pt-1">Choose your investment</div>
                            </div>
                            <div class="text pt-3">
                                Once you have met the required investment criteria, you can choose an investment
                                portfolio of your choice and proceed to activate investment plan. 
                                You can also create an investment mix to maximize your potential earnings.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 pt-lg-0 pt-4">
                    <div class="invest-control card-height">
                        <div class="p-4">
                            <div class="row justify-content-center">
                                <div class="col-10 text-center">
                                    <img class="img-fluid" src="../../../assets/image/step3.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-2 sub-text1 text-center font-weight-bold">03
                                    <hr/>
                                </div>
                                <div class="col-10 pt-1 sub-text font-weight-bold">Our Technology will manage your funds</div>
                            </div>
                            <div class="text pt-3">
                                We will evaluate your contribution and give you real time insights into your potential
                                earnings on selected investment plan.
                                You will be able to monitor progress on a daily basis and also watch your funds grow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
