.card {
	height: 360px;
}

.card-block {
	padding: 0px;

	.paging {
		padding-left: 10px;
	}
}

.usergroup-header {
    font-weight: bold;
    font-size: 14px;
    color: #07075f;
}

.usergroup-body {
    font-weight: 500;
    font-size: 12px;
}

.s-n {
    flex: 1 0 1em;
}

.action {
	flex: 1.5 0 5em;
	border-left: 1px solid black;
}

.usergroup-name{
	flex: 8 1 20em;
}

.checkbox {
	flex: 1 0 2em;

	input {
		font-size: 20px;
	}
}

.d-flex {
	justify-content: center;
	align-items: center;

	p {
		align-self: center;
		text-align: justify;
		height: 60px;
		line-height: 4;
		margin-bottom: 0px;
		padding-left: 10px;
		border-bottom: 1px solid black;
	}
}

div > a {
    color: #221F72;
    font-weight: bold;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked {
    width: 20px;
    height: 20px;
}
