<div class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body list-vacancy">
                    <div class="row mb-4">
                        <div class="col-xl-9 col-md-6 title-list">
                            <h3>The Profile of {{user?.first_name}} {{user?.last_name}}

                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Personal Information
                                    </h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table reduced-font">
                                            <tr>
                                                <td width="100px">Full Name:</td>
                                                <td>{{user?.first_name}} {{user?.last_name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>

                                                <td> {{user?.email}}</td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number:</td>
                                                <td>{{user?.phone_number}}</td>
                                            </tr>
                                            <tr>
                                                <td>Date of Birth:</td>
                                                <td>{{user?.day_of_birth}} /  {{user?.month_of_birth}}</td>
                                            </tr>
                                            <tr>
                                                <td>Gender:</td>
                                                <td>{{user?.gender}}</td>
                                            </tr>
                                            <tr>
                                                <td>Address:</td>
                                                <td>{{user?.home_address}}</td>
                                            </tr>
                                            <tr>
                                                <td>Country:</td>
                                                <td>{{user?.country}}</td>
                                            </tr>
                                            <tr>
                                                <td>Place of Work:</td>
                                                <td>{{user?.where_you_work}}</td>
                                            </tr>
                                            <tr>
                                                <td>Average <br>Monthly Income:</td>
                                                <td style="text-align: center;">{{user?.average_monthly_income | currency:'NGN':'symbol-narrow'}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Account Information</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="dt-responsive table-responsive">
                                                <table class="table reduced-font">
                                                    <tr>
                                                        <td>Account Name</td>
                                                        <td>{{user?.account_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Account Number</td>
                                                        <td>{{user?.account_number}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bank</td>
                                                        <td>{{user?.bank_name}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Settings Information</h5>
                                        </div>
                                        <div class="card-block pb-0">
                                            <div class="dt-responsive table-responsive">
                                                <table class="table reduced-font">
                                                    <tr>
                                                        <td>Receive updates on new Plans?</td>
                                                        <td *ngIf="user?.updates_on_new_plans==1"><label class="label label-primary">Yes</label></td>
                                                        <td *ngIf="user?.updates_on_new_plans==0"><label class="label label-danger">No</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Send E-mail updates on investment</td>
                                                        <td *ngIf="user?.email_updates_on_investment_process==0"><label class="label label-danger">No</label></td>
                                                        <td *ngIf="user?.email_updates_on_investment_process==1"><label class="label label-primary">Yes</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>User's Status</td>
                                                        <td *ngIf="user?.email_is_verified==1"><label class="label label-success">User is Active</label></td>
                                                        <td *ngIf="user?.email_is_verified==0"><label class="label label-danger">User is not Active</label></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <span class="card col-sm-7 buttons updates">
                                <span class="information">Principal {{user.principal}}</span>
                                <span class="information">ROI {{user.roi}}</span>
                                <span class="information">Expected Returns {{user.expected_returns}}</span>
                            </span>

                            <span class="col-sm-2 text-center buttons">
                                <a *ngIf="user?.email_is_verified==0" (click)="updateUser('enable')" class="btn btn-success">Activate User</a>
                                <a *ngIf="user?.email_is_verified==1" (click)="updateUser('')" class="btn btn-danger">Deactivate User</a>
                            </span>
                            <span class="col-sm-2 text-center buttons">
                                <a  (click)="deleteUser('')" class="btn btn-danger">Delete User</a>
                            </span>

                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
