input:disabled {
    color: rgb(16, 2, 2);
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: white;
    width: 100%;
    padding: 0;
}

img {
    cursor: pointer;
}

.table-font {
    font-weight: bold;
}

.list-title h3 {
    color: #221F72;
    font-weight: 600;
    font-family: roboto;
    font-size: 19px;
}

.list-title h3 {
    display: block;

}

hr.new {
    border: 1px solid #221F72;
    position: relative;
}

.card-header h5 {
    color: #221F72;
    font-size: 0.80rem;
    font-family: roboto, sans-serif;
    letter-spacing: .04rem;
}


.col-7 .card {
    background-color:whitesmoke;
    justify-content: space-between;
    padding: 1.25rem;

}

.font-weight-bold{
    font-family: roboto;
}

h5 {
    font-size: 14px;
    letter-spacing: .04rem;
    font-family: roboto;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    color: #221F72;
}

th {
    font-size: 13px;
    letter-spacing: .04rem;
    font-family: roboto;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    color: #221F72;

}

.table-striped td {
    font-size: bold;
    text-align: center;
}

.table-striped th {
    font-size: bold;
    text-align: center;
}


.col-5 span .buttons {
    margin-left: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.my_pagination /deep/ .ngx-pagination {
    display: inline-flex;
    flex: content;
}

.displayStatus {
    justify-content: center;
    text-align: center;
    font-family: roboto;
    letter-spacing: .04rem;
    font-weight: 500;
    padding: 0.5rem;
}

.col-md-12 .card-header {
	margin: 10px 15rem 0px 1rem;
	padding: 10px 0px 0px 0px;
	font-size: 20px;

	::after{
		background-color: transparent;
	}
}

.input-control {
    display: block;
    width: 100%;
    padding: .5rem .5rem;
    color: #495057;
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .table > thead > tr > th {
    border-bottom-width: 2px;
    border-bottom-color: #221F72
  }

  td,th,tr {
    border-color: #221F72
  }

  .table {
    td {
        font-size: 12px;
        }

    th {
        font-size: 14px;
      }
  }





