<footer class="footer">
        <div class="inner-footer">
            <div class="row">
                <div class="col-md-4 subscribe">
                    <h3 class="pl-0">Email Updates</h3>
                    <small>Be the first to hear about our offers and announcements</small>
                    <form class="">
                        <div class="input-group form-inline-sub">
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                   aria-describedby="basic-addon1">
                            <div class="input-group-prepend">
                                    <span class="input-group-text tran" id="basic-addon1">
                                        <input id="subMeAction" type="button" class="btn btn-sub-f subMe" value="SUBSCRIBE">
                                    </span>
                            </div>
                        </div>
                    </form>
                    <div class="social-actions mt-4">
                        <h3 class="pl-0">Connect with us</h3>
                        <ul>
                            <li><a target="_new" href=""><i
                                    class="fab fa-facebook-f"></i></a></li>
    
                            <li><a target="_new" href=""><i
                                    class="fab fa-instagram"></i></a></li>
                            <li><a target="_new" href=""><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a target="_new" href=""><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <h3>Invest</h3>
                    <ul>
                        <li><a href="">Products</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3>Let Us Help</h3>
                    <ul>
                        <li><a href="">FeedBack</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">About Us</a></li>
    
                        <li><a href="">Terms & conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3>Make Money with us</h3>
                    <ul>
                        <li><a href=''>Become a Seller</a></li>
                        <li><a href="#">Join our Affiliate link</a></li>
                    </ul>
                </div>
    
            </div>
        </div>
        <div class="footer-last">
            <span>&copy; <span id="year"></span>2019 Investment. All rights reserved.</span>
        </div>
    </footer>