<section class="landing">
  <div class="inner-landing">
      <div class="row">
          <div class="col-md-7">
              <h2>
                  The Intelligent decision <br>
                  for your Investment
              </h2>
              <span class="lower-content">
                     Welcome {{name}} to Versa, your account has been verified. Login to view amazing offers from Versa Haven.
                  </span>
              <div class="get-started">
                  <a  routerLink="/signin" routerLinkActive="active"  class="btn btn-investment">Get Started</a>
              </div>
          </div>
          <div class="col-md-4 hide-sm">
              <div class="circle">

              </div>
          </div>
      </div>
  </div>
</section>
