<section class="login-section">
    <div class="inner-login">
        <div class="row">
            <div class="col-md-6 divider">
                <div class="login-form">
                    <h3>Welcome back, </h3>
                    <p>Login below with your E-mail</p>
                    <form action="">
                        <div class="form-group">
                            <label for="useremail" class="sr-only">Email Address</label>
                            <input type="email" placeholder="E-mail" class="form-control" id="useremail">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" placeholder="Enter Password" class="form-control remBorder"
                                       id="userpass">
                                <div class="input-group-prepend">
                                    <span class="input-group-text tran">show</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="button" class="btn2 btn-login" value="Login" id="">
                        </div>
                    </form>
                    <div class="otherInfo">
                        <p>Forgot details, reset your password <a routerLink="/forgot-password" routerLinkActive="active">here</a></p>
                        <p>Don't have an account? Sign up <a routerLink="/signup" routerLinkActive="active">here</a></p>
                    </div>
                </div>
            </div>
            <div class="hor-divider"></div>
            <div class="col-md-6">
                <div class="social-login">
                    <div class="form-group">
                        <a class="btn btn-block btn-lg btn-social btn-yahoo">
                            <span class="fab fa-yahoo f-13"></span> Sign in with Yahoo!
                        </a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block btn-lg btn-social btn-linkedin">
                            <span class="fab fa-linkedin f-13"></span> Sign in with LinkedIn
                        </a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block btn-lg btn-social btn-google">
                            <span class="fab fa-google f-13"></span> Sign in with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>