<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="clearfix mb-3">
                    <div class="float-left pt-2">
                        <a class="h4 pr-2">Investment</a>
                        <a class=" pl-2">Home / Investments</a>
                    </div>
                    <div class="float-right">
                        <a (click)="cancelPool()">
                            <img class="" src="../assets/images/icon/icons/Back-icon.png" style="height: 50px;">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card p-3">
                            <div class="row p-3">
                                <div class="col-8">
                                    <h5 class="head">Add Pool</h5>
                                </div>

                                <div class="col-4">
                                    <div class="">
                                        <div class="category-header">
                                            <input type="text" class="input-control " placeholder="Search by Email" name="search" #search (keyup)="filterTable('email', search.value)"
                                            (blur)="filterTable('email', search.value)">
                                        </div>

                                        <div class="category-body">
                                            <div class=" p-2" style="height: 40px; overflow: hidden;">
                                                <p style="cursor:pointer" *ngFor="let user of users;"
                                                (click)="onSelect(user)">{{user.email}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="new my-0">
                            </div>

                            <form name="form">
                                <div class="row px-4" *ngIf="!isLoading">

                                    <div class="col-6 pr-4">
                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">First Name</h6>
                                            <div class="col-sm-8">
                                                <input type="type" class="input-control " value="{{selectedUser.first_name}}" name="first" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">Email</h6>
                                            <div class="col-sm-8">
                                                <input type="type" class="input-control " [(ngModel)]="user_email" name="pay-type" id="pay-type" [value]="selectedUser.email" readonly>
                                            </div>
                                        </div>                                        
                                        
                                    </div>
                                    <div class="col-6 pl-4">
                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">Last Name</h6>
                                            <div class="col-sm-8">
                                                <input type="type" class="input-control " value="{{selectedUser.last_name}}" name="last" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">Phone Number</h6>
                                            <div class="col-sm-8">
                                                <input type="type" class="input-control " value="{{selectedUser.phone_number}}" name="number" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 pr-4">
                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">Investment Title</h6>
                                            <div class="col-sm-8">
                                                <input type="type" class="input-control " value="{{pool?.investment.title}}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">Cost</h6>
                                            <div class="col-sm-8">
                                                <input type="number" class="input-control " [(ngModel)]="investment_amount" value="{{pool?.investment?.investment_amount}}" name="amount" id="amount" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 pl-4">
                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">Investment Category</h6>
                                            <div class="col-sm-8">
                                                <input type="type" class="input-control " value="{{getCategoryName(pool?.investment.category_id)}}" name="category" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">Taken Slot(s)</h6>
                                            <div class="col-sm-8">
                                                <input type="type" class="input-control " value="{{pool?.investment.num_of_pools_taken}}" name="investor" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 pr-4">
                                        <div class="form-group row">
                                            <h6 class="col-sm-4 pr-0 col-form-label">Slot Purchased</h6>
                                            <div class="col-sm-8">
                                                <input type="number" min="0" max="{{pool?.investment.max_num_of_slots - pool?.investment.num_of_pools_taken}}" (keyup)="validPool()" required autocomplete="off" class="input-control " [(ngModel)]="number_of_pools" name="slots"
                                                id="slotNum" #slots = 'ngModel'>

                                                <div *ngIf="validpoolError === 'Number of Pools Exceeded' " class="font-weight-bold pt-2 text-danger">{{validpoolError}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 pl-4">
                                        <div class="form-group row">    
                                            <h6 class="col-sm-4 pr-0 col-form-label">Amount Paid</h6>
                                            <div class="col-sm-8">
                                                <input type="number" min="0" class="input-control" disabled [(ngModel)]="amount_paid" value="{{calculateEstimate(pool?.investment.investment_amount,number_of_pools)}}" name="amount_paid"
                                                id="amount_paid" #amount_paidModel="ngModel"
                                                >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <button type="submit" (click)="addUserToPool()" [disabled]="slots.invalid || validpoolError" class="btn btn-primary btn-sm px-5 float-right">{{buttonText}}</button>
                                    </div>

                                </div>

                                <div *ngIf="isLoading" class="center" >
                                    <br><br>
                                    <div  class="lds-default">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label class="pt-1" for="slotNum">Select User</label>
                                        </div>
                                        <div class="col-md-10">
                                            <select required [(ngModel)]="user_email" name="p-type" id="pay-type" class="form-control">
                                                <option value="" >Select User...</option>
                                                <option *ngFor="let user of users;let i = index;" [ngValue]="user.email">{{user.email}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label class="pt-1" for="slotNum">Number of Slots?</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="number" [(ngModel)]="number_of_pools" name="slots"
                                                id="slotNum" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title">Payment Reference</label>
                                    <input autocomplete="off" type="text" required [(ngModel)]="reference" name="title" class="form-control" id="reference">
                                </div>
                                <div class="form-group">
                                    <label for="title">Amount Paid</label>
                                    <input autocomplete="off" type="number" required [(ngModel)]="amount_paid" name="title" class="form-control" id="amount">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                            <button (click)="modalSubmitted()" class="btn2  btn btn-raised add-invest">{{modalButtonTitle}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>
