<div *ngIf="!isGraphShown" class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">
                                <div class="card-header col-md-12">
                                <h5>Current Investment</h5>
                                </div>
                                <div class="card flex-row">
                                    <div class="col-md-4">
                                           <div class="dt-responsive table-responsive">
                                                <table class="table reduced-font">
                                                    <tr>
                                                        <td>Investment Title</td>
                                                        <td>{{user?.account_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Payback</td>
                                                        <td>{{user?.account_number}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Amount Paid</td>
                                                        <td>{{user?.bank_name}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                    </div>
                                     <div class="col-md-4">
                                           <div class="dt-responsive table-responsive">
                                                <table class="table reduced-font">
                                                    <tr>
                                                        <td>Cost</td>
                                                        <td>{{user?.account_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Last Payment</td>
                                                        <td>{{user?.account_number}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Amount Pending</td>
                                                        <td>{{user?.bank_name}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                    </div>
                                     <div class="col-md-4">
                                           <div class="dt-responsive table-responsive">
                                                <table class="table reduced-font">
                                                    <tr>
                                                        <td>Slot(s)</td>
                                                        <td>{{user?.account_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Next Payment</td>
                                                        <td>{{user?.account_number}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Termination Date</td>
                                                        <td>{{user?.bank_name}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header">
                                <h5>Investment Report</h5>
                            </div>
                            <div class="card">

                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table datatable
                                                class="table appTable table-striped nowrap">
                                            <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Investment Title</th>
                                                <th>Payback Frequency</th>
                                                <th>Amount Credited</th>
                                                <th>Yield Amount</th>
                                                <th>Balance</th>
                                                <th>Status</th>
                                                <th>Date Paid</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  *ngFor="let user of users;let i = index;">
                                                <td>{{user.first_name}} {{user.last_name}}</td>
                                                <td >{{user.email}}</td>
                                                <td >{{user.phone_number}}</td>
                                                <td >{{user.user_category}}</td>
                                                <td>{{user.first_name}} {{user.last_name}}</td>
                                                <td >{{user.email}}</td>
                                                <td >{{user.phone_number}}</td>
                                                <td >{{user.user_category}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                             <div class="card-header">
                                <h5>Investment History</h5>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table datatable
                                                class="table appTable table-striped nowrap">
                                            <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Investment Title</th>
                                                <th>Category</th>
                                                <th>Cost</th>
                                                <th>No of Slots</th>
                                                <th>Duration</th>
                                                <th>Returns</th>
                                                <th>Period</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Date Added</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  *ngFor="let user of users;let i = index;">
                                                <td>{{user.first_name}} {{user.last_name}}</td>
                                                <td >{{user.email}}</td>
                                                <td >{{user.phone_number}}</td>
                                                <td >{{user.user_category}}</td>
                                                <td >{{user.user_category}}</td>
                                                <td >{{user.user_category}}</td>
                                                <td >{{user.user_category}}</td>
                                                <td >{{user.user_category}}</td>
                                                <td >{{user.user_category}}</td>
                                                <td >{{user.user_category}}</td>
                                                <td >{{user.user_category}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>





                    <div class="row mb-4">
                        <!-- <div class="col-xl-4 col-md-6 user-invest">
                            <label for="myInvest" class="sr-only">My Investment</label>
                            <select [(ngModel)]="selectedInvestment" (change)="showDetails()" name="" id="myInvest" class="form-control">
                                <option *ngIf="usersInvestments.length === 0" value="-1" >Investment Plans</option>
                                <option *ngFor="let investments of usersInvestments;let i = index" [ngValue]="i">{{investments.title}}</option>
                            </select>
                        </div> -->
                        <div style="margin: 1rem 0rem;
                                    color: #43425d;
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    letter-spacing: 0.1rem;
                                    margin-bottom: 0rem;
                                    ">
                                        Dashboard
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-details col-xl-7 col-md-6" style="padding-left: 0;">
                            <div class="card latest-update-card">
                                <div class="card-header none-covered">
                                    <h5>Investment Perfomance</h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">

                                    </div>
                                 </div>
                            </div>
                        </div>

                        <div class="card-details col-xl-5 col-md-4" style="padding-left: 0;">
                            <div class="card latest-update-card">
                                <div class="card-header non-covered">
                                    <h5>Featured Investment</h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">

                                    </div>
                                 </div>
                            </div>
                        </div>

                        <!-- <div class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card prod-p-card ">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-25">Total Returns</h6>
                                                <h3 *ngIf="dashBoardData?.investment_return[latest_return-1]" class="f-w-700 text-c-blue">{{totalYieldedAmount | currency:'NGN':'symbol-narrow'}}</h3>
                                                <h3 *ngIf="!dashBoardData?.investment_return[latest_return-1]"class="f-w-700 text-c-blue">0.00</h3>
                                                <p *ngIf="dashBoardData.number_of_pools>0" class="m-b-0">{{investmentInfo?.duration}} Month(s)</p>
                                                <p *ngIf="dashBoardData.number_of_pools==0" class="m-b-0">0 Month(s)</p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-money-bill-alt text-c-blue f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-xl-4 p-0">
                            <div  class="col-xl-12 col-md-12">
                                <div class="card comp-card prod-p-card ">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-25" style="color: #666; font-weight: bold">Total Number of Slots</h6>
                                                <h3 class="f-w-700 text-c-blue">{{dashBoardData?.number_of_pools}}</h3>
                                                <p class="m-b-0">{{dashBoardData?.number_of_pools}} active slot(s)</p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-chart-area text-c-blue f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div (click)="showGraph()" class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col card-icon">
                                                <h6 class="m-b-25">View Analytic</h6>
                                                <h3 class="f-w-700 text-c-blue"></h3>
                                                <p class="m-b-0">12 Months</p>
                                                <i class="fas fa-chart-line text-c-blue f-18 ic"></i>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-chart-line text-c-blue f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">

                        <!-- <div class="col-xl-12 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Report</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="userTable"
                                                    class="table table-striped nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Report</th>
                                                    <th>Date</th>
                                                    <th>Type</th>
                                                    <th>Yielded Amount</th>
                                                    <th>Balance</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr  *ngFor="let report of dashBoardData.investment_report,let x=index " data-href="#viewUserProfile" (click)="viewUserDetail(i)">
                                                    <td>{{report.title}}</td>
                                                    <td >{{dashBoardData.investment_return[x].yielded_date.date}}</td>
                                                    <td >{{dashBoardData.investment_return[x].yielded_type}}</td>
                                                    <td >{{dashBoardData.investment_return[x].yielded_amount}}</td>
                                                    <td >{{dashBoardData.investment_return[x].yielded_investment_amount}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div *ngIf="!isLoading" class="row dashboard-table" style="width: 100%;margin-left: 2px;">
                            <div class="card-details col-xl-3.5 col-md-4" style="padding-left: 0;">
                                <div class="card latest-update-card">
                                    <div class="card-header">
                                        <h5>Recent Activity</h5>
                                    </div>
                                    <div class="card-block">


                                      <div class="dt-responsive table-responsive">
                                              <!-- <table id="userTable"
                                                      class="table table-striped nowrap">
                                                  <thead>
                                                  <tr>
                                                      <th>first name</th>
                                                      <th>last name</th>
                                                      <th>email</th>
                                                      <th>Phone number</th>
                                                      <th>curriculum_vitae</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                  <tr *ngFor="let req of dashBoardData?.request_application,let x=index ">
                                                      <td>{{req.first_name}}</td>
                                                      <td >{{req.first_name}}</td>
                                                      <td >{{req.first_name}}</td>
                                                      <td >{{req.first_name}}</td>
                                                      <td >{{req.first_name}}</td>
                                                  </tr>
                                                  </tbody>
                                              </table> -->
                                      </div>
                                     </div>
                                </div>
                            </div>

                            <div class="card-details col-xl-8 col-md-12" style="padding-right: 0;padding-left: 0;">
                              <div class="card latest-update-card">
                                  <div class="card-header">
                                      <h5>Best Selling</h5>
                                  </div>
                                  <div class="card-block">


                                    <div class="dt-responsive table-responsive">
                                            <table id="userTable"
                                                    class="table table-striped nowrap">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Customer</th>
                                                    <th>Category</th>
                                                    <th>Status</th>
                                                    <th>Date Added</th>
                                                    <th>Amount</th>
                                                    <th>No of Pool</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let req of dashBoardData?.request_application,let x=index ">
                                                    <td>{{req.first_name}}</td>
                                                    <td >{{req.first_name}}</td>
                                                    <td >{{req.first_name}}</td>
                                                    <td >{{req.first_name}}</td>
                                                    <td >{{req.first_name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                   </div>
                              </div>
                            </div>

                            <!-- <div class="col-xl-4 col-md-12">
                                <div class="card latest-update-card">
                                    <div class="card-header">
                                        <h5>Career</h5>
                                    </div>
                                    <div class="card-block">
                                          <div class="dt-responsive table-responsive">
                                                  <table id="userTable"
                                                          class="table table-striped nowrap">
                                                      <thead>
                                                      <tr>
                                                          <th>Title</th>
                                                          <th>No. of Applicants</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      <tr *ngFor="let career of dashBoardData?.career_application,let x=index ">
                                                          <td>{{career.career_title}}</td>
                                                          <td >{{career.no_of_applications}}</td>
                                                      </tr>
                                                      </tbody>
                                                  </table>
                                          </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div *ngIf="isGraphShown" class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row mb-4">
                        <div class="col-xl-4 col-md-6 user-invest">
                            <button (click)= "hideGraph()" class="btn btn2 btn-primary">Back</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-chart *ngIf="isGraphShown" [lineChartLabels]="lineChartLabels" [lineChartData]="lineChartData"></app-chart>
