<div class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row mb-4">
                        <div class="col-xl-4 col-md-6 user-invest">
                            <label for="myInvest" class="sr-only">My Investment</label>
                            <select [(ngModel)]="selectedInvestment" (change)="showDetails()" name="" id="myInvest" class="form-control">
                                <option value="-1" >My Investment Plans</option>
                                <option *ngFor="let investments of usersInvestments;let i = index" [ngValue]="i">{{investments.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card prod-p-card ">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-25">Total Returns</h6>
                                                <h3 class="f-w-700 text-c-blue">{{dashBoardData?.investment_return[0]?.investment_amount}}</h3>
                                                <p *ngIf="dashBoardData.number_of_pools>0" class="m-b-0">{{investmentInfo?.duration}} Month(s)</p>
                                                <p *ngIf="dashBoardData.number_of_pools==0" class="m-b-0">0 Month(s)</p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-money-bill-alt text-c-blue f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card prod-p-card ">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-25" style="color: #666; font-weight: bold">Total Number of Pools</h6>
                                                <h3 class="f-w-700 text-c-blue">{{dashBoardData?.number_of_pools}}</h3>
                                                <!-- <p class="m-b-0">12 Months</p> -->
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-chart-area text-c-blue f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col card-icon">
                                                <!--<h6 class="m-b-25">View Analytic</h6>
                                                <h3 class="f-w-700 text-c-blue"></h3>
                                                <p class="m-b-0">12 Months</p>-->
                                                <i class="fas fa-chart-line text-c-blue f-18 ic"></i>
                                            </div>
                                            <div class="col-auto">
                                                <!--<i class="fas fa-chart-line text-c-blue f-18"></i>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xl-12 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card latest-update-card">
                                    <div class="card-header">
                                        <h5>Report</h5>
                                    </div>
                                    <div class="card-block">
                                        <div *ngFor="let report of dashBoardData.investment_report " class="report-card">     
                                            <h4>{{report?.title}}</h4>
                                            <div>{{report?.description}}</div>
                                            <small class="date">{{report?.updated_at}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>