.pcoded-inner-content{
    background-color: #e4e4e4;
}

body{
    font-family: 'roboto';
}
.card-body {
    padding-top: 0.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-top: 0.4rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-bottom: 0.4rem;

    .align-items-center {
        &.head{
            padding: 0.2rem 0.7rem;
            font-weight: 600;
            color: white;
        }

        &.body{
            padding: 0.4rem 0;
                h3.f-w-700.text-c-blue{
                    margin-bottom: 0rem;
                }

                .col-auto{
                    .fas{
                        background: none !important;
                        text-shadow: none;
                        box-shadow: none;
                        font-size: 35px;
                        padding-top: 4px;
                    }
                }

        }
    }

    .row.divider{
        border-style: solid;
        border-width: 0.6px;
        color: #e2dddd2e;
    }

    .foot{
        width: 100%;
        /* text-align: end; */
        padding: 0px 15px;
        padding-bottom: 0px;
        font-size: 11px;
        font-weight: 700;
        color: #e2dddd;
    }
}

    .pcoded-content{
         &.body{
    margin-left: 225px;
        .pcoded-inner-content {
            padding: 10px;
        }


        .main-body{
            .page-wrapper {
                padding: .6rem 1.5rem;
                -webkit-transition: all ease-in .3s;
                transition: all ease-in .3s;
            }

            .col-xl-3.col-md-4 {
                margin: 0px !important;
                padding: 4px;
            }

            h3.f-w-700.text-c-white[_ngcontent-c5] {
                margin-bottom: 0rem;
                text-align: end;
                font-size: 35px;
                font-size: 35px;
                text-shadow: none;
                transition: all .3s ease-in-out;
            }
        }
    }
}

.row{
    &.info{
        .card{
            background-color: #4F5FBE;
            color: white;
            box-shadow: none;
            border-radius: 0rem;
            border-color: #b5b5b5;
            border-style: solid;
            border-width: 0.2px;
        }
    }
}

.card-details{
    &.col-xl-4.col-md-4{
        padding-left: 0px;
        padding-right: 0px;
    }

    .card{

        .card-header {
            padding: 10px;
            letter-spacing: 0.5px;
            color: black;
            border-bottom: 1.5px solid #4F5FBE;

            h5 {
                margin-bottom: 0;
                color: #221f72;
                font-size: 14px;
                font-weight: bold;
                display: inline-block;
                margin-right: 10px;
                line-height: 1.1;
                position: relative;

                &::after{
                    content: none;
                }
            }
        }
    }
}

.leftBorder{
    box-shadow: -4px 8px 5px #88888838;
    text-align: end;
    width: 25%;
    font-size: 30px;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.rightBorder{
    box-shadow: 4px 7px 5px #88888838;
    width: 350px;
    font-size: 16px;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding-left: 0px !important
}


.dashboard-table{
    &.graphs{


        .card-header {
            display: flex;
            justify-content: space-between;
            h5 {
                margin-bottom: 0;
                font-size: 14px;
                color: #071a73fa;
                font-weight: bolder;
            }
            h3{
                color: #6ca4ff;
                font-weight: bolder;
                margin-bottom: 0;
                font-size: 12px;
                margin-top: 5px;
                cursor: pointer;
            }
            padding: 10px;
            letter-spacing: 0.5px;
            background-color: transparent !important;
            box-shadow: none !important;
            color: black !important;
            padding: 20px !important;

            &.small-gap{
                padding: 8px !important;
                margin-left: 15px;
            }
        }

        .divider{
            margin-left: 0.6px;
            border-style: solid;
            border-width: 0.9px;
            color: #4245a978;
            width: 100%;
        }
    }
    .card-block {
        padding: 0 0.5rem;
        font-size: 0.78rem;
        font-weight: bolder;

        tr{
            padding-bottom: 0px;
            font-weight: bolder;

            th{
                padding-top: 0rem;
                border-color: #0c439a78;
                font-weight: bold;
                padding: 1rem;
                color: #07075f;
                border: 2px solid #144dce;
            }
        }
    }
}

.latest-update-card {

    .card-footer{
        border-radius: 0em;
        padding: 18px 20px !important;
        padding-bottom: 10px !important;
    }

     .card-header{
        margin: 2px 0px;
        padding: 18px 20px !important;
        padding-bottom: 25px !important;

        .activities{
            .image{
                padding: auto;
                border-radius: 50%;
                border-color:#e8e8fe
            }
            .post{
                margin: 8.5px;
                margin-left: 10px;
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }
}

.header-bg{
    background-color: #4F5FBE;
}

.header-bg button{
    border-radius: 10px;
}

.header-bg  h6{
        color:white;
        margin-bottom: 0;
        font-weight: bold;
}

.carousel-inner .card-block .adjust {
    margin: 0.5rem;
}

.mon{
    tbody{
        display: grid;
    }
}

.nav-item {
    font-size: 14px;
    cursor: pointer;
}

.latest-update-card > .input-control {
    display: block;
    width: 100%;
    color: #495057;
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .input-control  img {
      height: 100px;
  }

  .input-control .spectre{
    margin-left: 2.5rem;
    color: #495057;
    font-size: 12px;
    font-weight: bold;
}

.row1 p {
    border-bottom: 1px #495057 solid ;
    color: #495057;
    font-size: 12px;
}

.divider2{
    height: 44.5px;
    border-width: 1px;
    border-right-style: solid;
    margin: 0px 3px;
    width: 17.5px;
    border-right-color: #80808030;
}


.adjust{
    td{
        padding: 1.45rem .8rem;
        line-height: 1.3;
    }

    tr {
        padding-bottom: 10px;
    }
}


.progress-bar {
    width: 40%;

    .progress-outer[_ngcontent-c6] {
        background-color: none !important;
    }
    .progress-inner {
        min-width: 0.5%;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px;
        border-radius: 20px;
        height: 5px;
    }
}

.pcoded-submenu {
    padding: 0;
}

.progress-label{
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.4rem;
    font-size: 10px;
    margin-top: 0.9rem;
    color:#bcbdc1;
}

#legend{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.label-sub{
    color: '#bcbdc2'
}
