<div class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row mb-4">
                        <div class="col-xl-4 col-md-6 user-invest">
                            <label for="myInvest" class="sr-only">My Investment</label>
                            <select [(ngModel)]="selectedInvestment" (change)="showDetails()" name="" id="myInvest" class="form-control">
                                <option value="-1" >Investment Plans</option>
                                <option *ngFor="let investments of usersInvestments;let i = index" [ngValue]="i">{{investments.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card prod-p-card ">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-25">Total Returns</h6>
                                                <h3 *ngIf="dashBoardData?.investment_return[0]" class="f-w-700 text-c-blue">{{dashBoardData?.investment_return[0]?.investment_amount | currency:'NGN':'symbol-narrow'}}</h3>
                                                <h3 *ngIf="!dashBoardData?.investment_return[0]"class="f-w-700 text-c-blue">0.00</h3>
                                                <p *ngIf="dashBoardData.number_of_pools>0" class="m-b-0">{{investmentInfo?.duration}} Month(s)</p>
                                                <p *ngIf="dashBoardData.number_of_pools==0" class="m-b-0">0 Month(s)</p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-money-bill-alt text-c-blue f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card prod-p-card ">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-25" style="color: #666; font-weight: bold">Total Number of Pools</h6>
                                                <h3 class="f-w-700 text-c-blue">{{dashBoardData?.number_of_pools}}</h3>
                                                <p class="m-b-0">0 active pool(s)</p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-chart-area text-c-blue f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card prod-p-card ">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <canvas baseChart width="200" 
                                                [datasets]="lineChartData"
                                                [labels]="lineChartLabels"
                                                [options]="lineChartOptions"
                                                [colors]="lineChartColors"
                                                [legend]="lineChartLegend"
                                                [chartType]="lineChartType"
                                                (chartHover)="chartHovered($event)"
                                                (chartClick)="chartClicked($event)">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="col-xl-4 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card comp-card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col card-icon">
                                                <i class="fas fa-chart-line text-c-blue f-18 ic"></i>
                                            </div>
                                            <div class="col-auto">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">

                        <div class="col-xl-12 p-0">
                            <div class="col-xl-12 col-md-12">
                                <div class="card latest-update-card">
                                    <div class="card-header">
                                        <h5>Report</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="userTable"
                                                    class="table table-striped nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Report</th>
                                                    <th>Date</th>
                                                    <th>Type</th>
                                                    <th>Yielded Amount</th>
                                                    <th>Balance</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr  *ngFor="let report of dashBoardData.investment_report,let x=index " data-href="#viewUserProfile" (click)="viewUserDetail(i)">
                                                    <td>{{report.title}}</td>
                                                    <td >{{dashBoardData.investment_return[x].yielded_date.date}}</td>
                                                    <td >{{dashBoardData.investment_return[x].yielded_type}}</td>
                                                    <td >{{dashBoardData.investment_return[x].yielded_amount}}</td>
                                                    <td >{{dashBoardData.investment_return[x].yielded_investment_amount}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>