.pcoded-inner-content{
    background-color: #e4e4e4;
}

body{
    font-family: 'roboto';
}

.dash-header2{
    margin: 1.1rem 0rem;
    color: #43425d;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.card-details{
    &.row{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}

.card-body {
    padding-top: 0.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-top: 0.4rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-bottom: 0.4rem;

    .align-items-center {
        &.head{
            padding: 0.2rem 0.7rem;
            font-weight: 600;
            color: white;
        }

        &.body{
            padding: 0.4rem 0;
                h3.f-w-700.text-c-blue{
                    margin-bottom: 0rem;
                }

                .col-auto{
                    .fas{
                        background: none !important;
                        text-shadow: none;
                        box-shadow: none;
                        font-size: 35px;
                        padding-top: 4px;
                    }
                }

        }
    }

    .row.divider{
        border-style: solid;
        border-width: 0.6px;
        color: #e2dddd2e;
    }

    .foot{
        width: 100%;
        /* text-align: end; */
        padding: 0px 15px;
        padding-bottom: 0px;
        font-size: 11px;
        font-weight: 700;
        color: #e2dddd;
    }
}

    .pcoded-content{
         &.body{
    margin-left: 225px;
        .pcoded-inner-content {
            padding: 10px;
        }


        .main-body{
            .page-wrapper {
                padding: .6rem 1.5rem;
                -webkit-transition: all ease-in .3s;
                transition: all ease-in .3s;
            }

            .col-xl-3.col-md-4 {
                margin: 0px !important;
                padding: 4px;
            }

            h3.f-w-700.text-c-white[_ngcontent-c5] {
                margin-bottom: 0rem;
                text-align: end;
                font-size: 35px;
                font-size: 35px;
                text-shadow: none;
                transition: all .3s ease-in-out;
            }
        }
    }
}

.row{
    &.info{
        .card{
            background-color: #4F5FBE;
            color: white;
            box-shadow: none;
            border-radius: 0rem;
            border-color: #b5b5b5;
            border-style: solid;
            border-width: 0.2px;
        }
    }
}

.card-details{
    &.col-xl-4.col-md-4{
        padding-left: 0px;
        padding-right: 0px;
    }

    .card{

        .card-head {
            padding: 10px;
            letter-spacing: 0.5px;
            color: black;
            border-bottom: 1.5px solid #4F5FBE;

            h5 {
                margin-bottom: 0;
                color: #221f72;
                font-size: 14px;
                font-weight: bold;
                display: inline-block;
                margin-right: 10px;
                line-height: 1.1;
                position: relative;

                &::after{
                    content: none;
                }
            }
        }
    }
}

.card.recentActivity, .card.bestSelling {
    height: 550px;

    .table-responsive{
        padding: 0.5rem 0rem;
    }
}

.leftBorder{
    box-shadow: -4px 8px 5px #88888838;
    text-align: end;
    width: 25%;
    font-size: 30px;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.rightBorder{
    box-shadow: 4px 7px 5px #88888838;
    width: 350px;
    font-size: 16px;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding-left: 0px !important
}


.dashboard-table{
    &.graphs{


        .card-header {
            display: flex;
            justify-content: space-between;
            h5 {
                margin-bottom: 0;
                font-size: 14px;
                color: #071a73fa;
                font-weight: bolder;
            }
            h3{
                color: #6ca4ff;
                font-weight: bolder;
                margin-bottom: 0;
                font-size: 12px;
                margin-top: 5px;
                cursor: pointer;
            }
            padding: 10px;
            letter-spacing: 0.5px;
            background-color: transparent !important;
            box-shadow: none !important;
            color: black !important;
            padding: 20px !important;

            &.small-gap{
                padding: 8px !important;
                margin-left: 15px;
            }
        }

        .divider{
            margin-left: 0.6px;
            border-style: solid;
            border-width: 0.9px;
            color: #4245a978;
            width: 100%;
        }
    }
    .card-block {
        padding: 1rem 0.8rem;
        font-size: 0.78rem;
        font-weight: bolder;

        tr{
            padding-bottom: 0px;
            font-weight: bolder;

            th{
                padding-top: 0rem;
                border-color: #0c439a78;
                font-weight: bold;
                padding: 1rem;
                color: #07075f;
                border: 2px solid #144dce;
            }
        }
    }
}

.investmentPerf {
    min-height: 472px;
}

.latest-update-card {

    .card-footer{
        border-radius: 0em;

    }

     .card-header{
        margin: 2px 0px;
        padding: 18px 20px !important;
        padding-bottom: 25px !important;

        .activities{
            .image{
                padding: auto;
                border-radius: 50%;
                border-color:#e8e8fe
            }
            .post{
                margin: 8.5px;
                margin-left: 10px;
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }
}

.header-bg{
    background-color: #4F5FBE;
}

.header-bg button{
    border-radius: 10px;
}

.header-bg  h6{
        color:white;
        margin-bottom: 0;
        font-weight: bold;
}

.carousel-inner .card-block .adjust {
    margin: 0.5rem;
}

.mon{
    tbody{
        display: grid;
    }
}

.nav-item {
    font-size: 14px;
    cursor: pointer;
    font-weight: 900;
}
.box-control {
    display: block;
    width: 100%;
    color: #495057;
    border-color: rgba(73, 80, 87, 0.2);
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid ;
    border-radius: 2px;
    padding: 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    .row .col-3 {
        min-width: 100%;
    }
  }

.latest-update-card > .input-control {
    display: block;
    width: 100%;
    color: #495057;
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .input-control  img {
      height: 100px;
  }

  .input-control .spectre{
    color: #495057;
    font-size: 11px;
}

.row1 p {
    border-bottom: 1px #4F5FBE solid ;
    padding: 1.225rem;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 1rem !important;
}

.row1 .normal {
    font-weight: 700;
    color: #4F5FBE;
    font-size: 12px;
}

.row1 .special {
    font-weight: 900;
    color: #4F5FBE;
    font-size: 13px;
}

.divider2{
    height: 44.5px;
    border-width: 1px;
    border-right-style: solid;
    margin: 0px 3px;
    width: 17.5px;
    border-right-color: #80808030;
}


.adjust{
    td{
        padding: 1.45rem .8rem;
        line-height: 1.3;
    }

    tr {
        padding-bottom: 10px;
    }
}


.progress-bar {
    width: 40%;

    .progress-outer[_ngcontent-c6] {
        background-color: none !important;
    }
    .progress-inner {
        min-width: 0.5%;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px;
        border-radius: 20px;
        height: 5px;
    }
}

.pcoded-submenu {
    padding: 0;
}

.progress-label{
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.4rem;
    font-size: 10px;
    margin-top: 0.9rem;
    color:#bcbdc1;
}

#legend{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.label-sub{
    color: '#bcbdc2'
}

.first-modal-header{
    text-align: center;
    margin: 20px 0px;
    font-weight: 700;
    color: #0062cc;
    font-size: 16px;
    border-bottom-style: solid;
    border-bottom-color: #00000038;
    border-bottom-width: 0.5px;
}

.balance{
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 16.8px;
    color: #4eca6b;
    display: flex;
    justify-content: center;

    span{
        letter-spacing: 2px;
        margin: 0px 10px;

    }
}

.balance-input{
    padding-top: 15px;
    text-align: center;
}

.input-balance{
    margin: 0 auto;
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
    input{
        padding: 3px;
    width: 290px;
    overflow: visible;
    }
    span{
        margin: 5px;
        margin-right: 20px;
    }
}

.withdraw-info{
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.withdraw-details{
    width: 60%;
    margin: 0px auto;
    p{
        display: flex;
        width: 80%;
        font-size: 14px;
        justify-content: space-between;

        span{
            font-weight: 700;
        }

        .amount{
            color: #4eca6b;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: roboto, sans-serif
}

@media only screen and (max-width: 600px) {
    .dash-header2{
        margin: 1.1rem 0rem;
        color: #43425d;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        display: none;
    }

    .row {
        flex-flow: column;
        min-width: 100%;
        margin-right: 10px;
    
        .card-details.row{
            flex-flow: column;
            max-width: 100%;
            margin: 0;

            .latest-update-card.col-7 {
                flex-flow: column;
                max-width: 100%;

                .box-control {
                    margin-left: 1.5rem;
                    max-width: 100%;
                    padding-right: 1rem;
                    border: none;

                    .row .col-3 {
                        min-width: 100%;
                    }
                }

                .card-footer .col-6 {
                    min-width: 100%;
                }
            }

            .card-details.col-5 {
                flex-flow: column;
                max-width: 100%;
                padding: 0;

                .card .card-block {
                    padding: 0;
                }
            }
        }
    }

    .card-details{
        &.row{
            display: flex;
            margin-left: 1rem !important;
            justify-content: center;
        }
    }

    .investmentPerf {
        min-height: 600px;
        margin: 0;

        .col-6.p-2 {
            min-width: 100%;
        }
    }

    .card.recentActivity {
        height: 500px;
    }

    .card.bestSelling {
        min-height: 800px;
    }

    .row.dashboard-table {
        margin-left: 1rem !important;

        .card-details.col-md-4 {
            padding: 0;
        }
    }
}

@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
    .investmentPerf {
        min-height: 370px;
    }

    .card-details.row {
        flex-flow: column;
        max-width: 100%;
        margin: 0;

        .latest-update-card.col-7 {
            flex-flow: column;
            max-width: 100%;

            .box-control {
                margin-left: 1.5rem;
                max-width: 100%;
                padding-right: 1rem;

                .row .col-3 {
                    min-width: 100%;
                }
            }

            .card-footer .col-6 {
                min-width: 100%;
            }
        }

        .card-details.col-5 {
            flex-flow: column;
            max-width: 100%;
            padding: 0;

            .card .card-block {
                padding: 0;
            }
        }
    }
}
