.pcoded-inner-content{
    background-color: #e4e4e4;
}
.card-body {
    padding-top: 0.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-top: 0.4rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-bottom: 0.4rem;

    .align-items-center {
        &.head{
            padding: 0.2rem 0.7rem;
            font-weight: 600;
            color: white;
        }

        &.body{
            padding: 0.4rem 0;
                h3.f-w-700.text-c-blue{
                    margin-bottom: 0rem;
                }

                .col-auto{   
                    .fas{
                        background: none !important;
                        text-shadow: none;
                        box-shadow: none;
                        font-size: 35px;
                        padding-top: 4px;
                    }    
                }
            
        }
    }

    .row.divider{
        border-style: solid;
        border-width: 0.6px;
        color: #e2dddd2e;
    }

    .foot{
        width: 100%;
        /* text-align: end; */
        padding: 0px 15px;
        padding-bottom: 0px;
        font-size: 11px;
        font-weight: 700;
        color: #e2dddd;
    }
}

    .pcoded-content{
         &.bod{
    margin-left: 225px;
        .pcoded-inner-content {
            padding: 10px;
        }

        
        .main-body{
            .page-wrapper {
                padding: .6rem 1.5rem;
                -webkit-transition: all ease-in .3s;
                transition: all ease-in .3s;
            }

            .col-xl-3.col-md-4 {
                margin: 0px !important;
                padding: 4px;
            }

            h3.f-w-700.text-c-white[_ngcontent-c5] {
                margin-bottom: 0rem;
                text-align: end;
                font-size: 35px;
                font-size: 35px;
                text-shadow: none;
                transition: all .3s ease-in-out;
            }
        } 
    }
}

.row{
    &.info{
        .card{
            background-color: #4F5FBE;
            color: white;
            box-shadow: none;
            border-radius: 0rem;
            border-color: #b5b5b5;
            border-style: solid;
            border-width: 0.2px;
        }
    } 
}

.card-details{
    &.col-xl-4.col-md-4{
        padding-left: 0px;
        padding-right: 0px;
    }

    .card{
      
        .card-header {
            padding: 10px;
            letter-spacing: 0.5px;
            color: black;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color:#e4e4e4;

            h5 {
                margin-bottom: 0;
                color: #221f72;
                font-size: 13px;
                font-weight: 700;
                display: inline-block;
                margin-right: 10px;
                line-height: 1.1;
                position: relative;

                &::after{
                    content: none;
                }
            }
        }
    }
}

.dashboard-table{
    &.graphs{


        .card-header {
            display: flex;
            justify-content: space-between;
            h5 {
                margin-bottom: 0;
                color: #071a73fa !important;
                font-weight: bolder;
            }
            h3{
                color: #6ca4ff;
                font-weight: bolder;
                margin-bottom: 0;
                font-size: 12px;
                margin-top: 5px;
                cursor: pointer;
            }
            padding: 10px;
            letter-spacing: 0.5px;
            background-color: transparent !important;
            box-shadow: none !important;
            color: black !important;
            padding: 20px !important;

            &.small-gap{
                padding: 8px !important;
                margin-left: 15px;
            }
        }

        .divider{
            margin-left: 0.6px;
            border-style: solid;
            border-width: 0.9px;
            color: #4245a978;
            width: 100%;
        }
    }
    .card-block {
        padding: 0 0.5rem;
        font-size: 0.78rem;
        font-weight: bolder;

        tr{
            padding-bottom: 0px;
            font-weight: bolder;

            th{
                padding-top: 0rem;
                border-bottom-color: #0c439a78;
                font-weight: bold;
                padding: 1rem;
                color: #07075f;
                border-bottom: 2px solid #144dce;
            }
        }
    }
}

      
   

progress-bar {
    width: 40%;

    .progress-outer[_ngcontent-c6] {
        background-color: none !important;
    }
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px;
        border-radius: 20px;
        height: 5px;
    }    
}

.pcoded-submenu {
    padding: 0;
}

.progress-label{
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.4rem;
    font-size: 10px;
    margin-top: 0.9rem;
    color:#bcbdc1;
}

#legend{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.label-sub{
    color: '#bcbdc2'
}