#modal-content-wrapper {
    width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	color: black;
}

#modal-content-wrapper > div {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
}

#modal-content-wrapper input {
	border: 1px solid black;
}

#modal-buttons {
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: 10px;
	padding-top: 10px;
}

#modal-action-button {
	background-color: #21BD46;
	width: 100px
}

#modal-cancel-button {
	background-color: #4e4e4e;
	width: 100px;
}

@media screen and (max-width: 690px) {

	#modal-content-wrapper > div:not(#modal-buttons) {
		display: flex;
		width: 100%;
		flex-flow: column;
	}

	#modal-content-wrapper input {
		width: 250px;
	}

	#modal-buttons {
		align-items: center;
		justify-content: center;
		margin-top: 10px;
		padding-top: 10px;
		flex-flow: row nowrap;
	}

	#modal-input {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	
}