<div class="modal fade" data-backdrop = "static" style="margin-top: 3em !important;" id="managePlanModal" tabindex="-1" role="dialog"
         aria-labelledby="createPlanModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-investment" role="document">
            <div class="modal-content create-investment">
                <div class="modal-header">
                    <h5>{{modaltitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  (ngSubmit)="modalSubmitted()" #addInvestmentForm="ngForm">
                            <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"><label for="title">Title</label></div>
                                        <div class="col-md-10">
                                          <input  required [(ngModel)]="modalData.title" type="text" class="form-control" name="title" id="title">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"><label for="category">Category</label></div>
                                        <div class="col-md-10">
                                            <select required [(ngModel)]="modalData.category_id"  name="category" id="category" class="form-control">
                                              <option value=0 hidden>Select</option>
                                              <option *ngFor="let category of categories" value="{{category.id}}">{{category.category_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"><label for="investors">Investors</label></div>
                                        <div class="col-md-10">
                                          <input  required [(ngModel)]="modalData.max_num_of_slots" type="text" class="form-control" name="investors" id="investors" placeholder="Amount of Investors">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"><label for="timing">Duration</label></div>
                                        <div class="col-md-10">
                                            <input  required [(ngModel)]="modalData.duration" type="number" class="form-control" name="duration" id="duration" placeholder="DURATION">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"><label for="pricing">Pricing</label></div>
                                        <div class="col-md-6"><input required [(ngModel)]="modalData.investment_amount" type="number" name="pricing" id="pricing" class="form-control"></div>
                                        <div class="col-md-4"><span class="info-span with-size">(Registration Amount)</span></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"><label>Returns</label></div>
                                        <div class="col-md-10">
                                            <label for="annual_profit">ANNUAL PROFIT <small class="info-span">(expected)</small></label>
                                            <input  required type="text" class="form-control" name="annual_profit" id="annual_profit">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-5">
                                                <label for="period">Expected Return Period <small class="info-span">(Weekly/monthly)</small></label>
                                                <select required [(ngModel)]="modalData.expected_return_period" name="period" id="period" class="form-control">
                                                    <option value="Weekly" >Weekly</option>
                                                    <option value="Monthly" >Monthly</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"><label style="padding-top: 0 !important;">Upload Image</label></div>
                                        <div class="col-md-10">
                                            <label for="upload-image" class="planUploader">
                                                <input type="file" id="upload-image" accept="image/*" (change)="changeListener($event)">
                                                Click to upload Investment Image
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"><label for="description">Description</label></div>
                                        <div class="col-md-10">
                                            <textarea name="description"  [(ngModel)]="modalData.description" id="description" cols="10" rows="5" class="form-control" placeholder="Enter the description of the investment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-5 offset-7">
                                    <button class="btn2 btn btn-raised add-invest" [disabled]="!addInvestmentForm.form.valid" >{{modalButtonTitle}}</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
</div>
