<section *ngIf="!selectedCareer" class="career">
    <div class="inner-career">
        <div class="row">
            <div class="col-md-9">
                <div class="content">
                    <h3>Come join our team</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste totam reprehenderit
                        similique qui eum esse repudiandae,
                        quis fuga dolores autem porro ex quasi magnam facilis accusamus, itaque modi architecto!
                    </p>
                    <div class="second">
                        <h4>Current Openings</h4>
                        <p class="par">We are currently hiring for the following roles below. All CVs should be sent
                            to</p>
                        <strong><a href="mailto:careers@paninvest.ng">careers@paninvest.ng</a></strong>
                    </div>


                    <!-- <ul>
                        <li>
                            <a href="career-details.html">
                                <h5>Driver (Business and Private)</h5>
                                <small>Posted 22/03/2019</small>
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="right-holder">
                    <div>i</div>
                    <div>2</div>
                </div>
            </div> -->
        </div>
        <br>
        <div class="row page-body list-vacancy mt-10">
            <div *ngIf="!isLoading" class="col-xl-12 col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row content">
                            <ul *ngFor="let career of careerList;let cnt = index" class="col-md-3 pb-2">
                                <li class="holder">
                                    <a (click)="viewCareerDetails(cnt)">
                                        <h5>{{career.career_title}}</h5>
                                        <small>Posted {{career.created_at}}</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isLoading" class="lds-default">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</section>
<app-career-details [isUser]="true" [career]="selectedCareer" *ngIf="selectedCareer" (submit)="callBack($event)" ></app-career-details>