/* You can add global styles to this file, and also import other style files */
/* @import 'assets/css/bootstrap.min.css';
@import 'assets/css/main.css'; */
@import "./assets/scss/_partials/mixins";
@import "./assets/scss/_partials/vars";
@import './spinner.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

/* @import './skeleton.scss';

h3, h4, p {
    margin: 0 0 5px;
}

.card-layout {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
} */




.login-section {

    .inner-login {

        .login-form {
            max-width: 500px;
            width: 55%;
            padding: 40px 30px;
            background: #fff;
            position: relative;
            border-radius: 4px;

            .sr-only{
                 color: #4f5fbe;
            }
             .otherInfo {
                padding: 0em 0px 1.5rem 0px;
                text-align: center;

                p {
                    color: #4f5fbe;
                }

                 a {
                    color: #4f5fbe;
                    font-weight: 700
                }
            }

            .form-control{
                height: 3.5em;
                font-weight: 700;
                padding: 1.9em 5px;
                background: #fff;
                border: 0;
                border-radius: 0;
                border-bottom: 1.8px solid #e7e8ec;
                /* color: #354388; */
            }

            span.input-group-text.tran{
                 border-bottom: 1.8px solid #e7e8ec;
            }

            
            h3{
                font-size: 1rem;
                color: #9190bb;
                font-weight: 500;
                margin: 1.3em 0 4em;
                opacity: 0.7;
            }
        }

        .btn-login {
            margin-top: 3rem;
            color: #fff;
            background: #4f5fbe;
            opacity: 1;
        }

        .login-side {
            img {
                width: 80%;
                object-fit: contain;
                object-position: bottom;
                position: absolute;
                bottom: 10%;
                left:auto;
                right: -9.5%;
                overflow: hidden;
                animation: bounce 16s linear infinite 2s;
            }
        }
    }
}

.workingSection {
    position: relative;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    .inner-workingSection {
        padding: 50px 50px 6rem;
         -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        box-shadow: 0 2px 5px 4px rgba(5, 3, 51, 0.1);

        .working-content{
            width: 40rem
        }

        img {
            vertical-align: middle;
            border-style: none;
            width: 35rem;
        }

        .working-content {
            article {
                color: #1d1d20;
                line-height: 2.2;
                font-size: 1.1rem;
                font-weight: lighter;
                padding: 2rem 0 0 0;
                font-family: roboto;
                width: 30rem;
            }
        }
    }
    background: url("./assets/images/partner-row2-3.png") no-repeat top right;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}


.section-container {
    padding: 0 2rem 5rem;
    background: rgba(5,3,51,0.03);
    box-shadow: rgba(5,3,51,.3);
    background: white;

    .superbOffers {
        padding: 0 0 40px 0;

        h3 {
        font-size: 1.6rem;
        padding: 10px 0;
        color: #4f5fbe;
        }

        .inner-superb {
        .superb-container-home {
                height: 100%;

                .img-holder {
                    height: 280px;
                    width: 100%;
                    margin: auto;
                    padding: 16px;
                }

                .content-holder {
                    height: 90%;
                    h2{
                        padding: "0 15px"
                    }
                    line-height: 2.5rem;
                    font-family: roboto;

                    .btn-invest2 {
                        padding: .61em 2em !important;
                        bottom: 2%;
                    }

                    .span-profit {
                        height: 23em;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .investment-plans{
        .inner-investment {
        .col-sm-12.col-md-6.col-lg-3.pb-2{
            min-width: 33%
        }
        .superb-container{
            .content-holder {
                padding-top: 25px;

                a {
                    color: #444;
                    font-weight: 400;
                    font-size: 1.1rem;
                    font-weight: 600;
                    text-decoration: none;
                    line-height: 25px;
                }

                p{
                    font-weight: 700;
                }
            }
        }
        
            
                 

            .row{
                text-align: center;
                display: flex;
                justify-content: center;

                .column{
                    margin: 1rem 1rem 0.2rem 1rem;
                    

                    h3{
                        font-weight: bolder;
                        color: #4F5FBE;
                        font-size: 1.7rem;
                        letter-spacing: 0.05rem;
                    }
                }

                .column2{
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                    color: #4F5FBE;
                    margin: 2rem;
                    margin-top: 1rem;

                    h5{
                    font-size: 1rem;
                    font-weight: 900;
                    cursor: pointer;
                    text-align: center;
                    justify-content: center;
                    display: contents;
                            span{
                                padding: 2px;
                                &:hover {

                                @include boxShadow($shadowBlack, 0, 0, 5px);
                            }
                        }

                    }

                }
            }
        }
    } 
}

.versa-plan {
    background: url("./assets/images/partner-row2-3.png") no-repeat right top;
    box-shadow: 0 -1px 5px 1px rgba(5, 3, 51, 0.1);
    .inner-plan {
        padding: 3rem 0 6rem 0;

        h4{
            font-family: roboto;
        }

        h5 {
            font-weight: 600;
            font-size: 1.2rem;
        }

        .leftDisplay {
            h3 {
                font-size: 1.2rem;
                font-family: roboto;
            }

        }
    }
}

.card-text {
    /* font-family: roboto; */
    font-size: 18px !important;
    /* line-height: 45px; */
    /* letter-spacing: 0.1rem; */
    line-height: 33px;
    color: #707070;
    font-weight: normal;
    text-align: center;
    word-spacing: 5px;
    text-align: center;
    text-justify: initial;
}

.card-title {
   font-family: roboto;
}

.header{
    box-shadow: none;
    z-index: 3;

    &.scrolled{
        @include boxShadow($shadowBlack, 0, 0, 5px);
    }

    nav {
        .login{
            box-shadow: none;
             &:hover {
                box-shadow: none
            }
        }
    }
}


.footer {

    .reg{
        word-spacing: 0.2rem;
        font-weight: 800;
        line-height: 1.5rem;
        padding-top: 4%;
        margin-left: 0.05rem;
        width: 70%;
        padding-bottom: 1%;
    }

    .footer-last{
        width: 92%;
        margin: 2em 43px 0;
       .last-child{
            :after {
                position: absolute;
                content: "";
                padding-left: 14px;
            }
        }
    }

    .inner-footer {
        padding: 20px 110px;
        li{
            a{
                font-weight: 900
            }
        }
        h3 {
            &:after {
                width: 20%;
            }
        }
        h6 {
            &:after {
                width: 24%;
            }
        }
        h5 {
            &:after {
                width: 39.5%;

            }
        }
    }
}

.invest-header {
    background: #4f5fbe;
    height: 20rem;
    padding: 40px 24px;
    margin-top: 5em;
    display: flex;
    align-items: center;

    .invest-header-thumb {
    width: 25rem;
    height: inherit;

        img{
            opacity: 0.45;
        }
    }

    .row{
        width: 100%;
        height: 100%;
        .col-md-3{
            display: flex;
            align-items: center;
        }
        .col-md-9{
            display: flex;
            align-items: flex-end;
            text-align: end;
            justify-content: flex-end;
            z-index: 2;

            .navigation-values{
                background-color: #8390DB;
                text-align: center;
                color: white;
                font-weight: 800;
                letter-spacing: 0.3px;
               padding: 5px 25px 5px 15px;
                /* box-shadow: 0.1px 1.5px #050333; */
                border-radius: 45px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0,0.45);

                span{
                    padding-right: 6%;
                    padding-left: 1%;
                }
            }
        }
    }

    .cover{
        background-color: #25AAE2;
        margin-left: 0;
    }
}

.relatedInvestType{
    margin: 0;
    padding: 2rem 45px 3em!important;

    .row{
        justify-content: center;
        margin-top: 4rem;
    }

    .col-md-4{
        max-width: 30%;
        min-height:20rem;

        .card{
            width:100%;
            height:100%;

            .card-body{

                .card-title{
                    line-height: 26px;
                    margin: 0;
                    font-size: 2.3rem;
                    letter-spacing: 0.1rem;
                }
                
                .card-text{
                    text-align:center;

                    h4{
                        color:#4f5fbe;
                        font-size:30px;
                        font-weight:bold;
                    }

                    h5{
                        font-size:17px;
                        font-weight:bold;
                    }

                    small{
                        color:#555;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    h3{
        font-size: 1.7rem;
        font-weight: 600;
        color: #4f5fbe;
        padding: 0;
        margin: 1.2rem;
    }
}

/*.investment-plans {
    padding: 7em 0 2em;
}*/
.prod-p-card i {
    background: #3f51b5 !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 3px !important;
    text-align: center;
    padding: 11px 0;
    font-size: 18px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 8px 15px rgba(62,57,107,.2);
    box-shadow: 0 8px 15px rgba(62,57,107,.2);
}
.comp-card i {
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    text-shadow: 0 6px 8px rgba(62,57,107,.18);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@media only screen and (max-width: 992px) {
    .header-navbar .navbar-wrapper .navbar-logo a img {
        display: block;
        width: 185px !important;
        margin-top: -20px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        padding: .7rem 1.1rem !important;
        font-size: .7rem;
    }
    .update-profile-form {
        padding: 1rem 0;
    }
    .update-profile-form .basic {
        padding: 20px 10px 5px;
    }
    .update-profile-form .basic h3 {
        font-size: .9rem
    }
    .ph-4 {
        margin-top: 1rem;
    }
    .update-profile-form .profile-image {
        width: 85px;
        height: 85px;
    }
}
.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile img {
    object-fit: cover;
    object-position: top center;
    height: 40px;
}
.update-profile-form .profile-image img {
    object-fit: cover;
    object-position: top center;
}
