/* You can add global styles to this file, and also import other style files */
/* @import 'assets/css/bootstrap.min.css';
@import 'assets/css/main.css'; */

@import './spinner.scss';
/* @import './skeleton.scss';

h3, h4, p {
    margin: 0 0 5px;
}

.card-layout {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
} */
.prod-p-card i {
    background: #3f51b5 !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 3px !important;
    text-align: center;
    padding: 11px 0;
    font-size: 18px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 8px 15px rgba(62,57,107,.2);
    box-shadow: 0 8px 15px rgba(62,57,107,.2);
}
.comp-card i {
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    text-shadow: 0 6px 8px rgba(62,57,107,.18);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@media only screen and (max-width: 992px) {
    .header-navbar .navbar-wrapper .navbar-logo a img {
        display: block;
        width: 185px !important;
        margin-top: -20px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        padding: .7rem 1.1rem !important;
        font-size: .7rem;
    }
    .update-profile-form {
        padding: 1rem 0;
    }
    .update-profile-form .basic {
        padding: 20px 10px 5px;
    }
    .update-profile-form .basic h3 {
        font-size: .9rem
    }
    .ph-4 {
        margin-top: 1rem;
    }
    .update-profile-form .profile-image {
        width: 85px;
        height: 85px;
    }
}
.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile img {
    object-fit: cover;
    object-position: top center;
    height: 40px;
}
.update-profile-form .profile-image img {
    object-fit: cover;
    object-position: top center;
}
