<div class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body list-vacancy">
                    <div *ngIf="!isLoading" class="row mb-4" >
                        <div class="col-xl-9 col-md-6 title-list">
                            <h3>Profile of {{user?.first_name}} {{user?.last_name}}
                            </h3>
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <a >
                                    <img class="" src="../../../../assets/images/icon/icons/Back-icon.png" (click)="cancelProfile()">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!isLoading" class="row mb-4">
                        <div class="col-sm-7">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Personal Information
                                    </h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table">
                                            <tr>
                                                <td class="table-font">Full Name:</td>
                                                <td>{{user?.first_name}} {{user?.last_name}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Email:</td>

                                                <td> {{user?.email}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Phone Number:</td>
                                                <td>{{user?.phone_number}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Date of Birth:</td>
                                                <td> {{user?.month_of_birth}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Gender:</td>
                                                <td>{{user?.gender}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Address:</td>
                                                <td>{{user?.home_address}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Country:</td>
                                                <td>{{user?.country}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Place of Work:</td>
                                                <td>{{user?.where_you_work}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Average <br>Monthly Income:</td>
                                                <td >{{user?.average_monthly_income | currency:'NGN':'symbol-narrow'}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Account Information</h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table">
                                            <tr>
                                                <td  class="table-font">Account Name:</td>
                                                <td>{{user?.account_name}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Account Number:</td>
                                                <td>{{user?.account_number}}</td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Bank:</td>
                                                <td>{{user?.bank_name}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header">
                                    <h5>Settings Information</h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table">
                                            <tr>
                                                <td  class="table-font">Receive updates on new Plans?</td>
                                                <td *ngIf="user?.updates_on_new_plans==true"><label class="label label-primary">Yes</label></td>
                                                <td *ngIf="user?.updates_on_new_plans==false"><label class="label label-danger">No</label></td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">Send E-mail updates on investment?</td>
                                                <td *ngIf="user?.email_updates_on_investment_process==false"><label class="label label-danger">No</label></td>
                                                <td *ngIf="user?.email_updates_on_investment_process==true"><label class="label label-primary">Yes</label></td>
                                            </tr>
                                            <tr>
                                                <td  class="table-font">User's Status:</td>
                                                <td *ngIf="user?.email_is_verified==1"><label class="label label-success">User is Active</label></td>
                                                <td *ngIf="user?.email_is_verified==0"><label class="label label-danger">User is not Active</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="!isLoading" class="row mb-4">
                        <div *ngIf="userInvestment" class="col-lg-7 col-sm-12 col-xs-12">
                            <div [ngStyle]="{'display': (i == 0) ? 'block' : 'none'}" class="card investment-card  py-3" *ngFor="let investments of userInvestment; let i = index">
                                <div class="row px-2">
                                    <div class="col-lg-4 col-md-6 col-6 no-gutters">
                                        <div class="row">
                                            <div class="col-5 information">Principal: </div>
                                            <div class="col-7 information">  {{ investments?.investment_amount * dashboardInvestment[i]?.number_of_pools  | currency:'NGN':'symbol-narrow' }}</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-6 no-gutters">
                                        <div class="row">
                                            <div class="col-5 information">ROI: </div>
                                            <div class="col-7 information">{{investments?.estimated_percentage_profit}}%</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-12 pt-lg-0 pt-2 no-gutters">
                                        <div class="row">
                                            <div class="col-7 information">Expected Returns: </div>
                                            <div class="col-5 information">{{ (investments?.investment_amount * dashboardInvestment[i]?.number_of_pools) + (((investments?.investment_amount * dashboardInvestment[i]?.number_of_pools) * (calculateEstimate(investments?.expected_return_amount,investments?.investment_amount,investments?.expected_return_period)))/100)  | currency:'NGN':'symbol-narrow'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!userInvestment" class="col-lg-7 col-sm-12 col-xs-12">
                            <p class='displayStatus investment-card2 py-3'>"No Current Investment Found."</p>
                        </div>

                        <div class="col-sm-12 col-lg-5 col-xs-12 d-flex flex-row">
                            <span class="col-6 ">
                                <button *ngIf="user?.email_is_verified==0" (click)="updateUser('enable')" class="text-center btn-lg btn-success">Activate User</button>
                                <button *ngIf="user?.email_is_verified==1" (click)="updateUser('')" class="text-center btn-lg btn-danger">Deactivate User</button>
                            </span>
                            <span class="col-6">
                                <button  (click)="delete(user)" class="text-center ml-lg-3 ml-sm-1 ml-md-4 btn-lg btn-danger">Delete User</button>
                            </span>
                        </div>

                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-12">

                            <div class="card" >
                                <h5 class="card-header" >Current Investment</h5>

                                <div  class="carousel slide" id="myCarousel" data-interval="false">

                                    <div class="container p-t-0 m-t-2 carousel-inner" style="max-width: 99%;">
                                        <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }} m-t-0" *ngFor="let investments of userInvestment; index as i;" >
                                           <div class = "flex-row d-flex">
                                                <div class="col-4">
                                                    <div class="dt-responsive table-responsive">
                                                        <table class="table reduced-font">
                                                            <tr>
                                                                <td class="highlighted">Investment Title</td>
                                                                <td>{{investments?.title}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td  class="highlighted">Payback</td>
                                                                <td> {{ dashboardInvestment[i]?.investment_report?.length }} of   {{ divisorFunc(investments?.expected_return_period) }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td  class="highlighted">Amount Paid</td>
                                                                <td class="success">{{dashboardInvestment[i]?.investment_return[i]?.yielded_amount * dashboardInvestment[i]?.investment_report?.length  | currency:'NGN':'symbol-narrow'}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                        <div class="dt-responsive table-responsive">
                                                            <table class="table reduced-font">
                                                                <tr>
                                                                    <td  class="highlighted">Cost</td>
                                                                    <td>{{investments?.investment_amount  | currency:'NGN':'symbol-narrow'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td  class="highlighted">Last Payment</td>
                                                                    <td>{{ dashboardInvestment[i]?.investment_report[dashboardInvestment[i]?.investment_report?.length -1]?.created_at | date :  "dd.MM.y"}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td  class="highlighted">Amount Pending</td>
                                                                    <td class="pending">{{ ((((investments?.investment_amount * dashboardInvestment[i]?.number_of_pools) * (calculateEstimate(investments?.expected_return_amount,investments?.investment_amount,investments?.expected_return_period)))/100)) - (dashboardInvestment[i]?.investment_return[i]?.yielded_amount* dashboardInvestment[i]?.investment_report?.length)  | currency:'NGN':'symbol-narrow' }}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                </div>
                                                <div class="col-4">
                                                        <div class="dt-responsive table-responsive">
                                                            <table class="table reduced-font">
                                                                <tr>
                                                                    <td  class="highlighted">Slot(s)</td>
                                                                    <td>{{dashboardInvestment[i]?.number_of_pools}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td  class="highlighted">Next Payment</td>
                                                                    <td>{{ addMonth(dashboardInvestment[i]?.investment_report[dashboardInvestment[i]?.investment_report.length -1].created_at.split(' ')[0], dashboardInvestment[i])  | date:  "dd.MM.y" }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td  class="highlighted">Termination Date</td>
                                                                    <td>{{investments?.investment_close_date}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                </div>
                                           </div>
                                       </div>

                                    </div>
                                    <div *ngIf="!userInvestment" >
                                        <p class='displayStatus'>"No Current Investment Found."</p>
                                   </div>
                                    <div *ngIf= "userInvestment?.length > 0" class="container" >
                                        <div class="row">
                                            <div class="col-sm-12 text-center mb-4">
                                                <a class="px-1 btn-outline-info carousel-control left"  href="#myCarousel" data-slide="prev" title="back">
                                                    <i class="fa fa-lg  fa-circle"></i>
                                                </a>
                                                <a class="btn-outline-secondary carousel-control right" href="#myCarousel" data-slide="next" title="forward">
                                                    <i class="fa fa-lg fa-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row mb-4" *ngIf="!isLoading">
                        <div class="col-sm-12">
                            <div class="card">
                                <h5 class="card-header">Investment Report</h5>

                                <div class="card-block">
                                    <div class="dt-responsive table-responsive table-wrapper-scroll-y custom-scrollbar">
                                        <table id="investmentTable" class="table appTable table-striped nowrap">
                                            <thead>
                                            <tr>
                                                <th style="width: 5%">S/N</th>
                                                <th style="width: 15%">Investment Title</th>
                                                <th style="width: 15%">Payback Frequency</th>
                                                <th style="width: 15%">Amount Credited</th>
                                                <th style="width: 15%">Yield Amount</th>
                                                <th style="width: 10%">Balance</th>
                                                <th style="width: 15%">Status</th>
                                                <th style="width: 10%">Date Paid</th>
                                            </tr>
                                            </thead>
                                            <tbody [ngStyle]="{'display': (i == 0) ? 'contents' : 'none'}" *ngFor="let investments of dashboardInvestment;index as i">
                                                <tr  *ngFor="let report of investments?.investment_report | paginate: { itemsPerPage: pageValue, currentPage:p2, id: 'second'};index as i">
                                                        <td style="width: 5%">{{report?.index}}</td>
                                                        <td style="width: 15%">{{report?.title}}</td>
                                                        <td style="width: 15%">{{investments?.investment[0]?.expected_return_period}}</td>
                                                        <td style="width: 15%">{{investments?.investment_return[0]?.yielded_amount  | currency:'NGN':'symbol-narrow'}}</td>
                                                        <td style="width: 15%">{{investments?.investment_return[0]?.yielded_amount * report?.index | currency:'NGN':'symbol-narrow'}}</td>
                                                        <td style="width: 10%">{{ (divisorFunc(investments?.investment[0]?.expected_return_period) * investments?.investment_return[0]?.yielded_amount) - (investments?.investment_return[0]?.yielded_amount * report?.index) | currency:'NGN':'symbol-narrow'}}</td>
                                                        <td style="width: 15%"> On-going </td>
                                                        <td style="width: 10%">{{report?.created_at | date :  "dd.MM.y"}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div *ngIf="dashboardInvestment?.length == 0" >
                                            <p class='displayStatus'>"No records found."</p>
                                       </div>
                                        <div  class="col-12  d-flex flex-row">
                                            <pagination-controls class="col-md-11 col-xs-11 px-0" (pageChange)="p2 = $event" id='second'></pagination-controls>
                                            <span class="col-md-1 col-xs-1 px-0">
                                                <select class="ml-lg-2 ml-md-2 py-2 px-2 input-control" data-type="itemsPerPage" (change) = setItemsPerPage(page.value) #page>
                                                    <option value="5"> 5 rows </option>
                                                    <option value="10"> 10 rows </option>
                                                    <option value="20"> 20 rows </option>
                                                    <option value="0"> view all </option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row mb-4" *ngIf="!isLoading">
                        <div class="col-sm-12">
                            <div class="card">
                                <h5 class="card-header">Investment History</h5>

                                <div class="card-block">
                                    <div class="dt-responsive table-responsive table-wrapper-scroll-y custom-scrollbar">
                                        <table class="table appTable table-striped nowrap">
                                            <thead>
                                            <tr>
                                                <th style="width: 5%">S/N</th>
                                                <th style="width: 15%">Investment Title</th>
                                                <th style="width: 10%">Category</th>
                                                <th style="width: 10%">Cost</th>
                                                <th style="width: 10%">No of Slots</th>
                                                <th style="width: 10%">Duration</th>
                                                <th style="width: 10%">Returns</th>
                                                <th style="width: 10%">Period</th>
                                                <th style="width: 10%">Amount</th>
                                                <th style="width: 10%">Status</th>
                                                <th style="width: 10%">Date Added</th>
                                            </tr>
                                            </thead>
                                            <tbody  *ngIf="FilteredInvestment?.length > 0">
                                                <tr *ngFor="let investments of FilteredInvestment | paginate: { itemsPerPage: pageValue, currentPage:p, id: 'first'};
                                                index as i">
                                                    <td style="width: 5%"> {{i+1}}</td>
                                                    <td style="width: 15%">{{investments?.title}}</td>
                                                    <td style="width: 10%" >{{getCategoryName(investments?.category_id)}}</td>
                                                    <td style="width: 10%" >{{investments?.investment_amount  | currency:'NGN':'symbol-narrow'}}</td>
                                                    <td style="width: 10%">{{dashboardInvestment[i]?.number_of_pools}}</td>
                                                    <td style="width: 10%">{{investments?.duration}}</td>
                                                    <td style="width: 10%">{{calculateEstimate(investments?.expected_return_amount,investments?.investment_amount,investments?.expected_return_period)}}%</td>
                                                    <td style="width: 10%">{{investments?.expected_return_period}}</td>
                                                    <td style="width: 10%">{{investments?.investment_amount*dashboardInvestment[i]?.number_of_pools  | currency:'NGN':'symbol-narrow'}}</td>
                                                    <td style="width: 10%">Completed</td>
                                                    <td style="width: 10%">{{investments?.created_at | date :  "dd.MM.y"}}</td>
                                                </tr>

                                            </tbody>

                                        </table>
                                        <div *ngIf="FilteredInvestment?.length == 0" >
                                               <p class='displayStatus'>"No records found."</p>
                                        </div>

                                        <div  class="col-12  d-flex flex-row">
                                            <pagination-controls class="col-md-11 col-xs-11 px-0" (pageChange)="p = $event" id='first'></pagination-controls>
                                            <span class="col-md-1 col-xs-1 px-0">
                                                <select class="ml-lg-2 ml-md-2 py-2 px-2 input-control" data-type="itemsPerPage" (change) = setItemsPerPage(page2.value) #page2>
                                                    <option value="5"> 5 rows </option>
                                                    <option value="10"> 10 rows </option>
                                                    <option value="20"> 20 rows </option>
                                                    <option value="0"> view all </option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
                <div *ngIf="isLoading" class="lds-default">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
