input:disabled {
    color: rgb(16, 2, 2);
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: white;
    width: 100%;
    padding: 0;
}

img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.table-font {
    font-weight: bold;
}

.title-list h3 {
    color: #221F72;
    font-weight: 600;
}

.card-header h5 {
    color: #221F72;
    font-size: 0.80rem;
    letter-spacing: .04rem;
}


.investment-card {
    background-color:whitesmoke;
    padding-bottom: 1.20rem;
    padding-top: 1.20rem;

}

.spacing{
    margin-right: 8rem;
}


table .pending {
    color: red;
}

table .success {
    color:  green;
}

h5 {
    font-size: 0.80rem;
    letter-spacing: .04rem;
    font-family: roboto;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    color: #221F72;
}

th {
    font-size: 0.80rem;
    letter-spacing: .04rem;
    font-family: roboto;
    font-weight: 900;
    cursor: pointer;
    justify-content: center;
    color: #221F72;

}

.table-striped td {
    font-size: bold;
    text-align: center;
}

.table-striped th {
    font-size: bold;
    text-align: center;
}


.highlighted {
    font-size: 0.80rem;
    color: #221F72;
    font-family: roboto;
    letter-spacing: .04rem;
    font-weight: 800;
    cursor: pointer;
    border: none;
    padding: 4px;
}


.card .information {
    font-size: 0.75rem;
    font-family: roboto;
    font-weight: 800;
    cursor: pointer;
    border: none;
    padding: 0.50rem;
}

.btn-danger {
    width: 100%;
    background-color: #F2533A;
    border-radius: 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: white;
    padding-right: 3rem;
    padding-left: 3rem;
}

.btn-success {
    width: 100%;
    border-radius: 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: white;
    padding-right: 3rem;
    padding-left: 3rem;
}


.my_pagination /deep/ .ngx-pagination {
    display: inline-flex;
    flex: content;
}

.displayStatus {
    color: red;
    justify-content: center;
    text-align: center;
    font-family: roboto;
    letter-spacing: .04rem;
    font-weight: 500;
    padding: 0.5rem;
}

@media only screen and (max-width: 935px) {
    .spacing {
        margin-right:0rem;
    }
    .btn-lg {
        padding: 14px 17px;
        font-size: 16px;
        line-height: 28px;
    }
}



