@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.landing {
    background-size: cover;
    height: 80%;
    margin-top: 5%;
<<<<<<< HEAD
	margin-bottom: 10%;
	
	.inner-landing{
		h2{
			font-size: 3.6rem;
		}
	}
        
    .lower-content{
		font-size: 1.1rem !important;
        line-height: 42px !important;
        letter-spacing: 1.2px;
		text-align: justify;
    }

    .col-md-6{
		padding-left: 3% !important;
		max-width: 45%;
=======
    margin-bottom: 10%;
        
    .lower-content{
        line-height: 60px !important;
        letter-spacing: 1px;
    }

    .col-md-6{
        padding-left: 3% !important;
>>>>>>> signin/signup page revamp
    }

    .col-md-5{
        display: flex;
        min-width: 50%;
        margin-left: -5%;

        .circle {
<<<<<<< HEAD
            width: 60%;
=======
            width: 55%;
>>>>>>> signin/signup page revamp
            height: 100%;
            background: url("../../assets/images/rename.svg") no-repeat right;
            background-size: contain;
            margin-top: 20%
        }

        .circle2 {     
<<<<<<< HEAD
            width: 60%;
            height: 70%;
=======
            width: 55%;
            height: 65%;
>>>>>>> signin/signup page revamp
            background: url("../../assets/images/mobile.svg") no-repeat right;
            background-size: contain;
            margin: -10%;
            margin-top: 5%;
        }
    }
}

.step-investment {
			padding: 2rem 0 4rem 0;
			background: url("../../assets/images/partner-row2-3.png") no-repeat top right;
			-webkit-transform: rotate(-180deg);
			transform: rotate(-180deg);
			background-color: #3f51b5;
			.row{
					width: 85%;
					margin: auto;
					-webkit-transform: rotate(-180deg);
					transform: rotate(-180deg);
			}

			.step-image {
			background-size: contain;
			width: 100%;
			height: 30rem;
			}

			.list-plan {
			color: #fff;
			margin-top: 0rem;

					h3{
							font-size: 1.8em;
					}

					h5 {
					font-weight: 600;
					font-size: 1.2rem;
					}

				.media-body {
							font-size: 1.2rem;
							font-weight: lighter;
							margin: 0.5rem;
							margin-left: 2rem;
					}
			}
	}