
.shadow {
    -moz-box-shadow:    -1px -1px 1px 1px #495057;
    -webkit-box-shadow: -1px -1px 1px 1px #495057;
    box-shadow: -1px -1px 1px 1px #495057;
}

.bg_filter{
    background-color: #D0D0D5;
}

.custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

a .setting {
    width: 40px;
    height: 35px;
}

.table-wrapper-scroll-y {
    display: block;
}

.input-control {
    display: block;
    width: 100%;
    color: #495057;
    box-shadow: 2px 3px 2px 0px rgba(73, 80, 87, 0.25);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid ;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

label,th {
    color: #221F72;
    font-size: 14px;
    font-weight: bold;
}

div > a > img {
    width: 50px;
    height: 50px;
    padding: 0.5rem;
}

div > a {
    color: #221F72;
    font-weight: bold;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom-width: 2px;
    border-bottom-color: #221F72
}

td {
    border-color: #221F72
}

.col-md-12 {
	display: flex;
	flex-flow: column;
	width: 100%;
}
.col-md-12 .card {
	padding: 0 20px;
}
.col-md-12 .card-block {
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;  // Safari and Chrome
	}
}

.width {
    width: 25%;
}


.card .card-block p {
	margin-bottom: 0px;
	line-height: 3;
}

.col-md-12 .card-header {
	margin: 10px 15rem 0px 1rem;
	padding: 10px 0px 0px 0px;
	font-size: 20px;

	::after{
		background-color: transparent;
	}
}

.category-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #221f72;
    border-width: 1.5px;
    margin: 0px;
    padding: 0px;
}

.category-header p {
    color: #221f72;
    padding: 0;
    margin: 0;
    padding-right: 4px;
}

.category-body .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 0.5px;
    border-bottom-color: #221F72;
    margin: 0px;
    padding: 0px;
}

.category-body .row1 p{
    padding: 0;
}

.s-n, .category-name {
    flex: 1 1 30em;
    margin-left: 10px;
}

.category-body .row1 p{
    padding: 0;
}
