<section class="login-section">
        <div class="inner-login">
            <div class="row">
                <div class="col-md-6">
                    <div class="login-form">
                        <h3>Sign up for an account, </h3>
                        <p>You'll be done in a moment</p>
                        <form action="">
                            <div class="form-group">
                                <label for="firstname" class="sr-only">First Name</label>
                                <input type="text" [(ngModel)]="user.first_name" placeholder="First Name" name="firstname" class="form-control" id="firstname">
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="sr-only">Last Name</label>
                                <input type="text" [(ngModel)]="user.last_name" placeholder="Last Name" name="lastname"  class="form-control" id="lastname">
                            </div>
                            <div class="form-group">
                                <label for="useremail" class="sr-only">Email Address</label>
                                <input type="email" [(ngModel)]="user.email" placeholder="E-mail" name="useremail"  class="form-control" id="useremail">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="userpass" class="sr-only">Password</label>
                                    <input type="password" [(ngModel)]="user.password" placeholder="Enter Password" name="password"  class="form-control remBorder" id="userpass">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text tran">show</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="confuserpass" class="sr-only">Confirm Password</label>
                                    <input type="password" placeholder="Confirm Password" [(ngModel)]="passwordConfim" name="confirm-password" class="form-control remBorder" id="confuserpass">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text tran">show</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                    <button class="btn2 btn btn-raised btn-login" (click)="signUp()" [promiseBtn]="isSubmitting">{{signUpText}}</button>
                                <!-- <input type="button" (click)="signUp()" class="btn2 btn-login" value="NEXT &#8594;" id=""> -->

                            </div>
                        </form>
                    </div>
                </div>
                <div class="hor-divider"></div>
                <div class="col-md-6">
                    <div class="social-login">
                        <div class="form-group">
                            <a class="btn btn-block btn-lg btn-social btn-yahoo">
                                <span class="fab fa-yahoo f-13"></span> Sign up with Yahoo!
                            </a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-block btn-lg btn-social btn-linkedin">
                                <span class="fab fa-linkedin f-13"></span> Sign up with LinkedIn
                            </a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-block btn-lg btn-social btn-google">
                                <span class="fab fa-google f-13"></span> Sign up with Google
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>