<section class="work-header">
    <div class="inner-work">
    <h3>Frequently Asked Questions</h3>
        <div class="col-md-9">
            <div class="invest-header-text">
                <div class="navigation-values">Homepage <span> ></span>FAQ</div>
            </div>
    </div>
    </div>
</section>
<section class="faq-section" style="padding: 4em !important;padding-bottom: 8em !important;">
  <div class="inner-faq">
    <h1>About Versa</h1>
      <div class="accordion">
          <div class="accordion-item">
              <a>What is versa? And how does it work?</a>
              <div class="content">
                  <p>
                      versa.ng is an online investment platform. We help you plan your financial goals and recommend well researched investment choices, so that you save time and gain peace of mind, knowing that your money is working for you.
                  </p>
              </div>
          </div>
          <div class="accordion-item">
              <a>What Investment does VERSA offer?</a>
              <div class="content">
                  <p>
                      For each of your financial goals, Versa provides investment portfolio that you can choose from, whether you are more comfortable investing in Real Estate, Transportation or Agriculture, this portfolio strategy is designed explore potential growth in various  markets to help maximize expected returns while minimizing risk.
                  </p>
              </div>
          </div>
          <div class="accordion-item">
              <a>How can I get help when I need it?</a>
              <div class="content">
                  <p>
                      We work hard to offer many insightful resources and help articles to let you access the help you need. We also have a knowledgeable Customer Support Team available seven days a week to help answer your questions about Versa and your account. We offer support via phone, email, and mobile messaging. Sign up today to get started and contact us with your additional questions.
                  </p>
              </div>
          </div>
          <div class="accordion-item">
              <a>What is the experience of the team of Versa.ng</a>
              <div class="content">
                  <p>
                      16 years experience in Information Technology industry <br>
                      6 years e-commerce expertise <br>
                      12 years financial management expertise

                  </p>
              </div>
          </div>
      </div>
  </div>
</section>