
.invest-header-thumb {
        opacity: 0.9;

        img{
           border-radius: 0;
           opacity: 0.9;
        }
}

.investment-plans .over-content h3 {
   font-size: 16px !important;
}

.investment-plans .inner-investment .main-invest-card .row .other-info h5 {
   font-size: 16px !important;
}

.investment-plans .inner-investment .main-invest-card .row .other-info article {
   font-size: 13px !important;
   line-height: 26px !important;
   letter-spacing: 0px !important;
}

.investment-plans .inner-investment .main-invest-card .side-details .invest-thumbnail {
   height: 150px !important;
}

.investment-plans .inner-investment .main-invest-card .side-details .content-detail h3 {
   font-size: 16px !important;
   letter-spacing: none !important;
}

.investment-plans .inner-investment .main-invest-card .side-details .content-detail > div span {
   font-size: 14px !important;
   color: black !important;
}

.investment-plans .content-detail > div {
   font-size: 14px !important;
   color: black !important;
}

.investment-plans .relatedInvestType h3 {
   font-size: 15px !important;
}

.invest-header {
   height: 300px;
   padding: 4px;
   margin-top: 5em;
   background: url('../../../../assets/image/slide3.png') no-repeat center;
   background-size: cover;
}

.modal-dialog .modal-content {
   border-radius: 10px !important;
}

.btn {
   border-radius: 10px;
   color: white !important;
   text-transform: capitalize;
   font-size: 14px;
   padding: 9px 50px;
   cursor: pointer;
}

.btn-outline-primary {
   border-color: #4f5fbe !important;
}

.btn1 {
   border-radius: 10px;
   background-color: white;
   color: #4f5fbe !important;
   text-transform: capitalize;
   font-size: 14px;
   padding: 9px 50px;
   cursor: pointer;
}

.btn-color {
   background-color: #4f5fbe;
}

a:hover {
   color: inherit !important;
   background-color: #f9f9fa;
}

.card-body p {
   color: black;
}

 .main-invest-card{
    text-align: left;
 }


.invest-header{
 padding-top: 2rem;
 .col-md-9{
   display: flex;
   justify-content: flex-end;

   .invest-header-text {
     padding: 1px 20px;
     width: 15rem;
   }
}
}



.modal-dialog{
   text-align: center;

   .modal-content{
      border-radius:2rem;

      .modal-footer{
         .btn{
            &.btn-secondary{
               border-radius: 45px;
               box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.45);
            }

            &.btn-join-add{
               border-radius: 45px;
               box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.45);
               background-color: #3f51b5;
            }
         }
      }
   }


}

 .investment-plans{

         .join-modal{
            h3{
               text-align: center;
               color: #3f51b5;
               font-size: 1rem;
               font-weight: 600;
               margin-bottom: 15px;
               position: relative;
               letter-spacing: 0.05rem;
               &::after{
                  content: none;
               }
            }

            h5{
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.2px;
                line-height: 20px;
                letter-spacing: 0.05rem;
            }

            h4{
               text-align:center;
               margin-bottom:1.5em;
               font-size:1.4em;
               font-weight:550;

               &::after{
                  content: none;
               }
            }



            .modal-content {
               border-radius:2rem;
            }

         }

        .over-content{

            position:relative;
            vertical-align:middle;
            display:flex;
            justify-content:center;
            margin-top: 1rem;
            margin-bottom: 23px;

            h3{
                color:#4f5fbe;
                font-size:25px;
                text-align:center;
                font-weight:bold;
            }
        }

        .inner-investment {


            .main-invest-card{
                text-align: left;
               padding-top: 1rem;
               .col-md-7{
                  padding-left: 0;
                  max-width: 50.333333%;
               }
                .side-details{
                   padding-right: 0;
                   padding-left: 0;

                    .invest-thumbnail {
                        height: 250px;
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        img{
                           width: 80%;
                        }
                     }

                     .content-detail{

                        > div{
                           padding-left: 0;
                           text-align: center;

                           span{
                              font-size: 1.1rem;
                              color: #777;
                           }
                        }

                         h3 {
                           font-size: 1.7rem;
                           letter-spacing: 0.1rem;
                         }

                         img{
                            border:0;
                            padding: 0;

                         }
                     }
               }

                .row{
                    .col-md-7 {
                        margin: 0;
                        padding: 0;

                    }

                   .other-info{
                      padding-left: 0;
                     text-align: left;
                     color: #888;
                     font-size: 1rem;
                     font-weight: normal;

                     h5{
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: #333333d4;
                        position: relative;
                        margin-bottom: 1rem;
                        letter-spacing: 0.1rem;
                     }

                     h5::after{
                        content: none;
                     }

                     article{
                        font-size: 15px;
                        line-height: 2.5rem;
                        letter-spacing: 0.01rem;
                        text-align: justify;
                        font-family: roboto;
                        font-weight: 500;
                     }

                  }
                }
            }
        }

        .relatedInvestType{
         :nth-child(2){
            justify-content: flex-start;
          }

          .col-md-4{
          max-width: 33.333%;

            a {
              color: #444;
              font-weight: 400;
              font-size: 1.1rem;
              font-weight: 600;
              text-decoration: none;
              line-height: 25px;
              font-family: roboto;
              padding-top: 0;
              font-size: 1.2rem;
              letter-spacing: 1.5px;
            }

            h3 {
              color: #4f5fbe;
              font-weight: 700;
              font-size: 1.3rem;
              padding: auto;
              position: relative;
              font-family: roboto;
              letter-spacing: .2rem;

              &:after {
                content: none;
              }
            }

            .span-profit {
              padding: 12px 0;
              color: #555;
              font-weight: bold;
              font-family: roboto;
              letter-spacing: .1rem;
            }

            p {
              font-family: roboto;
            }
          }

          .img-holder {
            height: 190px;
            width: 90%;
            overflow: hidden;
            background: transparent;
            margin: auto;
            border-radius: inherit;

            img{
              object-fit: contain;
            }
          }
        }
   }


.card-img-top{
   height: 10rem;
    width: 80%;
   margin: auto;
}

.span-profit{
   font-weight: 600;
}

.join-modal .container {
   display: block;
   position: relative;
   padding-left: 30px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 15px;
   font-weight: 600;
   min-width: 20px;
   max-width: fit-content;
   margin: auto 0px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: roboto, sans-serif
}

 /* Hide the browser's default radio button */
 .container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }

 /* Create a custom radio button */
 .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #eee;
   border-radius: 50%;
   padding: 0px;
   margin-top: 1px;
 }

 /* On mouse-over, add a grey background color */
 .container:hover input ~ .checkmark {
   background-color: #ccc;
 }

 /* When the radio button is checked, add a blue background */
 .container input:checked ~ .checkmark {
   background-color: #2196F3;
 }

 /* Create the indicator (the dot/circle - hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* Show the indicator (dot/circle) when checked */
 .container input:checked ~ .checkmark:after {
   display: block;
 }

 /* Style the indicator (dot/circle) */
 .container .checkmark:after {
   top: 6px;
   left: 6.1px;
   width: 8px;
   height: 8px;
    border-radius: 50%;
    background: white;
 }

 .card{
   width: 100% !important;
}


.navigation-values{
   background-color: #8390DB;
   text-align: center;
   color: white;
   font-weight: 800;
   letter-spacing: 0.3px;
   padding: 10px 25px 10px 15px;
   /* box-shadow: 0.1px 1.5px #050333; */
   border-radius: 45px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0,0.45);

   span{
      padding-right: 6%;
      padding-left: 1%;
   }
}

.row1 {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: auto;
   margin-left: auto;
}

.header-padding{
   padding-top: 170px !important;
}

.coming{
   
   top: 2.5em;
   left: -2em;
   color: #fff;
   display: block;
   position: absolute;
   text-align: center;
   text-decoration: none;
   letter-spacing: .06em;
   background-color:  #4f5fbe;
   padding: 0.5em 4em 0.4em 4em;
   text-shadow: 0 0 0.75em #444;
   box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
   font: bold 16px/1.2em Arial, Sans-Serif;
   -webkit-text-shadow: 0 0 0.75em #444;
   -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
   -webkit-transform: rotate(-45deg) scale(0.75, 1);
   z-index: 10;
 }

 
.inactive{
   background-color: #33333324 !important;
 }

.header {
   color: white;
   font-size: 40px;
   padding-top: 130px;
   text-align: center;
}

@media (min-width: 1200px){
   .investment {
      padding-top: 5%;
    }
    
   .container {
       max-width: 84.064052749892em;
   }

}

@media screen and (max-width: 992px) {
   .invest-header {
      height: auto;
      padding: 2em 24px;
   }

   .hidden {
      display: none;
    }

   .header-center {
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
   }
}
 
 /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
   .investment {
      padding-top: 20%
   }

   .invest-header {
      height: auto;
      padding: 2em 24px;
   }

   .header-padding{
      padding-top: 30px !important;
   }
   
   .header{
      font-size: 35px;
   }
}

@media (min-width: 1000px) and (max-width: 1200px) {

	.investment {
		padding-top: 8%;
	}
}

@media (min-width: 500px) and (max-width: 1000px) {
	.investment {
		padding-top: 10%;
  }
}
