<section class="investment-plans">
  <div class="inner-investment">
      <div class="invest-banner">
          <div class="cover"></div>
          <div class="over-content">
              <h3>Uber Car Investment</h3>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-9">
              <div class="card shadowEffect">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="plan-image">

                              </div>
                              <h4>ENDS: 25-07-2019</h4>
                          </div>
                          <div class="col-md-7">
                              <div class="content-detail">
                                  <h3>₦300,000 per Investor</h3>
                                  <div><span><img src="" alt=""> 3 slots left</span></div>
                                  <div><span><img src="" alt=""> Investment period: </span> 12 Months</div>
                                  <div><span><img src="" alt=""> Return: </span>11 - 15% profit (Estimated)</div>
                                  <div><span><img src="" alt=""> Monthly return: </span>₦30,000</div>
                                  <div>
                                      <a href="#" data-toggle="modal" data-target="#exampleModalCenter"
                                         class="btn2 btn-join">Invest Now</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card shadowEffect mt-3">
                  <div class="card-body other-info">
                      <h5 class="card-title">Investment Description</h5>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, aut. Fugit neque error
                          nihil
                          quis temporibus veritatis velit consequuntur illum harum adipisci ducimus explicabo,
                          voluptate
                          nemo, aperiam cum, minima saepe.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, cupiditate totam. Quod
                          provident
                          assumenda, quo error, veritatis modi laudantium numquam sint quas velit repellat labore
                          fugiat
                          doloremque eos minus ab.
                      </p>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, aut. Fugit neque error
                          nihil
                          quis temporibus veritatis velit consequuntur illum harum adipisci ducimus explicabo,
                          voluptate
                          nemo, aperiam cum, minima saepe.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, cupiditate totam. Quod
                          provident
                          assumenda, quo error, veritatis modi laudantium numquam sint quas velit repellat labore
                          fugiat
                          doloremque eos minus ab.
                      </p>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, aut. Fugit neque error
                          nihil
                          quis temporibus veritatis velit consequuntur illum harum adipisci ducimus explicabo,
                          voluptate
                          nemo, aperiam cum, minima saepe.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, cupiditate totam. Quod
                          provident
                          assumenda, quo error, veritatis modi laudantium numquam sint quas velit repellat labore
                          fugiat
                          doloremque eos minus ab.
                      </p>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, aut. Fugit neque error
                          nihil
                          quis temporibus veritatis velit consequuntur illum harum adipisci ducimus explicabo,
                          voluptate
                          nemo, aperiam cum, minima saepe.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, cupiditate totam. Quod
                          provident
                          assumenda, quo error, veritatis modi laudantium numquam sint quas velit repellat labore
                          fugiat
                          doloremque eos minus ab.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-3 top-m-t">
              <div class="card bg-transparent">
                  <div class="card-body pt-0">
                      <h5 class="card-title" style="text-align: center; color: #333333da; font-size: 1.53rem"><strong>Top
                          Offers</strong></h5>
                      <div class="top-offers">
                          <a href="investment-details.html">
                              <div class="superb-container mb-4">
                                  <div class="img-holder">
                                      <img src="../assets/images/notcard.png" alt="image">
                                  </div>
                                  <div class="content-holder">
                                      <h2><a href="investment-details.html">Uber Car Investment</a></h2>
                                      <h3>₦30,000</h3>
                                      <span class="span-profit">11 - 15% Profit <br> (Estimated)</span>
                                      <p>12 Months</p>
                                  </div>
                              </div>
                          </a>
                          <a href="investment-details.html">
                              <div class="superb-container">
                                  <div class="img-holder">
                                      <img src="../assets/images/notcard.png" alt="image">
                                  </div>
                                  <div class="content-holder">
                                      <h2><a href="investment-details.html">Uber Car Investment</a></h2>
                                      <h3>₦30,000</h3>
                                      <span class="span-profit">11 - 15% Profit <br> (Estimated)</span>
                                      <p>12 Months</p>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" style="margin-top: 7em !important;" id="exampleModalCenter" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <!--<div class="modal-header">
                  &lt;!&ndash;<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>&ndash;&gt;
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>-->
              <div class="modal-body">
                  <div class="join-modal">
                      <h3>Join Investment</h3>
                      <h4>Uber Car</h4>

                      <div class="form-group">
                          <div class="row">
                              <div class="col-md-5">
                                  <label class="pt-1" for="slotNum">How many slots?</label>
                              </div>
                              <div class="col-md-7">
                                  <select name="" id="slotNum" class="form-control">
                                      <option value="" hidden>Select</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="updates">
                              <input type="checkbox" id="updates">Send me updates on investment
                          </label>
                      </div>
                      <div class="form-group">
                          <label for="updatesP">
                              <input type="checkbox" id="updatesP">Updates on upcoming plans
                          </label>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success">Join</button>
              </div>
          </div>
      </div>
  </div>
</section>