.login-section {
    padding: 0;
    background: $offwhite;
    height: 100%;
    overflow: hidden;

    .outerContainer {
        margin: 0 auto;
        min-height: 100vh;
        display: -webkit-box;
        /* display: flex; */
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
    }
    .inner-login {
        width: 100%;
        margin: 0 auto;
        height: auto;
        //padding: 15px;
        position: relative;
        background: $theme-white;

        .divider {
            background: url("../../../assets/images/line.svg") no-repeat right;
            background-size: contain;
            width: 100%;
            height: 100%;
        }

        .login-side {
            background: $theme-blue;
            //height: 100vh;
            img {
                width: 68%;
                object-fit: contain;
                object-position: bottom;
                position: absolute;
                bottom: 37px;
                right: -8px;
                overflow: hidden;
                animation: bounce 16s linear infinite 2s;
            }
        }

        .d-text {
            background: $theme-white;
            color: #888;
            position: absolute;
            padding: 10px 14px;
            left: 46.7%;
            top: 45%;
            text-align: center;

            &.left {
                left: 47%;
            }
        }

        .login-form, .otp-form {
            //padding: 2rem 15px 0 2rem;
            max-width: 400px;
            width: 100%;
            padding: 40px 30px;
            background: #fff;
            position: relative;
            border-radius: 4px;
            h3 {
                font-size: 1rem;
                color: #221F72;
                font-weight: lighter;
                margin: 1.3em 0 3em;
            }

            p {
                font-size: 16px;
                color: #888;
            }

            .form-control {
                height: 3.5em;
                padding: .5em 5px;
                background: $theme-white;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid #4f5fbe;

                &.remBorder {
                    border-right: 0;
                }
            }

            .input-group-prepend {
                background: $theme-white;

                > .input-group-text {
                    font-weight: lighter;
                    border: 0;
                    color: #4f5fbe;
                    border-radius: 0;
                    border-bottom: 1px solid #4f5fbe;
                }
            }

            .otherInfo {
                padding: 2em 3px;
                text-align: center;

                a {
                    text-decoration: underline;
                }

                p {
                    color: #888;
                    font-size: 13px;
                    font-weight: lighter;

                    &:first-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .social-login {
            padding: 7em 14px;

            .input-group-text {
                font-size: 17.5px;
            }

            @include socialButtons();
        }

        @include fullButtons();
    }
}
