.invest-header {
    background: $theme-blue !important;
    height: 250px;
    padding: 10px 24px;
    margin-top: 5em;
    display: flex;
    align-items: center;
    .invest-header-thumb {
        width: 100%;
        height: inherit;
        img {
            width: inherit;
            height: inherit;
            object-fit: contain;
            object-position: center;
            border-radius: 10px;
        }
    }
    .invest-header-text {
        padding: 0 20px;
        article {
            font-size: 1.2em;
            font-weight: normal;
            line-height: 30px;
            color: $theme-white;
        }
    }
}

.work-header {
    //background-image: linear-gradient(104deg, #4F5FBE -8%, #b4b3c2 51%, #454688 105%);
    height: 300px;
    padding: 4px;
    margin-top: 5em;
    background: url("../../../assets/images/how-it-works-banner.jpg") no-repeat center;
    background-size: cover;

    .inner-work {
        display: flex;
        justify-content: center;

        h3 {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            font-size: 4em;
            font-weight: bold;
            color: $theme-blue;
            margin: 0;
            text-shadow: 0 1px 0 rgba(0, 0, 0, .9);
        }
    }
}

.investment-plans {
    padding: 2em 0 2em;
    //background: $offwhite;
    .main-invest-card {
        background: $theme-white;
        @include boxShadow(2px, 3px, 10px, $shadowBlack);
        border-radius: 5px;

        .side-details {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .invest-thumbnail {
                height: 200px;
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    border-radius: 10px;
                    height: inherit;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }

    .invest-outer-header {
        padding: 0 0 3em;

        h3 {
            text-align: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            color: $theme-blue;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px 0;
        }

        li {
            padding: 5px 10px;
            position: relative;
            font-size: 20px;
            font-weight: 400;
            color: $theme-blue;
            cursor: pointer;

            &:after {
                content: "|";
                position: absolute;
                margin-left: 9px;
                color: $theme-blue;
            }

            &.active {
                font-weight: bold;
            }
        }
    }

    .m-b2 {
        margin-bottom: 30px;
    }

    .inner-investment {
        padding: 0 45px 3em;

        select.form-control {
            height: 3em !important;
            background: $theme-blue;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            color: $theme-white;
            font-weight: lighter;
            font-size: 17px;
            outline: 0;

            &:focus {
                @include borderLine(1px, rgba($theme-blue, .2));
            }
        }

        .superb-container {
            height: 420px;
            border-radius: 9px;
            background: $theme-white;
            @include boxShadow(0, 5px, 14px, $shadowBlack);

            &.effect {
                @include boxShadow(0, 5px, 14px, $shadowBlack);
                height: 500px;
            }

            .img-holder {
                height: 190px;
                width: 100%;
                overflow: hidden;
                background: $offwhite;
                margin: auto;
                border-radius: inherit;

                img {
                    width: inherit;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .content-holder {
                padding: 15px;
                text-align: center;

                h2, a {
                    color: #444;
                    font-weight: 400;
                    font-size: 1.3rem;
                    text-decoration: none;
                    line-height: 25px;

                    &:hover {
                        text-decoration: none;
                    }
                }

                h3 {
                    color: $theme-blue;
                    font-weight: 700;
                    font-size: 1.3rem;
                    padding: 3px 0 10px;
                    position: relative;

                    &:after {
                        content: "";
                        border-bottom: 1px solid #000;
                        width: 25%;
                        position: absolute;
                        margin: auto;
                        right: 35%;
                        top: 85%;
                        bottom: 0;
                        height: 1px;
                    }
                }

                .span-profit {
                    padding: 12px 0;
                    color: #555;
                    font-weight: bold;
                }

                p {
                    margin-top: .51rem;
                    font-style: normal !important;
                    color: #888;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }

            &:hover {
                @include boxShadow(0, 5px, 14px, $shadowBlack);
                @include transition(ease, 0.7s);
            }
        }
    }

    .relatedInvestType {
        padding: 0 45px 3em;
        h3 {
            text-align: left;
            font-size: 1.5rem;
            font-weight: 600;
            color: $theme-blue;
        }
        .card {
            width: 18rem;
            .card-body {
                .card-title {
                    text-align: center;
                    color: #4c4c4e;
                    font-weight: bold;
                    line-height: 24px;
                    margin: 0;
                }
                .card-text {
                    text-align: center;
                    h4 {
                        color: $theme-blue;
                        font-weight: bold;
                    }
                    h5 {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    small {
                        color: #555;
                    }
                }
            }
        }
    }

    .card {
        border: 0 !important;
    }

    .shadowEffect {
        border-radius: 7px;
        @include boxShadow(0, 0, 8px, rgba($theme-black, .09));
    }

    .invest-banner {
        width: 100%;
        //height: 300px;
        //background: gray;
        //background: url("../images/invest-detail.jpeg") no-repeat center;
        background-size: cover;
        border-radius: 5px;
        position: relative;
    }

    h4 {
        color: #c86466;
        padding: 12px 0 0;
        text-align: center;
        font-weight: 400;
    }

    .over-content {
        position: relative;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        h3 {
            color: $theme-blue;
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
        }
    }

    .plan-image {
        width: inherit;
        height: 300px;
        border-radius: 8px;
        background: #798fce;
    }

    .content-detail {
        padding: 15px 5px;

        h3 {
            font-size: 1.3rem;
            color: #3f51b5;
            font-weight: bold;
            margin: 0;
            text-align: center;
        }

        > div {
            font-size: 1rem;
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: left;
            padding-left: 4em;
            color: #999;
            font-weight: bold;
            .btn-join {
                width: 100%;
            }

            span {
                color: #777;

                img {
                    width: 20px;
                    height: 20px;
                    background: gray;
                    border-radius: 50px;
                    @include borderLine(1px, rgba($theme-black, .2));
                    padding: 1px;
                }
            }

            .add-invest {
                font-size: 1.5rem;
                background: #64c88c;
                color: #fff;
                padding: .6em 1em;
                letter-spacing: 2px;
                font-weight: bold;
            }
        }
    }

    .actionBtn {
        padding-top: 2px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        @include fullButtons();
    }

    .other-info {
        font-size: 1rem;
        color: #888;
        line-height: 2.4;
        font-weight: normal;

        h5 {
            font-size: 1.4rem;
            font-weight: bold;
            color: #333333d4;
            position: relative;
            margin-bottom: 1.62rem;

            &:after {
                content: "";
                position: absolute;
                width: 45%;
                left: 0;
                bottom: -9px;
                height: 2px;
                border-bottom: 1px solid rgba($theme-black, .3);
                margin: auto;
            }
        }
    }

    .join-modal {
        padding: 5px;

        h3 {
            text-align: center;
            color: #3f51b5;
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 15px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 60%;
                left: 0;
                right: 0;
                bottom: -9px;
                height: 2px;
                border-bottom: 1px solid rgba($theme-black, .08);
                margin: auto;
            }
        }

        h4 {
            text-align: center;
            color: #333333da;
            position: relative;
            margin-bottom: 2em;
            font-size: 1.4em;

            &:after {
                content: "";
                position: absolute;
                width: 95%;
                left: 0;
                right: 0;
                bottom: -11px;
                height: 2px;
                border-bottom: 1px solid rgba($theme-black, .08);
                margin: auto;
            }
        }

        .pretty {
            input {
                &:checked {
                    ~ .state {
                        &.p-success {
                            label {
                                &:after {
                                    background-color: $theme-blue !important
                                }
                            }
                        }
                    }
                }
            }

            &.p-toggle {
                .state {
                    &.p-success {
                        label {
                            &:after {
                                background-color: $theme-blue !important
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-footer {
        border-top: 0;

        .btn {
            padding: .5em 2.3em !important;
        }

        .btn-join-add {
            background: #64c88c;
            color: $theme-white;
            font-weight: lighter;
        }

        .btn-cancel {
            background: $theme-white;
            color: #555;
            border: 1px solid #555;
        }
    }
}

.cover {
    position: absolute;
    height: inherit;
    overflow: hidden;
    width: inherit;
    left: 0;
    right: 0;
    content: "";
    background: #000;
    opacity: .5;
    border-radius: inherit
}

.howItWorks {
    padding: 0;
    border-radius: 8px;
    background: $theme-white;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .4);

    h2 {
        color: $theme-blue;
        font-size: 2rem;
        position: relative;
        text-align: center;
        letter-spacing: 5px;
        font-weight: bold;

        &:after {
            content: "";
            position: absolute;
            width: auto;
            border-bottom: 2px solid $theme-blue;
            bottom: 2px;
            left: 10px;
            right: 14px;
            height: 2px;
        }
    }

    h3 {
        color: $theme-blue;
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        margin-top: 19px;
        line-height: 2;
        font-size: 1.1rem;
        font-weight: lighter;
    }

    .inner-holder {
        padding: 3em 4em;
    }

    .first-section, .third-section {
        position: relative;
        height: auto;

        .img-how {
            display: flex;
            justify-content: flex-end;
            padding-top: 3em;

            img {
                width: 70%;
                object-fit: contain;
            }

            .ani {
                animation: bounce 6s ease 5s infinite;
            }
        }

        &:after {
            content: "";
            position: absolute;
            height: 1px;
            width: 90%;
            margin: auto;
            left: 0;
            right: 0;
            background: #ddd;
        }
    }

    .third-section {
        &:after {
            content: none;
        }
    }

    .second-section {
        position: relative;
        height: auto;

        &:after {
            content: "";
            position: absolute;
            height: 1px;
            width: 90%;
            margin: auto;
            left: 0;
            right: 0;
            background: #ddd;
        }
    }
}

.join-steps {
    background: $theme-white;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .bg-down {
        background: url("../images/fancy-2.svg") no-repeat left;
        background-size: auto;
        position: absolute;
        width: 100%;
        bottom: 0;
        top: 50%;
        overflow: hidden;
    }

    .inner-steps {
        padding: 2em 5em;

        .img-join {
            width: 100%;
            height: 500px;
            background-size: contain;
            display: flex;
            justify-content: center;

            img {
                //width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .ac {
            align-items: center;
        }

        .join-content {
            padding: 2em 10px;

            h4 {
                font-size: 2.5rem;
                color: #3E4360;
                font-weight: bold;
                text-align: left;
            }

            h5, h3 {
                font-size: 1.2rem;
                position: relative;
                font-weight: bold;
                color: #3E4360;
                margin-bottom: 10px;
            }

            h3 {
                font-weight: 400;
            }
        }
    }
}
