.header {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 20px;
  nav {
    clear: both;
    position: relative;
    margin: 0 30px;
    .underline {
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        width: 0;
        bottom: 0;
        background: $theme-white;
        height: 1.3px;
        transition-property: width;
        transition: 0.3s ease-out;
        &.active {
          border-bottom: 2px solid $theme-white;
        }
      }
      &:hover,
      :focus,
      :active {
        &::after {
          left: 0;
          right: 0;
          width: 100%;
        }
      }
    }
    .logo-brand {
      margin: 0 20px 0;
      display: inline-block;
      background: url("../images/logo-white.png") no-repeat center;
      background-size: contain;
      width: 100%;
      height: 50px;
      a {
        font-size: 3rem;
        font-weight: bold;
        color: $theme-white;
        letter-spacing: 1px;
      }
    }
    ul {
      margin-right: 0;
      padding-left: 0;
      list-style: none;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
    }
    li a {
      float: left;
      @include Nunito-Sans();
      text-decoration: none;
      font-size: 17px;
      padding: 17px 20px;
      margin-left: 2px;
      letter-spacing: 1px;
      position: relative;
      color: $theme-white;
      font-weight: lighter;
    }
    .login {
      border-radius: 0;
      background: transparent;
      padding: 16.5px 30px;
      margin-right: 20px;
      color: $theme-white;
      @include borderLine(1px, $theme-white);
      box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
    }
    .sign-up {
      border-radius: 0;
      background: $theme-blue;
      padding: 17px 30px;
      color: $theme-white;
      @include borderLine(1px, $theme-blue);
    }
    .drop-down {
      cursor: pointer;
      display: block;
      &:hover {
        > .dropmenu, ul li {
          display: block;
          @include transition(ease, 0.5s);
          animation: fadeIn 0.7s linear;
        }
      }
    }
    .dropmenu {
      display: none;
      position: absolute;
      background: $theme-black;
      width: auto;
      right: 17%;
      text-align: center;
      //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1200;
      top: 68%;
      ul {
        list-style: none;
        padding-left: 0;
        color: $theme-white;
        display: block;
        margin-right: 0;
        min-width: 120px;
      }
      li a {
        color: $theme-white;
        padding: 12px 16px;
        text-align: center;
        letter-spacing: 0 !important;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid rgba($theme-white, .2);
        float: none;
        &:hover {
          background: $theme-black;
        }
      }
    }
    img {
      width: 20px;
      object-fit: contain;
      height: 20px;
      vertical-align: text-bottom;
    }
  }
  &.scrolled {
    position: fixed;
    background: $theme-white;
    @include transition(ease, 0.26s);
    @include boxShadow($shadowBlack, 0, 0, 12px);
    animation: fadeInDown linear .9s;
    z-index: 9999;
    top: 0;
    padding: 10px 20px;
    nav {
      clear: both;
      position: relative;
      margin: 0 30px;
      .underline {
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          z-index: 1;
          right: 0;
          width: 0;
          bottom: 0;
          background: $theme-white;
          height: 1.3px;
          transition-property: width;
          transition: 0.3s ease-out;
          &.active {
            border-bottom: 2px solid $theme-white;
          }
        }
        &:hover,
        :focus,
        :active {
          &::after {
            left: 0;
            right: 0;
            width: 100%;
          }
        }
      }
      .logo-brand {
        margin: 0 20px 0;
        display: inline-block;
        background: url("../images/logblack-edit.png") no-repeat center;
        background-size: contain;
        width: 100%;
        height: 50px;
        a {
          font-size: 3rem;
          font-weight: bold;
          color: $theme-blue;
          letter-spacing: 1px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      ul {
        margin-right: 0;
        padding-left: 0;
        list-style: none;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
      }
      li a {
        float: left;
        @include Nunito-Sans();
        text-decoration: none;
        font-size: 17px;
        padding: 17px 20px;
        margin-left: 2px;
        letter-spacing: 1px;
        position: relative;
        color: $theme-blue;
        font-weight: lighter;
      }
      .login {
        border-radius: 0;
        background: transparent;
        padding: 16.5px 30px;
        margin-right: 20px;
        color: $theme-blue;
        @include borderLine(1px, $theme-blue);
        box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
      }
      .sign-up {
        border-radius: 0;
        background: $theme-blue;
        padding: 17px 30px;
        color: $theme-white;
        @include borderLine(1px, $theme-blue);
      }
      .drop-down {
        cursor: pointer;
        display: block;
        &:hover {
          > .dropmenu, ul li {
            display: block;
            @include transition(ease, 0.5s);
            animation: fadeIn 0.7s linear;
          }
        }
      }
      .dropmenu {
        display: none;
        position: absolute;
        background: $theme-black;
        width: auto;
        right: 17%;
        text-align: center;
        //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1200;
        top: 68%;
        ul {
          list-style: none;
          padding-left: 0;
          color: $theme-white;
          display: block;
          margin-right: 0;
          min-width: 120px;
        }
        li a {
          color: $theme-white;
          padding: 12px 16px;
          text-align: center;
          letter-spacing: 0 !important;
          text-decoration: none;
          display: block;
          border-bottom: 1px solid rgba($theme-white, .2);
          float: none;
          &:hover {
            background: $theme-black;
          }
        }
      }
      img {
        width: 20px;
        object-fit: contain;
        height: 20px;
        vertical-align: text-bottom;
      }
    }
  }
}

.tran {
  background: transparent !important;
}

.footer {
  height: auto;
  clear: both;
  width: 100%;
  background: #f3f3f3;
  padding: 6em 3em 4em;
  @media (min-width: 768px) {
    .col-md-1 {
      -ms-flex: 0 0 12.333333% !important;
      flex: 0 0 12.333333% !important;
      max-width: 12.333333% !important;
    }
  }
  .inner-footer {
    padding: 25px 50px;
    margin: 0;
    color: $theme-black;
    //text-align: center;
    h3 {
      text-align: left;
      padding-left: 5px;
      font-size: 1em;
      color: $theme-blue;
      font-weight: bold;
    }
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }
    li a {
      float: none;
      display: block;
      color: #777777 !important;
      text-align: left;
      font-size: .9em;
      padding: 6px;
      font-weight: lighter;
      &:hover {
        color: $theme-black !important;
      }
    }
    .subscribe {
      small {
        color: #333333;
        font-weight: lighter;
      }
      .form-inline-sub {
        display: -webkit-box;
        margin-top: 15px;
        .form-control {
          background: transparent;
          border-radius: 0;
          color: $theme-blue;
          font-size: .91rem;
          outline: none;
          padding: .375rem .51rem;
          width: 100% !important;
          height: calc(2.5em + 10px);
          border: 0;
          border-bottom: 1px solid $theme-blue;
          &::placeholder {
            color: $theme-blue;
            font-weight: lighter;
          }
          &:focus {
            @include transition(linear, 0.5s);
            background: $theme-white;
            border-bottom: 1px solid $theme-blue;
            color: $theme-blue;
            font-size: 1rem;
            @include noBoxShadow(none);
            outline: 0;
          }
        }
        .btn-send {
          border-radius: 0;
          background: transparent;
          border: 0;
        }
        .input-group-prepend {
          background: transparent;
        }
        .input-group-text {
          border: 0;
          border-bottom: 1px solid $theme-blue;
        }
        .btn-sub-f {
          overflow: hidden;
          color: #555;
          border: none;
          &:hover {
            color: $theme-black;
            font-weight: 600;
          }
        }
      }
    }
    .social-actions {
      padding: 10px 0;
      li a {
        float: left;
        padding: 8px 15px;
        color: #555 !important;
        margin: 0 10px 0 0;
        &:first-child {
          padding-left: 0;
        }
        &:hover {
          @include borderLine(1px, $theme-blue);
          color: $theme-blue;
          border: none;
          span {
            opacity: 1;
            font-weight: bold;
            padding-left: 15px;
            @include transition(ease, 0.5s);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .footer-last {
    font-size: .8em;
    padding: 15px 0 15px;
    width: 100%;
    text-align: center;
    color: $theme-black;
    a {
      color: $theme-black;
      border-bottom: 1px solid rgba($theme-black, .8);
    }
  }
}