<div class="pcoded-content">

  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
              <div class="page-body">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header">
                                  <h5>Applicants List</h5>
                              </div>
                              <div class="card-block">
                                  <div class="dt-responsive table-responsive">
                                      <table id="applicants"
                                             class="table table-striped nowrap">
                                          <thead>
                                          <tr>
                                              <th>First Name</th>
                                              <th>Last Name</th>
                                              <th>Email</th>
                                              <th>Phone Number</th>
                                              <th>Career Brief</th>
                                              <th>Resume</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                              <td>Tiger</td>
                                              <td>Nixion</td>
                                              <td>tigernixion@lanscom.com</td>
                                              <td>09030039933</td>
                                              <td width="250">Lorem is an act of writing a template of content when the user has refused to provide content for the develope</td>
                                              <td>View CV</td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>